## Imports

In [21]:
import pandas as pd
import numpy as np
import time

# Cleaning Company Names

### Long list of Companies

In [22]:
stock_codes = pd.read_csv(r'EOD-datasets-codes.csv')
# stock_codes.head()

In [23]:
stock_codes['Tick'] = stock_codes['Code'].map(lambda x: x[4:])
stock_codes['Name'] = stock_codes['Company Name'].map(lambda x: x[:x.find('(')] )
stock_codes.head(10)

,Code,Company Name,Tick,Name
0,EOD/AAPL,"Apple Inc. (AAPL) Stock Prices, Dividends and ...",AAPL,Apple Inc.
1,EOD/ADES,Advanced Emissions Solutions Inc. (ADES) Stock...,ADES,Advanced Emissions Solutions Inc.
2,EOD/ACST,"Acasti Pharma Inc. (ACST) Stock Prices, Divide...",ACST,Acasti Pharma Inc.
3,EOD/ACTS,Actions Semiconductor Co. Ltd. (ACTS) Stock Pr...,ACTS,Actions Semiconductor Co. Ltd.
4,EOD/ADMP,Adamis Pharmaceuticals Corporation (ADMP) Stoc...,ADMP,Adamis Pharmaceuticals Corporation
5,EOD/ABAX,"ABAXIS Inc. (ABAX) Stock Prices, Dividends and...",ABAX,ABAXIS Inc.
6,EOD/GCH,Aberdeen Greater China Fund Inc. (GCH) Stock P...,GCH,Aberdeen Greater China Fund Inc.
7,EOD/ADMS,Adamas Pharmaceuticals Inc. (ADMS) Stock Price...,ADMS,Adamas Pharmaceuticals Inc.
8,EOD/IAF,Aberdeen Australia Equity Fund Inc (IAF) Stock...,IAF,Aberdeen Australia Equity Fund Inc
9,EOD/ABB,"ABB Ltd (ABB) Stock Prices, Dividends and Splits",ABB,ABB Ltd

In [24]:
scl = stock_codes.columns.tolist()
print(scl)

stock_codes = stock_codes[ ['Tick', 'Name','Code','Company Name']  ]
stock_codes.head()

['Code', 'Company Name', 'Tick', 'Name']

,Tick,Name,Code,Company Name
0,AAPL,Apple Inc.,EOD/AAPL,"Apple Inc. (AAPL) Stock Prices, Dividends and ..."
1,ADES,Advanced Emissions Solutions Inc.,EOD/ADES,Advanced Emissions Solutions Inc. (ADES) Stock...
2,ACST,Acasti Pharma Inc.,EOD/ACST,"Acasti Pharma Inc. (ACST) Stock Prices, Divide..."
3,ACTS,Actions Semiconductor Co. Ltd.,EOD/ACTS,Actions Semiconductor Co. Ltd. (ACTS) Stock Pr...
4,ADMP,Adamis Pharmaceuticals Corporation,EOD/ADMP,Adamis Pharmaceuticals Corporation (ADMP) Stoc...

### Pull FTSE 100 from Wikipedia.

In [25]:
wiki_Ftse = r'https://en.wikipedia.org/wiki/FTSE_100_Index'

FTSE100 = pd.read_html(wiki_Ftse)[2]

FTSE100 = FTSE100.rename(columns= FTSE100.iloc[0])
FTSE100 = FTSE100.iloc[1:]
FTSE100.head()

              Company Ticker      FTSE sector[9]
1                  3i    III  Financial Services
2       Admiral Group    ADM   Nonlife Insurance
3  Anglo American plc    AAL              Mining
4         Antofagasta   ANTO              Mining
5       Ashtead Group    AHT    Support Services

### Create SQL Connection

In [35]:
# Login details: 
DSN_Name = 'traderDSN' ; Login_ID = 'basic' ; pwd = 'pwd1'

# Create a DSN connection and a cursor to do stuff. 
from sqlalchemy import create_engine
import pandas as pd

# The engine does the same job as a connection and a cursor
engine = create_engine(r'mssql+pyodbc://'+Login_ID+':'+pwd+'@'+ DSN_Name)

# Alpha Vantage API

In [27]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import requests
import json
from pprint import pprint
import time

### Single Company Example

In [36]:
# Code to Read a single page
# url = "https://www.alphavantage.co/query"
# function = "TIME_SERIES_DAILY_ADJUSTED"
# symbol = "MSFT"
# api_key = "LSJQLCCGC6A3RJGC"  #  <-- goes here your API KEY

# data = { "function": function, 
#          "symbol": symbol, 
#          "apikey": api_key } 
# page = requests.get(url, params = data).json()

# pprint(page)

In [30]:
def parse_one_ticker(page):
    ''' Creates a dataframe for a single stock ticker. Has sensible names and is ready for import to SQL'''

    ticker  = page['Meta Data']['2. Symbol']
    meta = page['Meta Data']
    #print(ticker,meta)

    # Will fail by here, if the API is giving problems
    all_trades = pd.DataFrame() # reset the data strucutre. 
    for date in page['Time Series (Daily)']:
        trades = page['Time Series (Daily)'][date]
        trades = {key[3:]:value for key,value in trades.items()}
        day_of_trades = pd.DataFrame.from_dict(trades,orient='index').transpose()
        all_trades = all_trades.append(day_of_trades)

    return all_trades

In [31]:
#all_trades = parse_one_ticker(page)
#tablename = 'abcd'
#all_trades.to_sql(tablename, engine, if_exists='append')

### Import a list of Companies

In [32]:
def vantage_scrape_list(companies_df, tablename, schema, engine, function, outputsize, api_key):
    '''  Scrape Tweets from Alpha-Vantage website. Expects a dataframe with column names 'Ticker' and 'Company' '''
    url = "https://www.alphavantage.co/query"
    
    num_firms = companies_df.shape[0]
    delay = 2 # Time to wait after an failed API call.
    min_comps = num_firms # Minimum companies to return.

    failed_codes = [] 
    failed_msg = []
    data_flag = [0] * num_firms
    ticker_flag = [0] * num_firms
    
    nthis, nlast = 0, -1 
    
    # Keep retrying until a certain number are found.
    while sum(data_flag) < min_comps and nlast != nthis:
        for index, company in companies_df.iterrows():
            symbol = company['Ticker'].replace('.','')
            firm_name = company['Company']

            if data_flag[index-1] == 0 and ticker_flag[index-1] == 0:
                # Build dictionary  to access API
                data = { "function": function,  
                         "symbol": symbol,           
                         "apikey": api_key, 
                         "outputsize": outputsize} 

                # Read site and convert to JSON:
                page = requests.get(url, params = data).json()

                try:
                    # Parse the page: 
                    all_trades = parse_one_ticker(page)
                    all_trades['Name'] = firm_name

                    # Do the SQL import:
                    all_trades.to_sql(tablename, engine, if_exists='append', schema='stocks')

                    data_flag[index-1] = 1 # Set Flag
                    print(index, symbol, firm_name, 'Success')

                except KeyError:
                    pv = list(page.values())[0]
                    print(index, symbol, firm_name, pv)
                    if symbol not in failed_codes: 
                        failed_codes.append(symbol)
                        failed_msg.append(pv)
                    time.sleep(delay)

                    # If invalid API store as a flag.
                    if pv[:11] == 'Invalid API':
                        ticker_flag[index - 1] = 1               

        nlast, nthis = nthis, sum(data_flag)
        print('='*60)
        print('{} Companies found'.format(nthis))
        print('='*60)
        
    failed_df = pd.DataFrame(list(zip(failed_codes,failed_msg)))
        
    return failed_df

In [33]:
# Define parameters for one function and then run it:
companies_df = FTSE100.iloc[:10]
tablename = 'Adjusted_all_FTSE'
schema = 'stocks'
api_key = "LSJQLCCGC6A3RJGC"    
function = "TIME_SERIES_DAILY_ADJUSTED"  # "TIME_SERIES_DAILY" "TIME_SERIES_DAILY_ADJUSTED
outputsize = 'full'  # 'full' 'compact'

vantage_scrape_list(companies_df, tablename, schema, engine, function, outputsize, api_key)

1 III 3i Success
2 ADM Admiral Group Success
3 AAL Anglo American plc Success
4 ANTO Antofagasta Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_DAILY_ADJUSTED.
5 AHT Ashtead Group Success
6 ABF Associated British Foods Success
7 AZN AstraZeneca Success
8 AV Aviva Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_DAILY_ADJUSTED.
9 BA BAE Systems Success
10 BARC Barclays Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_DAILY_ADJUSTED.
============================================================
7 Companies found
============================================================
============================================================
7 Companies found
============================================================

      0                                                  1
0  ANTO  Invalid API call. Please retry or visit the do...
1    AV  Invalid API call. Please retry or visit the do...
2  BARC  Invalid API call. Please retry or visit the do...

# Test Morningstar API:

In [40]:
import pandas_datareader as pdr
from datetime import datetime 

today = datetime.now().strftime('%d-%m-%y')
start = '01-01-2015'

In [ ]:
fn = pdr.mstar.daily.MorningstarDailyReader('ANTO', start=start, end=today, incl_splits=True , incl_dividends=True)
company = fn.read()

In [44]:
company

                     Close     High     Low     Open   Volume    isDividend
Symbol Date
AV     2015-01-01  14.9000  14.9000  14.900  14.9000        0           NaN
       2015-01-02  14.8600  14.9800  14.820  14.9400    99391           NaN
       2015-01-05  14.3500  14.5700  14.270  14.5600   153991           NaN
       2015-01-06  14.0600  14.2800  13.970  14.2800   160004           NaN
       2015-01-07  14.0500  14.0700  13.940  14.0500   164367           NaN
       2015-01-08  14.5700  14.6400  14.400  14.4100   134682           NaN
       2015-01-09  14.8600  14.9899  14.790  14.9600   191464           NaN
       2015-01-12  14.7000  14.7700  14.590  14.7600   382786           NaN
       2015-01-13  14.8500  14.9401  14.730  14.7700   304402           NaN
       2015-01-14  15.0500  15.0900  14.910  14.9400   291203           NaN
       2015-01-15  15.3600  15.4500  15.140  15.2200   242818           NaN
       2015-01-16  15.5700  15.5700  15.290  15.4000  1348000           NaN
       2015-01-19  15.5700  15.5700  15.570  15.5700        0           NaN
       2015-01-20  15.8500  15.8600  15.730  15.7400  1056084           NaN
       2015-01-21  16.1500  16.1900  15.930  15.9600  1118609           NaN
       2015-01-22  16.3700  16.3800  16.220  16.2700   333903           NaN
       2015-01-23  16.1300  16.3000  16.110  16.2600   206916           NaN
       2015-01-26  16.4500  16.5200  16.310  16.3400   167815           NaN
       2015-01-27  16.3000  16.3800  16.190  16.2500   106250           NaN
       2015-01-28  16.0200  16.2900  16.010  16.1600   169168           NaN
       2015-01-29  16.3200  16.3500  16.110  16.1800   171432           NaN
       2015-01-30  15.8900  16.1300  15.890  16.0900   151924           NaN
       2015-02-02  16.0300  16.0500  15.890  15.9600   241761           NaN
       2015-02-03  16.3700  16.3900  16.140  16.1600   160470           NaN
       2015-02-04  16.1300  16.2550  16.070  16.1300   306773           NaN
       2015-02-05  16.3400  16.3700  16.240  16.2500    77658           NaN
       2015-02-06  16.3700  16.5700  16.350  16.5200   124293           NaN
       2015-02-09  16.2200  16.3300  16.200  16.2600   106077           NaN
       2015-02-10  16.5100  16.5600  16.420  16.4900   217414           NaN
       2015-02-11  16.3100  16.3600  16.220  16.3500   140508           NaN
...                    ...      ...     ...      ...      ...           ...
       2018-04-05  13.9600  13.9700  13.850  13.8500    45731  s:0.5256<br>
       2018-04-06  13.9500  14.3400  13.950  14.0100    40500           NaN
       2018-04-09  14.2900  14.3500  14.150  14.1500    82180           NaN
       2018-04-10  14.2800  14.4400  14.210  14.4250  1350123           NaN
       2018-04-11  14.2500  14.4300  14.200  14.3700  2373650           NaN
       2018-04-12  14.5350  14.6000  14.460  14.4600    42638           NaN
       2018-04-13  14.5100  14.5960  14.480  14.5700    42512           NaN
       2018-04-16  14.6000  14.6200  14.520  14.5200    86337           NaN
       2018-04-17  14.6800  14.6950  14.590  14.6200    84505           NaN
       2018-04-18  14.7950  14.9000  14.770  14.7800    63853           NaN
       2018-04-19  14.9500  15.0400  14.720  14.9800    70402           NaN
       2018-04-20  14.7150  14.8800  14.670  14.7400    60023           NaN
       2018-04-23  14.7700  15.0500  14.760  14.7700    91433           NaN
       2018-04-24  14.6400  14.8300  14.600  14.8100    88227           NaN
       2018-04-25  14.6600  14.8400  14.530  14.5300    30290           NaN
       2018-04-26  14.7200  14.8400  14.660  14.6700    93979           NaN
       2018-04-27  14.5800  14.7425  14.470  14.5000    85573           NaN
       2018-04-30  14.5900  14.6700  14.540  14.5600    48932           NaN
       2018-05-01  14.7300  14.7300  14.600  14.6500    23228           NaN
       2018-05-02  14.5800  14.7400  14.580  14.7100    83443           NaN
       2018-05-03  14.7000  14.7000  14.530  14.6100   154656           NaN
       2018-05-04  14.6600  14.6700  14.515  14.5150    23820           NaN
       2018-05-07  14.6800  14.7040  14.540  14.6900    19708           NaN
       2018-05-08  14.7200  14.7200  14.584  14.5840   203425           NaN
       2018-05-09  14.8050  14.8200  14.614  14.6140    33980           NaN
       2018-05-10  14.7600  14.7600  14.630  14.6800    47680           NaN
       2018-05-11  14.7699  14.8337  14.720  14.8337    47979           NaN
       2018-05-14  14.6200  14.7780  14.530  14.6650    65405           NaN
       2018-05-15  14.7550  14.8300  14.700  14.7000    66599           NaN
       2018-05-16  14.7800  14.8100  14.705  14.7400    25017           NaN

[880 rows x 6 columns]

In [1]:
c_list =''' 
III
ADM
AAL
ANTO
AHT
ABF
AZN
AV.
BA.
BARC
BDEV
BKG
BLT
BP.
BATS
BLND
BT.A
BNZL
BRBY
CCL
CNA
CCH
CPG
CRH
CRDA
DCC
DGE
DLG
EZJ
EVR
EXPN
FERG
FRES
GFS
GSK
GLEN
HLMA
HL.
HSBA
IMB
INF
IHG
IAG
ITRK
ITV
JMAT
JE.
KGF
LAND
LGEN
LLOY
LSE
MKS
MDC
MRO
MCRO
MNDI
MRW
NG.
NXT
NMC
OML
PPB
PSON
PSN
PRU
RRS
RB.
REL
RTO
RIO
RR.
RBS
RDSA
RDSB
RMG
RSA
SGE
SBRY
SDR
SMT
SGRO
SVT
SHP
SKY
SN.
SMDS
SMIN
SKG
SSE
STJ
STAN
SLA
TW.
TSCO
TUI
ULVR
UU.
VOD
WTB
WPP'''
c_list


tickers = c_list.split('\n')[1:]

tickersc= list(map(lambda x: x.replace('.',''),tickers))

In [3]:
company = []
for i, tick in enumerate(tickers[:10]):  
    print(i, tick)
    fn = pdr.mstar.daily.MorningstarDailyReader(tick, start=start, end=today, incl_splits=True , incl_dividends=True)
    company.append(fn.read())
    
# Doesn't work 
len(company)

0 III

NameError: name 'pdr' is not defined

In [6]:
pdr.mstar.daily

In [ ]:
fn = pdr.mstar.daily.MorningstarDailyReader(tickers[:5], start=start, end=today, incl_splits=True , incl_dividends=True)
fn.read()

In [ ]:
# Throw a whole data frame in at a time into SQL
# Get a reliable list of all the companies.

In [47]:
for Comp in FTSE100:
    print(Comp)

Company
Ticker
FTSE sector[9]

In [58]:
for i, row in FTSE100.iterrows():
    print(row['Ticker'])

III
ADM
AAL
ANTO
AHT
ABF
AZN
AV.
BA.
BARC
BDEV
BKG
BLT
BP.
BATS
BLND
BT.A
BNZL
BRBY
CCL
CNA
CCH
CPG
CRH
CRDA
DCC
DGE
DLG
EZJ
EVR
EXPN
FERG
FRES
GFS
GSK
GLEN
HLMA
HL.
HSBA
IMB
INF
IHG
IAG
ITRK
ITV
JMAT
JE.
KGF
LAND
LGEN
LLOY
LSE
MKS
MDC
MRO
MCRO
MNDI
MRW
NG.
NXT
NMC
OML
PPB
PSON
PSN
PRU
RRS
RB.
REL
RTO
RIO
RR.
RBS
RDSA
RMG
RSA
SGE
SBRY
SDR
SMT
SGRO
SVT
SHP
SKY
SN.
SMDS
SMIN
SKG
SSE
STAN
SLA
STJ
TW.
TSCO
TUI
ULVR
UU.
VOD
WTB
WPP

In [90]:
df4 read.json(page)

{'Meta Data': {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'MSFT',
  '3. Last Refreshed': '2018-05-15',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2017-12-20': {'1. open': '86.2000',
   '2. high': '86.3000',
   '3. low': '84.7100',
   '4. close': '85.5200',
   '5. adjusted close': '85.1263',
   '6. volume': '23425009',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-21': {'1. open': '86.0500',
   '2. high': '86.1000',
   '3. low': '85.4000',
   '4. close': '85.5000',
   '5. adjusted close': '85.1064',
   '6. volume': '16638402',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-22': {'1. open': '85.4000',
   '2. high': '85.6300',
   '3. low': '84.9200',
   '4. close': '85.5100',
   '5. adjusted close': '85.1163',
   '6. volume': '14033977',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-26': {'1. open': '85.3100',
   '2. high': '85.5346',
   '3. low': '85.0300',
   '4. close': '85.4000',
   '5. adjusted close': '85.0068',
   '6. volume': '9737412',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-27': {'1. open': '85.6500',
   '2. high': '85.9800',
   '3. low': '85.2150',
   '4. close': '85.7100',
   '5. adjusted close': '85.3154',
   '6. volume': '13000828',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-28': {'1. open': '85.9000',
   '2. high': '85.9300',
   '3. low': '85.5500',
   '4. close': '85.7200',
   '5. adjusted close': '85.3254',
   '6. volume': '9872795',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2017-12-29': {'1. open': '85.6300',
   '2. high': '86.0500',
   '3. low': '85.5000',
   '4. close': '85.5400',
   '5. adjusted close': '85.1462',
   '6. volume': '18162779',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-02': {'1. open': '86.1250',
   '2. high': '86.3100',
   '3. low': '85.5000',
   '4. close': '85.9500',
   '5. adjusted close': '85.5543',
   '6. volume': '21993101',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-03': {'1. open': '86.0550',
   '2. high': '86.5100',
   '3. low': '85.9700',
   '4. close': '86.3500',
   '5. adjusted close': '85.9525',
   '6. volume': '24173064',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-04': {'1. open': '86.5900',
   '2. high': '87.6600',
   '3. low': '86.5700',
   '4. close': '87.1100',
   '5. adjusted close': '86.7090',
   '6. volume': '21145985',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-05': {'1. open': '87.6600',
   '2. high': '88.4100',
   '3. low': '87.4300',
   '4. close': '88.1900',
   '5. adjusted close': '87.7840',
   '6. volume': '22526563',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-08': {'1. open': '88.2000',
   '2. high': '88.5800',
   '3. low': '87.6046',
   '4. close': '88.2800',
   '5. adjusted close': '87.8736',
   '6. volume': '20293930',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-09': {'1. open': '88.6500',
   '2. high': '88.7272',
   '3. low': '87.8600',
   '4. close': '88.2200',
   '5. adjusted close': '87.8139',
   '6. volume': '19390427',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-10': {'1. open': '87.8600',
   '2. high': '88.1900',
   '3. low': '87.4100',
   '4. close': '87.8200',
   '5. adjusted close': '87.4157',
   '6. volume': '18129153',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-11': {'1. open': '88.1300',
   '2. high': '88.1300',
   '3. low': '87.2400',
   '4. close': '88.0800',
   '5. adjusted close': '87.6745',
   '6. volume': '16529868',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-12': {'1. open': '88.6700',
   '2. high': '89.7800',
   '3. low': '88.4500',
   '4. close': '89.6000',
   '5. adjusted close': '89.1875',
   '6. volume': '24000439',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-16': {'1. open': '90.1000',
   '2. high': '90.7900',
   '3. low': '88.0104',
   '4. close': '88.3500',
   '5. adjusted close': '87.9433',
   '6. volume': '35945428',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-17': {'1. open': '89.0800',
   '2. high': '90.2800',
   '3. low': '88.7500',
   '4. close': '90.1400',
   '5. adjusted close': '89.7250',
   '6. volume': '24659472',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-18': {'1. open': '89.8000',
   '2. high': '90.6700',
   '3. low': '89.6600',
   '4. close': '90.1000',
   '5. adjusted close': '89.6852',
   '6. volume': '22931303',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-19': {'1. open': '90.1400',
   '2. high': '90.6100',
   '3. low': '89.6600',
   '4. close': '90.0000',
   '5. adjusted close': '89.5857',
   '6. volume': '34896964',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-22': {'1. open': '90.0000',
   '2. high': '91.6200',
   '3. low': '89.7400',
   '4. close': '91.6100',
   '5. adjusted close': '91.1883',
   '6. volume': '23190700',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-23': {'1. open': '91.9000',
   '2. high': '92.3000',
   '3. low': '91.5400',
   '4. close': '91.9000',
   '5. adjusted close': '91.4769',
   '6. volume': '22283365',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-24': {'1. open': '92.5500',
   '2. high': '93.4300',
   '3. low': '91.5800',
   '4. close': '91.8200',
   '5. adjusted close': '91.3973',
   '6. volume': '32107765',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-25': {'1. open': '92.4650',
   '2. high': '93.2400',
   '3. low': '91.9300',
   '4. close': '92.3300',
   '5. adjusted close': '91.9049',
   '6. volume': '23983094',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-26': {'1. open': '93.1200',
   '2. high': '94.0600',
   '3. low': '92.5800',
   '4. close': '94.0600',
   '5. adjusted close': '93.6270',
   '6. volume': '26348999',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-29': {'1. open': '95.1400',
   '2. high': '95.4500',
   '3. low': '93.7200',
   '4. close': '93.9200',
   '5. adjusted close': '93.4876',
   '6. volume': '30409620',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-30': {'1. open': '93.3000',
   '2. high': '93.6600',
   '3. low': '92.1000',
   '4. close': '92.7400',
   '5. adjusted close': '92.3130',
   '6. volume': '34153798',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-01-31': {'1. open': '93.7500',
   '2. high': '95.4000',
   '3. low': '93.5100',
   '4. close': '95.0100',
   '5. adjusted close': '94.5726',
   '6. volume': '44284284',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-01': {'1. open': '94.7900',
   '2. high': '96.0700',
   '3. low': '93.5813',
   '4. close': '94.2600',
   '5. adjusted close': '93.8261',
   '6. volume': '46645657',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-02': {'1. open': '93.6400',
   '2. high': '93.9700',
   '3. low': '91.5000',
   '4. close': '91.7800',
   '5. adjusted close': '91.3575',
   '6. volume': '47076959',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-05': {'1. open': '90.5600',
   '2. high': '93.2400',
   '3. low': '88.0000',
   '4. close': '88.0000',
   '5. adjusted close': '87.5949',
   '6. volume': '42253469',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-06': {'1. open': '86.8900',
   '2. high': '91.4750',
   '3. low': '85.2500',
   '4. close': '91.3300',
   '5. adjusted close': '90.9095',
   '6. volume': '66157030',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-07': {'1. open': '90.4900',
   '2. high': '91.7700',
   '3. low': '89.2000',
   '4. close': '89.6100',
   '5. adjusted close': '89.1975',
   '6. volume': '40340551',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-08': {'1. open': '89.7100',
   '2. high': '89.8750',
   '3. low': '84.7600',
   '4. close': '85.0100',
   '5. adjusted close': '84.6186',
   '6. volume': '47485202',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-09': {'1. open': '86.3000',
   '2. high': '88.9300',
   '3. low': '83.8300',
   '4. close': '88.1800',
   '5. adjusted close': '87.7740',
   '6. volume': '57408480',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-12': {'1. open': '88.7350',
   '2. high': '89.7800',
   '3. low': '87.9295',
   '4. close': '89.1300',
   '5. adjusted close': '88.7197',
   '6. volume': '35501368',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-13': {'1. open': '88.9300',
   '2. high': '90.0000',
   '3. low': '87.8000',
   '4. close': '89.8300',
   '5. adjusted close': '89.4164',
   '6. volume': '26200053',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-14': {'1. open': '88.5100',
   '2. high': '90.9900',
   '3. low': '88.4100',
   '4. close': '90.8100',
   '5. adjusted close': '90.8100',
   '6. volume': '34314101',
   '7. dividend amount': '0.4200',
   '8. split coefficient': '1.0000'},
  '2018-02-15': {'1. open': '91.2100',
   '2. high': '92.7200',
   '3. low': '90.6200',
   '4. close': '92.6600',
   '5. adjusted close': '92.6600',
   '6. volume': '27407914',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-16': {'1. open': '92.4500',
   '2. high': '93.5000',
   '3. low': '91.8000',
   '4. close': '92.0000',
   '5. adjusted close': '92.0000',
   '6. volume': '30188535',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-20': {'1. open': '91.4750',
   '2. high': '93.0600',
   '3. low': '91.0100',
   '4. close': '92.7200',
   '5. adjusted close': '92.7200',
   '6. volume': '30107057',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-21': {'1. open': '92.9800',
   '2. high': '93.3595',
   '3. low': '91.4900',
   '4. close': '91.4900',
   '5. adjusted close': '91.4900',
   '6. volume': '26081953',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-22': {'1. open': '92.0500',
   '2. high': '92.7300',
   '3. low': '91.3600',
   '4. close': '91.7300',
   '5. adjusted close': '91.7300',
   '6. volume': '22723756',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-23': {'1. open': '92.7500',
   '2. high': '94.0700',
   '3. low': '92.3600',
   '4. close': '94.0600',
   '5. adjusted close': '94.0600',
   '6. volume': '25779955',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-26': {'1. open': '94.4000',
   '2. high': '95.4500',
   '3. low': '94.2500',
   '4. close': '95.4200',
   '5. adjusted close': '95.4200',
   '6. volume': '29760276',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-27': {'1. open': '95.7400',
   '2. high': '95.8400',
   '3. low': '94.2000',
   '4. close': '94.2000',
   '5. adjusted close': '94.2000',
   '6. volume': '25540755',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-02-28': {'1. open': '94.8400',
   '2. high': '95.7050',
   '3. low': '93.6300',
   '4. close': '93.7700',
   '5. adjusted close': '93.7700',
   '6. volume': '29314525',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-01': {'1. open': '93.9900',
   '2. high': '94.5700',
   '3. low': '91.8400',
   '4. close': '92.8500',
   '5. adjusted close': '92.8500',
   '6. volume': '37135561',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-02': {'1. open': '91.5800',
   '2. high': '93.1500',
   '3. low': '90.8600',
   '4. close': '93.0500',
   '5. adjusted close': '93.0500',
   '6. volume': '32830389',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-05': {'1. open': '92.3400',
   '2. high': '94.2700',
   '3. low': '92.2600',
   '4. close': '93.6400',
   '5. adjusted close': '93.6400',
   '6. volume': '23901578',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-06': {'1. open': '94.3400',
   '2. high': '94.4900',
   '3. low': '92.9410',
   '4. close': '93.3200',
   '5. adjusted close': '93.3200',
   '6. volume': '22175776',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-07': {'1. open': '93.1600',
   '2. high': '93.9406',
   '3. low': '92.4300',
   '4. close': '93.8600',
   '5. adjusted close': '93.8600',
   '6. volume': '26716127',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-08': {'1. open': '94.2700',
   '2. high': '95.1000',
   '3. low': '93.7650',
   '4. close': '94.4300',
   '5. adjusted close': '94.4300',
   '6. volume': '24861307',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-09': {'1. open': '95.2900',
   '2. high': '96.5400',
   '3. low': '95.0000',
   '4. close': '96.5400',
   '5. adjusted close': '96.5400',
   '6. volume': '36145524',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-12': {'1. open': '96.5000',
   '2. high': '97.2100',
   '3. low': '96.0400',
   '4. close': '96.7700',
   '5. adjusted close': '96.7700',
   '6. volume': '25333720',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-13': {'1. open': '97.0000',
   '2. high': '97.2400',
   '3. low': '93.9700',
   '4. close': '94.4100',
   '5. adjusted close': '94.4100',
   '6. volume': '34445391',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-14': {'1. open': '95.1200',
   '2. high': '95.4100',
   '3. low': '93.5000',
   '4. close': '93.8500',
   '5. adjusted close': '93.8500',
   '6. volume': '31576898',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-15': {'1. open': '93.5300',
   '2. high': '94.5800',
   '3. low': '92.8300',
   '4. close': '94.1800',
   '5. adjusted close': '94.1800',
   '6. volume': '26279014',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-16': {'1. open': '94.6800',
   '2. high': '95.3800',
   '3. low': '93.9200',
   '4. close': '94.6000',
   '5. adjusted close': '94.6000',
   '6. volume': '47329521',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-19': {'1. open': '93.7400',
   '2. high': '93.9000',
   '3. low': '92.1100',
   '4. close': '92.8900',
   '5. adjusted close': '92.8900',
   '6. volume': '31752589',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-20': {'1. open': '93.0500',
   '2. high': '93.7700',
   '3. low': '93.0000',
   '4. close': '93.1300',
   '5. adjusted close': '93.1300',
   '6. volume': '21787780',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-21': {'1. open': '92.9300',
   '2. high': '94.0500',
   '3. low': '92.2100',
   '4. close': '92.4800',
   '5. adjusted close': '92.4800',
   '6. volume': '23753263',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-22': {'1. open': '91.2650',
   '2. high': '91.7500',
   '3. low': '89.6600',
   '4. close': '89.7900',
   '5. adjusted close': '89.7900',
   '6. volume': '37578166',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-23': {'1. open': '89.5000',
   '2. high': '90.4600',
   '3. low': '87.0800',
   '4. close': '87.1800',
   '5. adjusted close': '87.1800',
   '6. volume': '42159397',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-26': {'1. open': '90.6100',
   '2. high': '94.0000',
   '3. low': '90.4000',
   '4. close': '93.7800',
   '5. adjusted close': '93.7800',
   '6. volume': '55031149',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-27': {'1. open': '94.9400',
   '2. high': '95.1390',
   '3. low': '88.5100',
   '4. close': '89.4700',
   '5. adjusted close': '89.4700',
   '6. volume': '53704562',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-28': {'1. open': '89.8200',
   '2. high': '91.2300',
   '3. low': '88.8730',
   '4. close': '89.3900',
   '5. adjusted close': '89.3900',
   '6. volume': '52501146',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-03-29': {'1. open': '90.1800',
   '2. high': '92.2900',
   '3. low': '88.4000',
   '4. close': '91.2700',
   '5. adjusted close': '91.2700',
   '6. volume': '45867548',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-02': {'1. open': '90.4700',
   '2. high': '90.8800',
   '3. low': '87.5100',
   '4. close': '88.5200',
   '5. adjusted close': '88.5200',
   '6. volume': '48515417',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-03': {'1. open': '89.5750',
   '2. high': '90.0500',
   '3. low': '87.8900',
   '4. close': '89.7100',
   '5. adjusted close': '89.7100',
   '6. volume': '37213837',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-04': {'1. open': '87.8500',
   '2. high': '92.7600',
   '3. low': '87.7300',
   '4. close': '92.3300',
   '5. adjusted close': '92.3300',
   '6. volume': '35559956',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-05': {'1. open': '92.4350',
   '2. high': '93.0650',
   '3. low': '91.4000',
   '4. close': '92.3800',
   '5. adjusted close': '92.3800',
   '6. volume': '29771881',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-06': {'1. open': '91.4900',
   '2. high': '92.4600',
   '3. low': '89.4800',
   '4. close': '90.2300',
   '5. adjusted close': '90.2300',
   '6. volume': '38026000',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-09': {'1. open': '91.0400',
   '2. high': '93.1700',
   '3. low': '90.6200',
   '4. close': '90.7700',
   '5. adjusted close': '90.7700',
   '6. volume': '31533943',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-10': {'1. open': '92.3900',
   '2. high': '93.2800',
   '3. low': '91.6400',
   '4. close': '92.8800',
   '5. adjusted close': '92.8800',
   '6. volume': '26939883',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-11': {'1. open': '92.0100',
   '2. high': '93.2900',
   '3. low': '91.4800',
   '4. close': '91.8600',
   '5. adjusted close': '91.8600',
   '6. volume': '24872110',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-12': {'1. open': '92.4300',
   '2. high': '94.1600',
   '3. low': '92.4300',
   '4. close': '93.5800',
   '5. adjusted close': '93.5800',
   '6. volume': '26758879',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-13': {'1. open': '94.0500',
   '2. high': '94.1800',
   '3. low': '92.4400',
   '4. close': '93.0800',
   '5. adjusted close': '93.0800',
   '6. volume': '23346063',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},
  '2018-04-16': {'1. open': '94.0700',
   '2. high': '94.6600',
   '3. low': '93.4200',
   '4. close': '94.1700',
   '5. adjusted close': '94.1700',
   '6. volume': '20288083',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0000'},