In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import talib as ta
from datetime import datetime
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns ; sns.set()
from sklearn.metrics import accuracy_score, r2_score
from datetime import datetime as dt, timedelta

In [2]:
def get_prices(ticker, start_date, end_date):
    start = datetime.strptime(start_date, '%d/%m/%Y')
    end = datetime.strptime(end_date, '%d/%m/%Y')
    f = web.DataReader(ticker, 'morningstar', start, end)
    df = pd.DataFrame(f)
    
    return df

## SQL Connection

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

def create_connection():
    # Login details: 
    DSN_Name = 'traderDSN' ; Login_ID = 'basic' ; pwd = 'pwd1'

    # The engine does the same job as a connection and a cursor
    engine = create_engine(r'mssql+pyodbc://'+Login_ID+':'+pwd+'@'+ DSN_Name) 

    return engine 

# Build query here:
query = ''' 
SELECT * FROM {schema}.{table_name}

'''.format(schema='stocks', table_name='Adjusted_Fortune_500')
print('Query:', query)
print('='*60)


engine = create_connection()

# Importing a Pandas Dataframe: 
df1 = pd.read_sql(query,engine)

df1.head()

Query:
SELECT * FROM stocks.Adjusted_Fortune_500


============================================================

,index,open,high,low,close,adjusted close,volume,dividend amount,split coefficient,date,Name,Ticker
0,0,84.1400,84.5400,83.8200,84.5100,84.5100,10713391,0.0000,1.0000,2018-05-21,Walmart,WMT
1,0,84.2400,84.4400,83.4900,83.6400,83.6400,12043137,0.0000,1.0000,2018-05-18,Walmart,WMT
2,0,87.0400,87.5900,83.8500,84.4900,84.4900,29720738,0.0000,1.0000,2018-05-17,Walmart,WMT
3,0,84.8700,86.6250,84.7400,86.1300,86.1300,13733627,0.0000,1.0000,2018-05-16,Walmart,WMT
4,0,84.0600,84.8800,83.8000,84.5200,84.5200,9322923,0.0000,1.0000,2018-05-15,Walmart,WMT

In [4]:
prices = df1.copy()

prices = prices.drop(columns=['index','close', 'split coefficient','dividend amount'])
prices = prices.rename(columns={'Ticker':'symbol','adjusted close':'close','Name':'name'})
prices.head()

      open     high      low    close    volume        date     name symbol
0  84.1400  84.5400  83.8200  84.5100  10713391  2018-05-21  Walmart    WMT
1  84.2400  84.4400  83.4900  83.6400  12043137  2018-05-18  Walmart    WMT
2  87.0400  87.5900  83.8500  84.4900  29720738  2018-05-17  Walmart    WMT
3  84.8700  86.6250  84.7400  86.1300  13733627  2018-05-16  Walmart    WMT
4  84.0600  84.8800  83.8000  84.5200   9322923  2018-05-15  Walmart    WMT

In [5]:
    %%time 
    
    # Create engine and query 
    engine = create_connection()
    query = ''' 
    SELECT * FROM {schema}.{table_name}
    '''.format(schema='stocks', table_name='Adjusted_Fortune_500')

    # Importing a Pandas Dataframe
    prices = pd.read_sql(query,engine)
    prices = prices.drop(columns=['index','close', 'split coefficient','dividend amount'])
    prices = prices.rename(columns={'Ticker':'symbol','adjusted close':'close','Name':'name'})
    
    # Reformat column types
    prices['open']  = prices['open'].astype(float)
    prices['high']  = prices['high'].astype(float)
    prices['low']   = prices['low'].astype(float)
    prices['close'] = prices['close'].astype(float)
    prices['volume']= prices['volume'].astype(float)

    prices['date'] = pd.to_datetime(prices['date'])

    prices.set_index(['name', 'symbol', 'date'], inplace=True)
    prices = prices.sort_index(level=1, ascending=True)

Wall time: 24.6 s

In [6]:
prices.head()

                          open     high      low    close      volume
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0

In [7]:
    # Calculated columns
    prices  = prices.copy().loc[(prices.loc[:,'open':'volume'] != 0 ).all(axis=1)] # Don't touch this (:
    
    # Group over the symbols. 
    prices_g = prices.groupby(level=['name'])
    
    EMA_lengths = [20, 50, 200]  # Calculate many moving averages, of closing prices
    for l in EMA_lengths: 
        prices['EMA_'+str(l)] = prices_g.close.apply(lambda x: ta.EMA(x,l))   

    prices['EMA_ratio'] = prices['EMA_200']/prices['EMA_50'] # Ratio of moving average
    prices['RSI'] = prices_g.close.apply(lambda x: ta.RSI(x, 14))  # 14 day relative strength index

    def CCI_func(x):
        xh = x.high 
        xl = x.low 
        xc = x.close 
        return ta.CCI(high=xh, low=xl, close=xc, timeperiod=5)
   
    prices['CCI'] = prices_g.apply(CCI_func).reset_index(level=0,).drop(columns='name')    # created an extra column. 

    prices['Momentum'] = prices_g.close.apply(lambda x: ta.MOM(x, 10))  # 10 day rolling momentum changed to prices_g.close

    def Stoch_fast(x, index):
        xh = x.high 
        xl = x.low 
        xc = x.close 
        return ta.STOCHF(high=xh, low=xl, close=xc, fastk_period=14, fastd_period=3)[index] # Params 14, 3    
    
    #prices['Stoch_fastk'] = prices_g.apply(Stoch_fast, 0).reset_index(level=1,).drop(columns='symbol')   # Stochastic fast indicator
    #prices['Stoch_fastd'] = prices_g.apply(Stoch_fast, 1).reset_index(level=1,).drop(columns='symbol')

   # def OBV_func(x):
    #    xc = x.close
   #     xv = x.volume
    #    return ta.OBV(xc, xv) 
    #prices['OBV'] = prices_g.apply(OBV_func).reset_index(level=1,).drop(columns='symbol')  # On Balance Volume
    

    def bband_func(x, index):
        xc = x.close
        return ta.BBANDS(xc)[index]
    
    prices['bbandupper'] = prices_g.apply(bband_func, 0).reset_index(level=0,).drop(columns='name')
    prices['bbandmiddle'] = prices_g.apply(bband_func, 1).reset_index(level=0,).drop(columns='name') 
    prices['bbandlower'] =  prices_g.apply(bband_func, 2).reset_index(level=0,).drop(columns='name')

In [8]:
prices['bbandlowerii'] =  prices['bbandlower']/prices['close']
prices['bbandupperii'] =  prices['bbandupper']/prices['close']

In [9]:
prices.head(205)

                          open     high      low    close      volume  \
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0
             2016-11-08  24.30  26.5900  24.3000  26.4000   6469979.0
             2016-11-09  26.83  29.1400  26.0000  28.7200  10675856.0
             2016-11-10  29.08  29.7000  28.3000  29.1000   8189887.0
             2016-11-11  29.18  29.9900  27.6300  29.3000   5337239.0
             2016-11-14  29.50  29.9400  28.6100  29.6200   5156737.0
             2016-11-15  28.94  30.2300  28.8300  30.2100   3668883.0
             2016-11-16  29.69  31.6900  29.6600  31.4200   6150098.0
             2016-11-17  31.30  32.0200  30.7700  31.8500   4693203.0
             2016-11-18  31.73  31.7700  30.1600  30.4200   4421730.0
             2016-11-21  30.89  30.9800  29.5010  30.6900   2986107.0
             2016-11-22  31.10  31.9100  30.5400  31.3400   4182721.0
             2016-11-23  31.00  31.9300  30.0000  31.5100   4112265.0
             2016-11-25  31.24  32.1900  31.1100  31.7000   3109628.0
             2016-11-28  31.48  31.8000  30.7000  30.8600   5121935.0
             2016-11-29  30.02  30.4999  29.7300  29.7300   4927708.0
             2016-11-30  30.06  30.4400  28.8500  28.9700   5131539.0
             2016-12-01  28.84  29.4200  28.6000  28.8800   5006186.0
             2016-12-02  28.86  29.6250  28.7300  29.0400   3870676.0
             2016-12-05  29.03  31.2768  28.8900  31.2200   7034136.0
             2016-12-06  30.71  31.1900  30.2100  31.1500   3248595.0
             2016-12-07  31.30  31.8900  30.7653  30.9000   5778259.0
             2016-12-08  31.28  31.8400  30.8000  31.3100   3064978.0
             2016-12-09  31.31  32.1100  31.0400  32.0500   4344295.0
             2016-12-12  32.16  32.3500  30.8500  31.2400   3416012.0
             2016-12-13  31.40  31.7300  30.0300  30.2400   4215143.0
...                        ...      ...      ...      ...         ...
             2017-07-14  36.20  36.4400  35.9800  36.3200   3966487.0
             2017-07-17  36.44  36.6900  36.2050  36.4000   3453010.0
             2017-07-18  36.40  36.4800  35.8000  36.4300   3049846.0
             2017-07-19  36.61  36.6200  36.0700  36.5000   4431844.0
             2017-07-20  35.95  37.3100  35.9500  36.7200   4745762.0
             2017-07-21  36.55  36.8590  36.5060  36.6200   2449086.0
             2017-07-24  36.59  36.8800  36.5100  36.6900   2244773.0
             2017-07-25  37.07  37.3800  36.8650  37.3000   3403471.0
             2017-07-26  37.42  37.6100  36.5600  36.6300   3390179.0
             2017-07-27  36.84  37.0700  36.0850  36.3600   2044059.0
             2017-07-28  36.17  36.3200  35.5400  35.6400   2851126.0
             2017-07-31  35.97  36.4400  35.6650  36.4000   2137320.0
             2017-08-01  36.46  36.7400  35.9100  36.3800   1918688.0
             2017-08-02  36.27  37.3300  36.2000  37.2800   2962758.0
             2017-08-03  37.28  37.6000  36.9400  37.0900   2884558.0
             2017-08-04  37.34  37.5000  36.7300  37.4200   2285810.0
             2017-08-07  38.00  38.4700  37.6100  37.9900   4914994.0
             2017-08-08  38.50  40.3620  38.3600  39.5800   8674921.0
             2017-08-09  39.21  39.4500  38.4000  38.6200   3692522.0
             2017-08-10  38.12  38.7800  37.7150  37.7800   3515585.0
             2017-08-11  37.21  37.9100  36.9300  37.7800   2936153.0
             2017-08-14  38.11  38.1580  37.1250  37.1900   2129458.0
             2017-08-15  37.30  37.9800  37.1400  37.5000   1826477.0
             2017-08-16  37.96  39.3300  37.9100  39.2300   4295678.0
             2017-08-17  39.00  39.0000  37.7500  37.8000   3272834.0
             2017-08-18  37.88  38.2100  37.3400  37.7600   2028802.0
             2017-08-21  38.19  38.6600  38.0500  38.4700   2331799.0
             2017-08-22  38.74  40.1300  38.7300  39.7700   3867097.0
             2017-08-23  39.56  41.4400  39.4500  41.0600   4820314.0
             2017-08-24  40.88  41.5500  40.5600  41.3400   3103742.0

                            EMA_20     EMA_50    EMA_200  EMA_ratio  \
name  symbol date
Alcoa AA     2016-11-01        NaN        NaN        NaN        NaN
             2016-11-02        NaN        NaN        NaN        NaN
             2016-11-03        NaN        NaN        NaN        NaN
             2016-11-04        NaN        NaN        NaN        NaN
             2016-11-07        NaN        NaN        NaN        NaN
             2016-11-08        NaN        NaN        NaN        NaN
             2016-11-09        NaN        NaN        NaN        NaN
             2016-11-10        NaN        NaN        NaN        NaN
             2016-11-11        NaN        NaN        NaN        NaN
             2016-11-14        NaN        NaN        NaN        NaN
             2016-11-15        NaN        NaN        NaN        NaN
             2016-11-16        NaN        NaN        NaN        NaN
             2016-11-17        NaN        NaN        NaN        NaN
             2016-11-18        NaN        NaN        NaN        NaN
             2016-11-21        NaN        NaN        NaN        NaN
             2016-11-22        NaN        NaN        NaN        NaN
             2016-11-23        NaN        NaN        NaN        NaN
             2016-11-25        NaN        NaN        NaN        NaN
             2016-11-28        NaN        NaN        NaN        NaN
             2016-11-29  28.640065        NaN        NaN        NaN
             2016-11-30  28.671487        NaN        NaN        NaN
             2016-12-01  28.691346        NaN        NaN        NaN
             2016-12-02  28.724551        NaN        NaN        NaN
             2016-12-05  28.962213        NaN        NaN        NaN
             2016-12-06  29.170573        NaN        NaN        NaN
             2016-12-07  29.335281        NaN        NaN        NaN
             2016-12-08  29.523349        NaN        NaN        NaN
             2016-12-09  29.763983        NaN        NaN        NaN
             2016-12-12  29.904556        NaN        NaN        NaN
             2016-12-13  29.936503        NaN        NaN        NaN
...                            ...        ...        ...        ...
             2017-07-14  33.642758  33.024688        NaN        NaN
             2017-07-17  33.905353  33.157053        NaN        NaN
             2017-07-18  34.145795  33.285404        NaN        NaN
             2017-07-19  34.370005  33.411466        NaN        NaN
             2017-07-20  34.593814  33.541213        NaN        NaN
             2017-07-21  34.786784  33.661949        NaN        NaN
             2017-07-24  34.968043  33.780697        NaN        NaN
             2017-07-25  35.190134  33.918708        NaN        NaN
             2017-07-26  35.327264  34.025034        NaN        NaN
             2017-07-27  35.425620  34.116601        NaN        NaN
             2017-07-28  35.446037  34.176342        NaN        NaN
             2017-07-31  35.536891  34.263544        NaN        NaN
             2017-08-01  35.617187  34.346543        NaN        NaN
             2017-08-02  35.775550  34.461580        NaN        NaN
             2017-08-03  35.900736  34.564655        NaN        NaN
             2017-08-04  36.045428  34.676630        NaN        NaN
             2017-08-07  36.230625  34.806566        NaN        NaN
             2017-08-08  36.549613  34.993759        NaN        NaN
             2017-08-09  36.746793  35.135965        NaN        NaN
             2017-08-10  36.845193  35.239652        NaN        NaN
             2017-08-11  36.934223  35.339274        NaN        NaN
             2017-08-14  36.958582  35.411851        NaN        NaN
             2017-08-15  37.010146  35.493740        NaN        NaN
             2017-08-16  37.221561  35.640260        NaN        NaN
             2017-08-17  37.276650  35.724955  33.258206   0.930952
             2017-08-18  37.322683  35.804761  33.303000   0.930128
             2017-08-21  37.431952  35.909280  33.354413   0.928852
             2017-08-22  37.654623  36.060681  33.418250   0.926723
             2017-08-23  37.978945  36.256733  33.494287   0.923809
             2017-08-24  38.299045  36.456077  33.572354   0.920899

                               RSI         CCI  Momentum  bbandupper  \
name  symbol date
Alcoa AA     2016-11-01        NaN         NaN       NaN         NaN
             2016-11-02        NaN         NaN       NaN         NaN
             2016-11-03        NaN         NaN       NaN         NaN
             2016-11-04        NaN         NaN       NaN         NaN
             2016-11-07        NaN  108.777417       NaN   25.937926
             2016-11-08        NaN   87.951864       NaN   27.054236
             2016-11-09        NaN  152.119925       NaN   29.082724
             2016-11-10        NaN  106.868242       NaN   30.354647
             2016-11-11        NaN   70.099529       NaN   31.116868
             2016-11-14        NaN   71.300595       NaN   30.931194
             2016-11-15        NaN  109.816806    7.2881   30.396539
             2016-11-16        NaN  150.413983    8.5878   31.598628
             2016-11-17        NaN  106.585099    7.7820   32.473068
             2016-11-18        NaN   27.879902    5.3056   32.335127
             2016-11-21  85.160274  -39.805096    5.6952   32.157961
             2016-11-22  86.044591   55.463750    4.9400   32.180656
             2016-11-23  86.274956   22.880777    2.7900   32.220104
             2016-11-25  86.542338  110.923221    2.6000   32.116309
             2016-11-28  79.196596    0.596002    1.5600   31.989103
             2016-11-29  70.524378 -166.666667    0.1100   32.440595
             2016-11-30  65.341924 -107.807567   -1.2400   32.653318
             2016-12-01  64.735257  -90.795020   -2.5400   32.221423
             2016-12-02  65.351156  -59.691532   -2.8100   30.987126
             2016-12-05  72.419170  114.740545    0.8000   31.326427
             2016-12-06  71.911904  101.485371    0.4600   32.031593
             2016-12-07  70.025372   83.020761   -0.4400   32.338225
             2016-12-08  71.352693   76.532773   -0.2000   32.429924
             2016-12-09  73.622977  114.678461    0.3500   32.099625
             2016-12-12  67.332823   47.094460    0.3800   32.101596
             2016-12-13  60.464538 -144.968820    0.5100   32.325890
...                            ...         ...       ...         ...
             2017-07-14  69.974766   97.033595    3.1400   36.871256
             2017-07-17  70.293161   77.268643    3.7500   37.126060
             2017-07-18  70.419837   45.133636    2.4100   37.336451
             2017-07-19  70.733434   74.432011    2.7300   36.674088
             2017-07-20  71.747211  145.014556    2.8300   36.745765
             2017-07-21  70.550924   83.711777    2.4300   36.773867
             2017-07-24  70.916485   64.032342    2.5500   36.813775
             2017-07-25  73.951041  166.666667    2.3000   37.321064
             2017-07-26  65.826836   38.636909    2.0300   37.305404
             2017-07-27  62.831223  -92.063492    0.3500   37.342896
             2017-07-28  55.569013 -144.150670   -0.6800   37.600780
             2017-07-31  60.728815  -55.642388    0.0000   37.531953
             2017-08-01  60.529603   -3.065134   -0.0500   36.953047
             2017-08-02  65.943591  132.813694    0.7800   37.452492
             2017-08-03  63.949350  103.140097    0.3700   37.725452
             2017-08-04  65.879392   70.893526    0.8000   37.795054
             2017-08-07  68.969594  144.488362    1.3000   38.274413
             2017-08-08  75.606326  144.272417    2.2800   39.682520
             2017-08-09  66.375634   57.558977    1.9900   39.917054
             2017-08-10  59.527298  -23.239881    1.4200   39.795704
             2017-08-11  59.527298  -94.084100    2.1400   39.725558
             2017-08-14  54.912137  -76.720094    0.7900   39.852095
             2017-08-15  56.807003  -53.126301    1.1200   38.725597
             2017-08-16  65.516597  137.743669    1.9500   39.299345
             2017-08-17  55.546179   37.966428    0.7100   39.302113
             2017-08-18  55.292702  -29.459415    0.3400   39.299573
             2017-08-21  58.879643   43.007073    0.4800   39.406075
             2017-08-22  64.496425  130.159556    0.1900   40.187928
             2017-08-23  69.018740  122.125631    2.4400   41.516182
             2017-08-24  69.914514   96.775456    3.5600   42.482656

                         bbandmiddle  bbandlower  bbandlowerii  bbandupperii
name  symbol date
Alcoa AA     2016-11-01          NaN         NaN           NaN           NaN
             2016-11-02          NaN         NaN           NaN           NaN
             2016-11-03          NaN         NaN           NaN           NaN
             2016-11-04          NaN         NaN           NaN           NaN
             2016-11-07     23.98626   22.034594      0.881567      1.037733
             2016-11-08     24.68188   22.309524      0.845058      1.024782
             2016-11-09     25.85944   22.636156      0.788167      1.012630
             2016-11-10     26.86584   23.377033      0.803334      1.043115
             2016-11-11     27.70296   24.289052      0.828978      1.062009
             2016-11-14     28.62800   26.324806      0.888751      1.044267
             2016-11-15     29.39000   28.383461      0.939539      1.006175
             2016-11-16     29.93000   28.261372      0.899471      1.005685
             2016-11-17     30.48000   28.486932      0.894409      1.019563
             2016-11-18     30.70400   29.072873      0.955716      1.062956
             2016-11-21     30.91800   29.678039      0.967026      1.047832
             2016-11-22     31.14400   30.107344      0.960668      1.026824
             2016-11-23     31.16200   30.103896      0.955376      1.022536
             2016-11-25     31.13200   30.147691      0.951031      1.013133
             2016-11-28     31.22000   30.450897      0.986743      1.036588
             2016-11-29     31.02800   29.615405      0.996145      1.091174
             2016-11-30     30.55400   28.454682      0.982212      1.127142
             2016-12-01     30.02800   27.834577      0.963801      1.115700
             2016-12-02     29.49600   28.004874      0.964355      1.067050
             2016-12-05     29.56800   27.809573      0.890761      1.003409
             2016-12-06     29.85200   27.672407      0.888360      1.028302
             2016-12-07     30.23800   28.137775      0.910608      1.046544
             2016-12-08     30.72400   29.018076      0.926799      1.035769
             2016-12-09     31.32600   30.552375      0.953272      1.001548
             2016-12-12     31.33000   30.558404      0.978182      1.027580
             2016-12-13     31.14800   29.970110      0.991075      1.068978
...                              ...         ...           ...           ...
             2017-07-14     35.21400   33.556744      0.923919      1.015178
             2017-07-17     35.66600   34.205940      0.939724      1.019947
             2017-07-18     35.95200   34.567549      0.948876      1.024882
             2017-07-19     36.33200   35.989912      0.986025      1.004770
             2017-07-20     36.47400   36.202235      0.985900      1.000702
             2017-07-21     36.53400   36.294133      0.991101      1.004202
             2017-07-24     36.59200   36.370225      0.991284      1.003374
             2017-07-25     36.76600   36.210936      0.970803      1.000565
             2017-07-26     36.79200   36.278596      0.990407      1.018439
             2017-07-27     36.72000   36.097104      0.992770      1.027032
             2017-07-28     36.52400   35.447220      0.994591      1.055016
             2017-07-31     36.46600   35.400047      0.972529      1.031098
             2017-08-01     36.28200   35.610953      0.978861      1.015752
             2017-08-02     36.41200   35.371508      0.948807      1.004627
             2017-08-03     36.55800   35.390548      0.954180      1.017133
             2017-08-04     36.91400   36.032946      0.962933      1.010023
             2017-08-07     37.23200   36.189587      0.952608      1.007487
             2017-08-08     37.87200   36.061480      0.911104      1.002590
             2017-08-09     38.14000   36.362946      0.941557      1.033585
             2017-08-10     38.27800   36.760296      0.973009      1.053354
             2017-08-11     38.35000   36.974442      0.978678      1.051497
             2017-08-14     38.19000   36.527905      0.982197      1.071581
             2017-08-15     37.77400   36.822403      0.981931      1.032683
             2017-08-16     37.89600   36.492655      0.930223      1.001768
             2017-08-17     37.90000   36.497887      0.965553      1.039738
             2017-08-18     37.89600   36.492427      0.966431      1.040773
             2017-08-21     38.15200   36.897925      0.959135      1.024333
             2017-08-22     38.60600   37.024072      0.930955      1.010509
             2017-08-23     38.97200   36.427818      0.887185      1.011110
             2017-08-24     39.68000   36.877344      0.892050      1.027640

[205 rows x 17 columns]

In [10]:
#US_yields=pd.read_pickle(r'C:\Users\Student\Documents\Trading\US_yieldcurve.pkl')

In [11]:
import quandl
US_yields=quandl.get("USTREASURY/YIELD", authtoken="wdLjKc5NXiuwUhFLByKm")
US_yields=US_yields[['3 MO', '6 MO', '1 YR', '2 YR', '3 YR', '5 YR', '7 YR', '10 YR', '30 YR']]

In [12]:
US_yields.index.rename('date', inplace=True)

In [13]:
prices.reset_index(level='date',inplace=True)

In [14]:
test=pd.merge(prices, US_yields, how='left', left_on='date' , right_index=True)

In [15]:
test.set_index('date',append=True,inplace=True)

In [16]:
test.sort_index(level=1, ascending=True,inplace=True)

In [17]:
test.head()

                          open     high      low    close      volume  EMA_20  \
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0     NaN
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0     NaN
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0     NaN
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0     NaN
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0     NaN

                         EMA_50  EMA_200  EMA_ratio  RSI  ...    bbandupperii  \
name  symbol date                                         ...
Alcoa AA     2016-11-01     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-02     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-03     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-04     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-07     NaN      NaN        NaN  NaN  ...        1.037733

                         3 MO  6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  \
name  symbol date
Alcoa AA     2016-11-01  0.35  0.50  0.65  0.83  0.99  1.30  1.61   1.83
             2016-11-02  0.37  0.51  0.64  0.81  0.98  1.26  1.57   1.81
             2016-11-03  0.38  0.52  0.64  0.81  0.98  1.26  1.58   1.82
             2016-11-04  0.38  0.52  0.62  0.80  0.95  1.24  1.55   1.79
             2016-11-07  0.41  0.54  0.63  0.82  0.99  1.29  1.60   1.83

                         30 YR
name  symbol date
Alcoa AA     2016-11-01   2.58
             2016-11-02   2.56
             2016-11-03   2.60
             2016-11-04   2.56
             2016-11-07   2.60

[5 rows x 26 columns]

In [18]:
### Calculated columns
#prices['EMA_20'] = prices.groupby(level=1).apply(lambda x: ta.EMA(x.close.values, 20))  # 20 day exponential moving average
prices  = test.copy().loc[(test.loc[:,'open':'30 YR'] != 0 ).all(axis=1)] # Don't touch this (:
#prices  = prices.copy().loc[(prices.loc[:,volume'] != 0 ).all(axis=1)] # Don't touch this (:

##price_close = prices.groupby(level=['symbol']).close

##prices['EMA_20'] = price_close.apply(lambda x: ta.EMA(x,20))   # 20 day exponential moving average
##prices['EMA_50'] = price_close.apply(lambda x: ta.EMA(x, 50))  # 50 day exponential moving average
##prices['EMA_200'] = price_close.apply(lambda x: ta.EMA(x, 200))  # 200 day exponential moving average
##prices['EMA_ratio'] = prices['EMA_200']/prices['EMA_50'] # Ratio of moving average
##prices['RSI'] = price_close.apply(lambda x: ta.RSI(x, 14))  # 14 day relative strength index

#prices['CCI'] = prices.apply(lambda x: ta.CCI(high=x.high.va, low=x.low.values, close=x.close.values, timeperiod=20))  # 20 day commodity channel index

##prices['Momentum'] = price_close.apply(lambda x: ta.MOM(x, 10))  # 10 day rolling momentum

#prices['Stoch_fastk'], prices['Stoch_fastd'] = prices.groupby(level=1).apply(lambda x: ta.STOCHF(high=x.high.values, low=x.low.values, close=x.close.values, fastk_period=14, fastd_period=3))  # Stochastic fast indicator
#prices['OBV'] = price_close.apply(lambda x: ta.OBV(np.asarray(x['close']), x['volume']))  # On Balance Volume
#prices['bbandupper'], prices['bbandmiddle'], prices['bbandlower'] =  prices.groupby(level=1).apply(lambda x: ta.BBANDS(x.close.values))


#prices['perc_change']=(prices['close']- prices['close'].shift(1))/prices['close'].shift(1)  # Getting the daily percentage change
#prices['5dayvol'] = prices['perc_change'].rolling(window=5, center=False).std()  # 5 day volatility 
#prices['5_day_target'] = prices.groupby(level=['symbol']).close.shift(-5) / prices.groupby(level=['symbol']).close  # target of X days
prices['5_day_target'] = prices.groupby(['name'])['close'].transform(lambda x:x.shift(-5))
prices['perc_change']=prices['5_day_target']/prices['close']
#prices['5dayvol'] = prices.groupby('symbol')['close']/prices.groupby(['symbol'])['close'].transform(lambda x:x.shift(1)).apply(pd.rolling_mean, 5, min_periods=5)  # 5 day volatility 

clean_prices = prices.loc[(prices['EMA_200'].notnull() & prices['5_day_target'].notnull())]

In [19]:
prices.head(100)

                          open     high      low    close      volume  \
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0
             2016-11-08  24.30  26.5900  24.3000  26.4000   6469979.0
             2016-11-09  26.83  29.1400  26.0000  28.7200  10675856.0
             2016-11-10  29.08  29.7000  28.3000  29.1000   8189887.0
             2016-11-11  29.18  29.9900  27.6300  29.3000   5337239.0
             2016-11-14  29.50  29.9400  28.6100  29.6200   5156737.0
             2016-11-15  28.94  30.2300  28.8300  30.2100   3668883.0
             2016-11-16  29.69  31.6900  29.6600  31.4200   6150098.0
             2016-11-17  31.30  32.0200  30.7700  31.8500   4693203.0
             2016-11-18  31.73  31.7700  30.1600  30.4200   4421730.0
             2016-11-21  30.89  30.9800  29.5010  30.6900   2986107.0
             2016-11-22  31.10  31.9100  30.5400  31.3400   4182721.0
             2016-11-23  31.00  31.9300  30.0000  31.5100   4112265.0
             2016-11-25  31.24  32.1900  31.1100  31.7000   3109628.0
             2016-11-28  31.48  31.8000  30.7000  30.8600   5121935.0
             2016-11-29  30.02  30.4999  29.7300  29.7300   4927708.0
             2016-11-30  30.06  30.4400  28.8500  28.9700   5131539.0
             2016-12-01  28.84  29.4200  28.6000  28.8800   5006186.0
             2016-12-02  28.86  29.6250  28.7300  29.0400   3870676.0
             2016-12-05  29.03  31.2768  28.8900  31.2200   7034136.0
             2016-12-06  30.71  31.1900  30.2100  31.1500   3248595.0
             2016-12-07  31.30  31.8900  30.7653  30.9000   5778259.0
             2016-12-08  31.28  31.8400  30.8000  31.3100   3064978.0
             2016-12-09  31.31  32.1100  31.0400  32.0500   4344295.0
             2016-12-12  32.16  32.3500  30.8500  31.2400   3416012.0
             2016-12-13  31.40  31.7300  30.0300  30.2400   4215143.0
...                        ...      ...      ...      ...         ...
             2017-02-13  38.79  39.7800  38.4500  38.4800   5366057.0
             2017-02-14  38.57  39.2500  38.1800  38.5600   3754357.0
             2017-02-15  38.25  38.3000  37.7300  37.8700  11488878.0
             2017-02-16  37.82  37.8300  36.3500  36.4600   7040708.0
             2017-02-17  36.24  36.6100  35.7900  36.2100   4516538.0
             2017-02-21  36.31  37.0100  36.2300  36.7100   3393391.0
             2017-02-22  36.40  36.7100  36.2100  36.6000   2587865.0
             2017-02-23  36.86  36.8800  34.2600  34.3200   7139960.0
             2017-02-24  33.81  34.6400  33.3500  34.4800   5763834.0
             2017-02-27  34.52  35.3800  34.1900  34.7800   3898218.0
             2017-02-28  34.73  35.3300  34.4000  34.5900   4034102.0
             2017-03-01  35.93  38.1500  35.8500  37.9900  10564474.0
             2017-03-02  37.64  38.1700  35.8300  35.8500   5098625.0
             2017-03-03  36.06  36.8900  35.7500  36.3800   3238051.0
             2017-03-06  36.80  37.4800  35.8000  36.9300   5764124.0
             2017-03-07  36.81  36.8900  35.7500  35.8000   3753385.0
             2017-03-08  35.90  36.8200  35.9000  35.9900   4485667.0
             2017-03-09  36.07  36.5500  34.8900  35.3600   4826219.0
             2017-03-10  35.90  36.0000  34.2350  34.5300   4052315.0
             2017-03-13  35.21  35.5200  34.5300  34.7000   2491431.0
             2017-03-14  34.45  34.5800  33.7700  34.1900   3113001.0
             2017-03-15  34.40  35.2900  33.9500  35.1400   3753386.0
             2017-03-16  35.66  35.9900  34.9800  35.3800   3644274.0
             2017-03-17  35.57  35.9800  34.9500  34.9700   3827967.0
             2017-03-20  34.90  35.3600  34.1000  34.9000   2688853.0
             2017-03-21  34.90  35.2500  33.1700  33.2200   4540663.0
             2017-03-22  33.35  34.1500  33.0100  33.6900   2878415.0
             2017-03-23  33.41  33.6900  33.1100  33.3100   3071983.0
             2017-03-24  33.61  33.8600  32.3650  32.5600   4110369.0
             2017-03-27  31.74  32.5700  31.2900  32.4700   3654475.0

                            EMA_20     EMA_50  EMA_200  EMA_ratio        RSI  \
name  symbol date
Alcoa AA     2016-11-01        NaN        NaN      NaN        NaN        NaN
             2016-11-02        NaN        NaN      NaN        NaN        NaN
             2016-11-03        NaN        NaN      NaN        NaN        NaN
             2016-11-04        NaN        NaN      NaN        NaN        NaN
             2016-11-07        NaN        NaN      NaN        NaN        NaN
             2016-11-08        NaN        NaN      NaN        NaN        NaN
             2016-11-09        NaN        NaN      NaN        NaN        NaN
             2016-11-10        NaN        NaN      NaN        NaN        NaN
             2016-11-11        NaN        NaN      NaN        NaN        NaN
             2016-11-14        NaN        NaN      NaN        NaN        NaN
             2016-11-15        NaN        NaN      NaN        NaN        NaN
             2016-11-16        NaN        NaN      NaN        NaN        NaN
             2016-11-17        NaN        NaN      NaN        NaN        NaN
             2016-11-18        NaN        NaN      NaN        NaN        NaN
             2016-11-21        NaN        NaN      NaN        NaN  85.160274
             2016-11-22        NaN        NaN      NaN        NaN  86.044591
             2016-11-23        NaN        NaN      NaN        NaN  86.274956
             2016-11-25        NaN        NaN      NaN        NaN  86.542338
             2016-11-28        NaN        NaN      NaN        NaN  79.196596
             2016-11-29  28.640065        NaN      NaN        NaN  70.524378
             2016-11-30  28.671487        NaN      NaN        NaN  65.341924
             2016-12-01  28.691346        NaN      NaN        NaN  64.735257
             2016-12-02  28.724551        NaN      NaN        NaN  65.351156
             2016-12-05  28.962213        NaN      NaN        NaN  72.419170
             2016-12-06  29.170573        NaN      NaN        NaN  71.911904
             2016-12-07  29.335281        NaN      NaN        NaN  70.025372
             2016-12-08  29.523349        NaN      NaN        NaN  71.352693
             2016-12-09  29.763983        NaN      NaN        NaN  73.622977
             2016-12-12  29.904556        NaN      NaN        NaN  67.332823
             2016-12-13  29.936503        NaN      NaN        NaN  60.464538
...                            ...        ...      ...        ...        ...
             2017-02-13  36.325413  33.668545      NaN        NaN  69.830435
             2017-02-14  36.538230  33.860367      NaN        NaN  70.148020
             2017-02-15  36.665066  34.017608      NaN        NaN  63.900083
             2017-02-16  36.645536  34.113388      NaN        NaN  53.427763
             2017-02-17  36.604056  34.195608      NaN        NaN  51.806580
             2017-02-21  36.614146  34.294211      NaN        NaN  54.763047
             2017-02-22  36.612799  34.384635      NaN        NaN  53.978510
             2017-02-23  36.394437  34.382100      NaN        NaN  40.899593
             2017-02-24  36.212110  34.385939      NaN        NaN  41.962342
             2017-02-27  36.075718  34.401392      NaN        NaN  43.995852
             2017-02-28  35.934221  34.408789      NaN        NaN  42.968998
             2017-03-01  36.130010  34.549228      NaN        NaN  60.662496
             2017-03-02  36.103342  34.600239      NaN        NaN  50.122209
             2017-03-03  36.129690  34.670034      NaN        NaN  52.331293
             2017-03-06  36.205910  34.758660      NaN        NaN  54.579462
             2017-03-07  36.167252  34.799497      NaN        NaN  49.422212
             2017-03-08  36.150371  34.846183      NaN        NaN  50.273038
             2017-03-09  36.075098  34.866333      NaN        NaN  47.424295
             2017-03-10  35.927945  34.853143      NaN        NaN  43.895244
             2017-03-13  35.810998  34.847138      NaN        NaN  44.801272
             2017-03-14  35.656618  34.821368      NaN        NaN  42.579748
             2017-03-15  35.607416  34.833863      NaN        NaN  47.774680
             2017-03-16  35.585757  34.855280      NaN        NaN  49.029287
             2017-03-17  35.527114  34.859779      NaN        NaN  46.954099
             2017-03-20  35.467389  34.861356      NaN        NaN  46.591516
             2017-03-21  35.253352  34.796989      NaN        NaN  38.839664
             2017-03-22  35.104461  34.753578      NaN        NaN  41.759106
             2017-03-23  34.933560  34.696967      NaN        NaN  40.092756
             2017-03-24  34.707507  34.613164      NaN        NaN  36.958118
             2017-03-27  34.494411  34.529119      NaN        NaN  36.588433

                            ...       6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  \
name  symbol date           ...
Alcoa AA     2016-11-01     ...       0.50  0.65  0.83  0.99  1.30  1.61
             2016-11-02     ...       0.51  0.64  0.81  0.98  1.26  1.57
             2016-11-03     ...       0.52  0.64  0.81  0.98  1.26  1.58
             2016-11-04     ...       0.52  0.62  0.80  0.95  1.24  1.55
             2016-11-07     ...       0.54  0.63  0.82  0.99  1.29  1.60
             2016-11-08     ...       0.56  0.71  0.87  1.04  1.34  1.65
             2016-11-09     ...       0.56  0.72  0.90  1.12  1.49  1.84
             2016-11-10     ...       0.59  0.72  0.92  1.17  1.56  1.92
             2016-11-11     ...        NaN   NaN   NaN   NaN   NaN   NaN
             2016-11-14     ...       0.65  0.77  1.00  1.27  1.66  2.01
             2016-11-15     ...       0.61  0.78  1.02  1.28  1.68  2.03
             2016-11-16     ...       0.62  0.76  1.00  1.28  1.68  2.03
             2016-11-17     ...       0.61  0.77  1.04  1.31  1.73  2.08
             2016-11-18     ...       0.60  0.77  1.07  1.36  1.80  2.14
             2016-11-21     ...       0.60  0.78  1.08  1.36  1.79  2.13
             2016-11-22     ...       0.61  0.78  1.07  1.35  1.77  2.12
             2016-11-23     ...       0.63  0.80  1.12  1.40  1.83  2.17
             2016-11-25     ...       0.62  0.81  1.12  1.41  1.83  2.18
             2016-11-28     ...       0.60  0.79  1.11  1.38  1.80  2.13
             2016-11-29     ...       0.60  0.78  1.09  1.37  1.78  2.12
             2016-11-30     ...       0.62  0.80  1.11  1.40  1.83  2.18
             2016-12-01     ...       0.60  0.82  1.14  1.45  1.90  2.25
             2016-12-02     ...       0.61  0.80  1.11  1.40  1.84  2.20
             2016-12-05     ...       0.63  0.82  1.13  1.42  1.84  2.19
             2016-12-06     ...       0.63  0.83  1.12  1.41  1.84  2.18
             2016-12-07     ...       0.63  0.85  1.10  1.39  1.80  2.14
             2016-12-08     ...       0.62  0.84  1.12  1.40  1.83  2.20
             2016-12-09     ...       0.64  0.85  1.15  1.43  1.89  2.26
             2016-12-12     ...       0.64  0.85  1.15  1.44  1.90  2.26
             2016-12-13     ...       0.66  0.88  1.17  1.46  1.92  2.26
...                         ...        ...   ...   ...   ...   ...   ...
             2017-02-13     ...       0.63  0.82  1.20  1.48  1.92  2.24
             2017-02-14     ...       0.66  0.84  1.25  1.53  1.98  2.29
             2017-02-15     ...       0.67  0.86  1.27  1.57  2.01  2.33
             2017-02-16     ...       0.66  0.82  1.22  1.50  1.95  2.26
             2017-02-17     ...       0.66  0.82  1.21  1.48  1.92  2.23
             2017-02-21     ...       0.69  0.83  1.22  1.50  1.93  2.24
             2017-02-22     ...       0.68  0.82  1.22  1.49  1.92  2.23
             2017-02-23     ...       0.66  0.81  1.18  1.44  1.87  2.20
             2017-02-24     ...       0.65  0.80  1.12  1.38  1.80  2.12
             2017-02-27     ...       0.68  0.81  1.20  1.46  1.87  2.18
             2017-02-28     ...       0.69  0.88  1.22  1.49  1.89  2.19
             2017-03-01     ...       0.79  0.92  1.29  1.57  1.99  2.29
             2017-03-02     ...       0.84  0.98  1.32  1.60  2.03  2.32
             2017-03-03     ...       0.84  0.98  1.32  1.59  2.02  2.32
             2017-03-06     ...       0.83  0.97  1.31  1.60  2.02  2.32
             2017-03-07     ...       0.87  1.02  1.32  1.62  2.05  2.34
             2017-03-08     ...       0.86  1.03  1.36  1.65  2.08  2.38
             2017-03-09     ...       0.88  1.04  1.37  1.67  2.13  2.43
             2017-03-10     ...       0.89  1.03  1.36  1.66  2.11  2.40
             2017-03-13     ...       0.93  1.06  1.40  1.69  2.14  2.43
             2017-03-14     ...       0.93  1.06  1.40  1.68  2.13  2.42
             2017-03-15     ...       0.89  1.02  1.33  1.59  2.02  2.31
             2017-03-16     ...       0.89  1.01  1.35  1.63  2.05  2.34
             2017-03-17     ...       0.87  1.00  1.33  1.60  2.03  2.31
             2017-03-20     ...       0.89  1.01  1.30  1.57  2.00  2.28
             2017-03-21     ...       0.91  1.00  1.27  1.54  1.96  2.24
             2017-03-22     ...       0.90  0.99  1.27  1.52  1.95  2.22
             2017-03-23     ...       0.90  0.99  1.26  1.52  1.95  2.23
             2017-03-24     ...       0.89  1.00  1.26  1.52  1.93  2.22
             2017-03-27     ...       0.91  1.00  1.27  1.51  1.93  2.20

                         10 YR  30 YR  5_day_target  perc_change
name  symbol date
Alcoa AA     2016-11-01   1.83   2.58         26.40     1.151737
             2016-11-02   1.81   2.56         28.72     1.257873
             2016-11-03   1.82   2.60         29.10     1.209074
             2016-11-04   1.79   2.56         29.30     1.166661
             2016-11-07   1.83   2.60         29.62     1.185046
             2016-11-08   1.88   2.63         30.21     1.144318
             2016-11-09   2.07   2.88         31.42     1.094011
             2016-11-10   2.15   2.94         31.85     1.094502
             2016-11-11    NaN    NaN         30.42     1.038225
             2016-11-14   2.23   2.99         30.69     1.036124
             2016-11-15   2.23   2.97         31.34     1.037405
             2016-11-16   2.22   2.92         31.51     1.002864
             2016-11-17   2.29   3.01         31.70     0.995290
             2016-11-18   2.34   3.01         30.86     1.014464
             2016-11-21   2.33   3.00         29.73     0.968719
             2016-11-22   2.31   3.00         28.97     0.924378
             2016-11-23   2.36   3.02         28.88     0.916534
             2016-11-25   2.36   3.01         29.04     0.916088
             2016-11-28   2.32   2.99         31.22     1.011666
             2016-11-29   2.30   2.95         31.15     1.047763
             2016-11-30   2.37   3.02         30.90     1.066621
             2016-12-01   2.45   3.10         31.31     1.084141
             2016-12-02   2.40   3.08         32.05     1.103650
             2016-12-05   2.39   3.05         31.24     1.000641
             2016-12-06   2.39   3.08         30.24     0.970787
             2016-12-07   2.34   3.02         30.45     0.985437
             2016-12-08   2.40   3.10         29.79     0.951453
             2016-12-09   2.47   3.16         29.40     0.917317
             2016-12-12   2.49   3.16         29.29     0.937580
             2016-12-13   2.48   3.14         30.16     0.997354
...                        ...    ...           ...          ...
             2017-02-13   2.43   3.03         36.71     0.954002
             2017-02-14   2.47   3.07         36.60     0.949170
             2017-02-15   2.51   3.09         34.32     0.906258
             2017-02-16   2.45   3.05         34.48     0.945694
             2017-02-17   2.42   3.03         34.78     0.960508
             2017-02-21   2.43   3.04         34.59     0.942250
             2017-02-22   2.42   3.04         37.99     1.037978
             2017-02-23   2.38   3.02         35.85     1.044580
             2017-02-24   2.31   2.95         36.38     1.055104
             2017-02-27   2.36   2.98         36.93     1.061817
             2017-02-28   2.36   2.97         35.80     1.034981
             2017-03-01   2.46   3.06         35.99     0.947355
             2017-03-02   2.49   3.09         35.36     0.986332
             2017-03-03   2.49   3.08         34.53     0.949148
             2017-03-06   2.49   3.10         34.70     0.939615
             2017-03-07   2.52   3.11         34.19     0.955028
             2017-03-08   2.57   3.15         35.14     0.976382
             2017-03-09   2.60   3.19         35.38     1.000566
             2017-03-10   2.58   3.16         34.97     1.012743
             2017-03-13   2.62   3.20         34.90     1.005764
             2017-03-14   2.60   3.17         33.22     0.971629
             2017-03-15   2.51   3.11         33.69     0.958736
             2017-03-16   2.53   3.14         33.31     0.941492
             2017-03-17   2.50   3.11         32.56     0.931084
             2017-03-20   2.47   3.08         32.47     0.930372
             2017-03-21   2.43   3.04         32.92     0.990969
             2017-03-22   2.40   3.02         32.91     0.976848
             2017-03-23   2.41   3.02         33.49     1.005404
             2017-03-24   2.40   3.00         34.40     1.056511
             2017-03-27   2.38   2.98         34.22     1.053896

[100 rows x 28 columns]

In [21]:
clean_prices['perc_change'].min()

0.06716186939028164

In [22]:
test.head(500)

                                            open     high      low    close  \
name                    symbol date
Alcoa                   AA     2016-11-01  22.10  23.5500  21.7800  22.9219
                               2016-11-02  22.67  23.2650  22.6358  22.8322
                               2016-11-03  22.96  24.3493  22.9400  24.0680
                               2016-11-04  23.82  25.5000  23.5600  25.1144
                               2016-11-07  25.54  26.4100  24.8900  24.9948
                               2016-11-08  24.30  26.5900  24.3000  26.4000
                               2016-11-09  26.83  29.1400  26.0000  28.7200
                               2016-11-10  29.08  29.7000  28.3000  29.1000
                               2016-11-11  29.18  29.9900  27.6300  29.3000
                               2016-11-14  29.50  29.9400  28.6100  29.6200
                               2016-11-15  28.94  30.2300  28.8300  30.2100
                               2016-11-16  29.69  31.6900  29.6600  31.4200
                               2016-11-17  31.30  32.0200  30.7700  31.8500
                               2016-11-18  31.73  31.7700  30.1600  30.4200
                               2016-11-21  30.89  30.9800  29.5010  30.6900
                               2016-11-22  31.10  31.9100  30.5400  31.3400
                               2016-11-23  31.00  31.9300  30.0000  31.5100
                               2016-11-25  31.24  32.1900  31.1100  31.7000
                               2016-11-28  31.48  31.8000  30.7000  30.8600
                               2016-11-29  30.02  30.4999  29.7300  29.7300
                               2016-11-30  30.06  30.4400  28.8500  28.9700
                               2016-12-01  28.84  29.4200  28.6000  28.8800
                               2016-12-02  28.86  29.6250  28.7300  29.0400
                               2016-12-05  29.03  31.2768  28.8900  31.2200
                               2016-12-06  30.71  31.1900  30.2100  31.1500
                               2016-12-07  31.30  31.8900  30.7653  30.9000
                               2016-12-08  31.28  31.8400  30.8000  31.3100
                               2016-12-09  31.31  32.1100  31.0400  32.0500
                               2016-12-12  32.16  32.3500  30.8500  31.2400
                               2016-12-13  31.40  31.7300  30.0300  30.2400
...                                          ...      ...      ...      ...
American Airlines Group AAL    2006-01-23  29.49  30.0500  29.1500  28.3274
                               2006-01-24  29.90  31.4700  29.7500  29.8680
                               2006-01-25  31.15  31.5100  30.7500  29.8487
                               2006-01-26  31.05  31.2500  30.0000  29.1266
                               2006-01-27  30.20  30.2000  28.3000  27.8171
                               2006-01-30  28.73  29.5800  28.7300  27.9230
                               2006-01-31  29.17  30.4100  29.0100  28.2504
                               2006-02-01  29.10  29.6200  28.3500  28.2889
                               2006-02-02  29.38  30.2000  29.0000  28.8955
                               2006-02-03  30.01  30.0100  29.2000  28.4526
                               2006-02-06  29.20  29.7000  28.6600  28.1830
                               2006-02-07  29.35  29.4500  28.6200  27.9230
                               2006-02-08  29.10  30.7600  29.0100  28.8763
                               2006-02-09  29.95  30.4800  29.5500  29.2229
                               2006-02-10  30.50  30.5000  29.7400  28.8859
                               2006-02-13  31.05  32.1000  30.5500  30.0124
                               2006-02-14  31.50  32.9000  31.4100  31.5819
                               2006-02-15  32.55  34.2000  32.3500  32.4966
                               2006-02-16  33.66  33.9000  33.2000  32.1404
                               2006-02-17  32.80  33.3900  32.3300  31.9189
                               2006-02-21  32.50  33.6500  31.3000  31.2930
                               2006-02-22  33.53  34.3000  33.3000  32.3907
                               2006-02-23  34.20  35.0200  34.0700  33.3632
                               2006-02-24  33.97  33.9800  33.1800  32.2752
                               2006-02-27  33.90  34.0700  33.1000  32.1115
                               2006-02-28  33.30  33.4500  32.6000  31.8611
                               2006-03-01  33.09  34.0600  32.6000  31.5819
                               2006-03-02  32.80  33.2000  32.6000  31.6782
                               2006-03-03  32.65  32.6700  31.3200  30.6864
                               2006-03-06  31.90  32.0000  31.3800  30.6287

                                               volume     EMA_20     EMA_50  \
name                    symbol date
Alcoa                   AA     2016-11-01  32216510.0        NaN        NaN
                               2016-11-02  10755328.0        NaN        NaN
                               2016-11-03   8083097.0        NaN        NaN
                               2016-11-04   6878500.0        NaN        NaN
                               2016-11-07   8377025.0        NaN        NaN
                               2016-11-08   6469979.0        NaN        NaN
                               2016-11-09  10675856.0        NaN        NaN
                               2016-11-10   8189887.0        NaN        NaN
                               2016-11-11   5337239.0        NaN        NaN
                               2016-11-14   5156737.0        NaN        NaN
                               2016-11-15   3668883.0        NaN        NaN
                               2016-11-16   6150098.0        NaN        NaN
                               2016-11-17   4693203.0        NaN        NaN
                               2016-11-18   4421730.0        NaN        NaN
                               2016-11-21   2986107.0        NaN        NaN
                               2016-11-22   4182721.0        NaN        NaN
                               2016-11-23   4112265.0        NaN        NaN
                               2016-11-25   3109628.0        NaN        NaN
                               2016-11-28   5121935.0        NaN        NaN
                               2016-11-29   4927708.0  28.640065        NaN
                               2016-11-30   5131539.0  28.671487        NaN
                               2016-12-01   5006186.0  28.691346        NaN
                               2016-12-02   3870676.0  28.724551        NaN
                               2016-12-05   7034136.0  28.962213        NaN
                               2016-12-06   3248595.0  29.170573        NaN
                               2016-12-07   5778259.0  29.335281        NaN
                               2016-12-08   3064978.0  29.523349        NaN
                               2016-12-09   4344295.0  29.763983        NaN
                               2016-12-12   3416012.0  29.904556        NaN
                               2016-12-13   4215143.0  29.936503        NaN
...                                               ...        ...        ...
American Airlines Group AAL    2006-01-23   1423056.0  32.517099  31.267562
                               2006-01-24   1739678.0  32.264803  31.212677
                               2006-01-25   2242091.0  32.034698  31.159188
                               2006-01-26    841019.0  31.757737  31.079478
                               2006-01-27   1390349.0  31.382438  30.951542
                               2006-01-30   2459249.0  31.052968  30.832776
                               2006-01-31   1315282.0  30.786056  30.731506
                               2006-02-01   2189812.0  30.548232  30.635718
                               2006-02-02   2056836.0  30.390829  30.567474
                               2006-02-03   1065952.0  30.206236  30.484537
                               2006-02-06   1476944.0  30.013547  30.394281
                               2006-02-07   1313137.0  29.814447  30.297368
                               2006-02-08   2331635.0  29.725100  30.241640
                               2006-02-09   1188740.0  29.677271  30.201689
                               2006-02-10   1082306.0  29.601902  30.150090
                               2006-02-13   2214477.0  29.640997  30.144690
                               2006-02-14   1792493.0  29.825845  30.201051
                               2006-02-15   2165684.0  30.080203  30.291073
                               2006-02-16    655228.0  30.276412  30.363596
                               2006-02-17    847185.0  30.432840  30.424588
                               2006-02-21   2071582.0  30.514760  30.458643
                               2006-02-22   1708311.0  30.693421  30.534410
                               2006-02-23   2483378.0  30.947685  30.645343
                               2006-02-24   1753351.0  31.074115  30.709259
                               2006-02-27   1443700.0  31.172914  30.764249
                               2006-02-28   1094370.0  31.238455  30.807263
                               2006-03-01   3081769.0  31.271164  30.837641
                               2006-03-02   1041823.0  31.309930  30.870604
                               2006-03-03   2401609.0  31.250546  30.863380
                               2006-03-06   1826542.0  31.191322  30.854177

                                           EMA_200  EMA_ratio        RSI  \
name                    symbol date
Alcoa                   AA     2016-11-01      NaN        NaN        NaN
                               2016-11-02      NaN        NaN        NaN
                               2016-11-03      NaN        NaN        NaN
                               2016-11-04      NaN        NaN        NaN
                               2016-11-07      NaN        NaN        NaN
                               2016-11-08      NaN        NaN        NaN
                               2016-11-09      NaN        NaN        NaN
                               2016-11-10      NaN        NaN        NaN
                               2016-11-11      NaN        NaN        NaN
                               2016-11-14      NaN        NaN        NaN
                               2016-11-15      NaN        NaN        NaN
                               2016-11-16      NaN        NaN        NaN
                               2016-11-17      NaN        NaN        NaN
                               2016-11-18      NaN        NaN        NaN
                               2016-11-21      NaN        NaN  85.160274
                               2016-11-22      NaN        NaN  86.044591
                               2016-11-23      NaN        NaN  86.274956
                               2016-11-25      NaN        NaN  86.542338
                               2016-11-28      NaN        NaN  79.196596
                               2016-11-29      NaN        NaN  70.524378
                               2016-11-30      NaN        NaN  65.341924
                               2016-12-01      NaN        NaN  64.735257
                               2016-12-02      NaN        NaN  65.351156
                               2016-12-05      NaN        NaN  72.419170
                               2016-12-06      NaN        NaN  71.911904
                               2016-12-07      NaN        NaN  70.025372
                               2016-12-08      NaN        NaN  71.352693
                               2016-12-09      NaN        NaN  73.622977
                               2016-12-12      NaN        NaN  67.332823
                               2016-12-13      NaN        NaN  60.464538
...                                            ...        ...        ...
American Airlines Group AAL    2006-01-23      NaN        NaN  30.647590
                               2006-01-24      NaN        NaN  39.018001
                               2006-01-25      NaN        NaN  38.954571
                               2006-01-26      NaN        NaN  36.559825
                               2006-01-27      NaN        NaN  32.640987
                               2006-01-30      NaN        NaN  33.263988
                               2006-01-31      NaN        NaN  35.257637
                               2006-02-01      NaN        NaN  35.501645
                               2006-02-02      NaN        NaN  39.378406
                               2006-02-03      NaN        NaN  37.601309
                               2006-02-06      NaN        NaN  36.520887
                               2006-02-07      NaN        NaN  35.462610
                               2006-02-08      NaN        NaN  42.088767
                               2006-02-09      NaN        NaN  44.326867
                               2006-02-10      NaN        NaN  42.602851
                               2006-02-13      NaN        NaN  49.652085
                               2006-02-14      NaN        NaN  57.486297
                               2006-02-15      NaN        NaN  61.268781
                               2006-02-16      NaN        NaN  59.064952
                               2006-02-17      NaN        NaN  57.675653
                               2006-02-21      NaN        NaN  53.823085
                               2006-02-22      NaN        NaN  58.996127
                               2006-02-23      NaN        NaN  62.955575
                               2006-02-24      NaN        NaN  56.394562
                               2006-02-27      NaN        NaN  55.458066
                               2006-02-28      NaN        NaN  53.981397
                               2006-03-01      NaN        NaN  52.308920
                               2006-03-02      NaN        NaN  52.851519
                               2006-03-03      NaN        NaN  46.929493
                               2006-03-06      NaN        NaN  46.602336

                                           ...    bbandupperii  3 MO  6 MO  \
name                    symbol date        ...
Alcoa                   AA     2016-11-01  ...             NaN  0.35  0.50
                               2016-11-02  ...             NaN  0.37  0.51
                               2016-11-03  ...             NaN  0.38  0.52
                               2016-11-04  ...             NaN  0.38  0.52
                               2016-11-07  ...        1.037733  0.41  0.54
                               2016-11-08  ...        1.024782  0.43  0.56
                               2016-11-09  ...        1.012630  0.45  0.56
                               2016-11-10  ...        1.043115  0.48  0.59
                               2016-11-11  ...        1.062009   NaN   NaN
                               2016-11-14  ...        1.044267  0.55  0.65
                               2016-11-15  ...        1.006175  0.51  0.61
                               2016-11-16  ...        1.005685  0.47  0.62
                               2016-11-17  ...        1.019563  0.44  0.61
                               2016-11-18  ...        1.062956  0.44  0.60
                               2016-11-21  ...        1.047832  0.46  0.60
                               2016-11-22  ...        1.026824  0.49  0.61
                               2016-11-23  ...        1.022536  0.51  0.63
                               2016-11-25  ...        1.013133  0.49  0.62
                               2016-11-28  ...        1.036588  0.48  0.60
                               2016-11-29  ...        1.091174  0.48  0.60
                               2016-11-30  ...        1.127142  0.48  0.62
                               2016-12-01  ...        1.115700  0.48  0.60
                               2016-12-02  ...        1.067050  0.49  0.61
                               2016-12-05  ...        1.003409  0.49  0.63
                               2016-12-06  ...        1.028302  0.49  0.63
                               2016-12-07  ...        1.046544  0.52  0.63
                               2016-12-08  ...        1.035769  0.51  0.62
                               2016-12-09  ...        1.001548  0.54  0.64
                               2016-12-12  ...        1.027580  0.51  0.64
                               2016-12-13  ...        1.068978  0.54  0.66
...                                        ...             ...   ...   ...
American Airlines Group AAL    2006-01-23  ...        1.063749  4.38  4.50
                               2006-01-24  ...        1.022928  4.40  4.51
                               2006-01-25  ...        1.023589  4.42  4.54
                               2006-01-26  ...        1.047746  4.45  4.54
                               2006-01-27  ...        1.101212  4.45  4.55
                               2006-01-30  ...        1.099764  4.48  4.62
                               2006-01-31  ...        1.067243  4.47  4.59
                               2006-02-01  ...        1.032271  4.47  4.60
                               2006-02-02  ...        1.003249  4.48  4.62
                               2006-02-03  ...        1.019121  4.48  4.63
                               2006-02-06  ...        1.026406  4.48  4.68
                               2006-02-07  ...        1.038386  4.49  4.67
                               2006-02-08  ...        1.012221  4.50  4.67
                               2006-02-09  ...        1.008369  4.52  4.67
                               2006-02-10  ...        1.024321  4.53  4.70
                               2006-02-13  ...        1.010556  4.55  4.71
                               2006-02-14  ...        1.005538  4.55  4.72
                               2006-02-15  ...        1.022048  4.55  4.70
                               2006-02-16  ...        1.050209  4.55  4.69
                               2006-02-17  ...        1.044953  4.54  4.69
                               2006-02-21  ...        1.045810  4.56  4.73
                               2006-02-22  ...        1.015816  4.57  4.70
                               2006-02-23  ...        1.006362  4.59  4.73
                               2006-02-24  ...        1.041055  4.60  4.73
                               2006-02-27  ...        1.046657  4.62  4.76
                               2006-02-28  ...        1.049142  4.62  4.74
                               2006-03-01  ...        1.059376  4.60  4.75
                               2006-03-02  ...        1.023452  4.62  4.75
                               2006-03-03  ...        1.060767  4.62  4.75
                               2006-03-06  ...        1.055603  4.60  4.77

                                           1 YR  2 YR  3 YR  5 YR  7 YR  \
name                    symbol date
Alcoa                   AA     2016-11-01  0.65  0.83  0.99  1.30  1.61
                               2016-11-02  0.64  0.81  0.98  1.26  1.57
                               2016-11-03  0.64  0.81  0.98  1.26  1.58
                               2016-11-04  0.62  0.80  0.95  1.24  1.55
                               2016-11-07  0.63  0.82  0.99  1.29  1.60
                               2016-11-08  0.71  0.87  1.04  1.34  1.65
                               2016-11-09  0.72  0.90  1.12  1.49  1.84
                               2016-11-10  0.72  0.92  1.17  1.56  1.92
                               2016-11-11   NaN   NaN   NaN   NaN   NaN
                               2016-11-14  0.77  1.00  1.27  1.66  2.01
                               2016-11-15  0.78  1.02  1.28  1.68  2.03
                               2016-11-16  0.76  1.00  1.28  1.68  2.03
                               2016-11-17  0.77  1.04  1.31  1.73  2.08
                               2016-11-18  0.77  1.07  1.36  1.80  2.14
                               2016-11-21  0.78  1.08  1.36  1.79  2.13

In [23]:
list(clean_prices.columns.values)

['open',
 'high',
 'low',
 'close',
 'volume',
 'EMA_20',
 'EMA_50',
 'EMA_200',
 'EMA_ratio',
 'RSI',
 'CCI',
 'Momentum',
 'bbandupper',
 'bbandmiddle',
 'bbandlower',
 'bbandlowerii',
 'bbandupperii',
 '3 MO',
 '6 MO',
 '1 YR',
 '2 YR',
 '3 YR',
 '5 YR',
 '7 YR',
 '10 YR',
 '30 YR',
 '5_day_target',
 'perc_change']

In [24]:
testML=clean_prices.loc[:,[
 #'open',
 #'high',
 #'low',
 #'close',
 #'volume',
 #'EMA_20',
 #'EMA_50',
 #'EMA_200',
 'EMA_ratio',
 'RSI',
 'CCI',
 'Momentum',
 #'Stoch_fastk',
 #'Stoch_fastd',
 #'OBV',
 #'bbandupper',
 #'bbandmiddle',
 #'bbandlower',
 'bbandlowerii',
 'bbandupperii',
 '3 MO',
 '6 MO',
 '1 YR',
 '2 YR',
 '3 YR',
 '5 YR',
 '7 YR',
 '10 YR',
 #'30 YR',
'perc_change']]

In [25]:
testML[testML.isnull().any(axis=1)].head()

                                           EMA_ratio        RSI         CCI  \
name                    symbol date
Alcoa                   AA     2017-10-09   0.852329  60.232499 -119.271794
American Airlines Group AAL    2006-10-09   0.889025  55.312252 -108.737480
                               2007-10-08   1.225757  57.119257   97.935045
                               2007-11-12   1.250296  32.446514  -16.840325
                               2008-10-13   1.572072  46.573720   81.809532

                                           Momentum  bbandlowerii  \
name                    symbol date
Alcoa                   AA     2017-10-09    1.7800      0.995675
American Airlines Group AAL    2006-10-09   -0.6163      0.997060
                               2007-10-08    4.4195      0.922231
                               2007-11-12   -4.8528      0.943504
                               2008-10-13    0.0771      0.562015

                                           bbandupperii  3 MO  6 MO  1 YR  \
name                    symbol date
Alcoa                   AA     2017-10-09      1.035598   NaN   NaN   NaN
American Airlines Group AAL    2006-10-09      1.027266   NaN   NaN   NaN
                               2007-10-08      1.011429   NaN   NaN   NaN
                               2007-11-12      1.067933   NaN   NaN   NaN
                               2008-10-13      1.068257   NaN   NaN   NaN

                                           2 YR  3 YR  5 YR  7 YR  10 YR  \
name                    symbol date
Alcoa                   AA     2017-10-09   NaN   NaN   NaN   NaN    NaN
American Airlines Group AAL    2006-10-09   NaN   NaN   NaN   NaN    NaN
                               2007-10-08   NaN   NaN   NaN   NaN    NaN
                               2007-11-12   NaN   NaN   NaN   NaN    NaN
                               2008-10-13   NaN   NaN   NaN   NaN    NaN

                                           perc_change
name                    symbol date
Alcoa                   AA     2017-10-09     1.024857
American Airlines Group AAL    2006-10-09     0.958325
                               2007-10-08     0.922472
                               2007-11-12     0.935541
                               2008-10-13     1.301055

In [26]:
testML=testML.fillna(method='pad')

In [27]:
prices.loc[:,['close','5_day_target','perc_change']].sort_values(['perc_change'], ascending=True).head(100)

                                                           close  \
name                                symbol date
Ally Financial                      ALLY   2014-03-28  8344.0773
                                           2014-04-02  8344.0773
                                           2014-03-27  8175.2665
                                           2014-03-10  8175.2665
                                           2014-02-06  7813.5290
Markel                              MKL    2010-04-14   387.7200
                                           2010-04-15   386.4000
                                           2010-04-13   377.0200
                                           2010-04-16   380.7500
                                           2010-04-12   376.9000
Freddie Mac                         FMCC   2008-09-05     5.1000
Fannie Mae                          FNMA   2008-09-03     7.3200
                                           2008-09-05     7.0400
                                           2008-08-29     6.8400
AIG                                 AIG    2008-09-10   272.2593
Freddie Mac                         FMCC   2008-09-04     4.9500
Fannie Mae                          FNMA   2008-09-04     6.4200
Freddie Mac                         FMCC   2008-09-03     5.3800
Fannie Mae                          FNMA   2008-09-02     7.4300
Williams                            WMB    2002-07-18     3.2298
AIG                                 AIG    2008-09-11   273.0371
Freddie Mac                         FMCC   2008-09-02     5.1800
WellCare Health Plans               WCG    2007-10-23   122.2700
Genworth Financial                  GNW    2008-11-05     5.1800
Freddie Mac                         FMCC   2008-08-29     4.5100
Williams                            WMB    2002-07-16     3.0305
                                           2002-07-17     3.1684
AIG                                 AIG    2008-09-09   285.7944
Williams                            WMB    2002-07-19     2.6370
AIG                                 AIG    2008-09-08   354.0926
...                                                          ...
Hartford Financial Services Group   HIG    2008-11-14    10.3750
Builders FirstSource                BLDR   2008-11-14     2.5500
Freddie Mac                         FMCC   2010-06-14     1.2000
Citigroup                           C      2008-11-14    91.2957
Auto-Owners Insurance               SEE    2002-07-29    14.9743
Sealed Air                          SEE    2002-07-29    14.9743
Freddie Mac                         FMCC   2010-06-15     1.2200
Las Vegas Sands                     LVS    2008-10-21     9.2212
                                           2008-11-04     9.9259
Builders FirstSource                BLDR   2008-11-17     2.5000
Genesis Healthcare                  GEN    2010-07-06     6.2200
Fannie Mae                          FNMA   2008-07-08    17.6200
WellCare Health Plans               WCG    2008-11-07    23.2700
                                           2008-11-12    19.8700
Morgan Stanley                      MS     2008-10-03    20.6919
Massachusetts Mutual Life Insurance MS     2008-10-03    20.6919
HP                                  HPQ    2015-10-16    12.8825
Xcel Energy                         XEL    2002-07-22     7.1286
iHeartMedia                         IHRT   2017-11-02     1.3500
Freddie Mac                         FMCC   2008-09-10     0.6600
Genworth Financial                  GNW    2008-09-22    11.9654
HP                                  HPQ    2015-10-12    13.0789
Priceline Group                     PCLN   2001-09-06    29.7000
AES                                 AES    2002-02-13     7.5259
Auto-Owners Insurance               SEE    2002-07-24    14.0030
Sealed Air                          SEE    2002-07-24    14.0030
HP                                  HPQ    2015-10-13    13.0476
Apple                               AAPL   2000-09-28     3.3985
Citigroup                           C      2009-02-26    23.6516
Avis Budget Group                   CAR    2008-10-14     3.9600

                                                       5_day_target  \
name                                symbol date
Ally Financial                      ALLY   2014-03-28       23.0837
                                           2014-04-02       23.2862
                                           2014-03-27       23.1994
                                           2014-03-10       23.3441
                                           2014-02-06       23.1319
Markel                              MKL    2010-04-14       26.0400
                                           2010-04-15       26.0400
                                           2010-04-13       26.0438
                                           2010-04-16       26.3270
                                           2010-04-12       26.1600
Freddie Mac                         FMCC   2008-09-05        0.4600
Fannie Mae                          FNMA   2008-09-03        0.7400
                                           2008-09-05        0.7400
                                           2008-08-29        0.7300
AIG                                 AIG    2008-09-10       31.8932
Freddie Mac                         FMCC   2008-09-04        0.5900
Fannie Mae                          FNMA   2008-09-04        0.7800
Freddie Mac                         FMCC   2008-09-03        0.6600
Fannie Mae                          FNMA   2008-09-02        0.9900
Williams                            WMB    2002-07-18        0.4497
AIG                                 AIG    2008-09-11       41.8501
Freddie Mac                         FMCC   2008-09-02        0.8800
WellCare Health Plans               WCG    2007-10-23       22.0400
Genworth Financial                  GNW    2008-11-05        1.0000
Freddie Mac                         FMCC   2008-08-29        0.8800
Williams                            WMB    2002-07-16        0.6081
                                           2002-07-17        0.6388
AIG                                 AIG    2008-09-09       58.3413
Williams                            WMB    2002-07-19        0.5417
AIG                                 AIG    2008-09-08       74.0545
...                                                             ...
Hartford Financial Services Group   HIG    2008-11-14        4.0598
Builders FirstSource                BLDR   2008-11-14        1.0000
Freddie Mac                         FMCC   2010-06-14        0.4710
Citigroup                           C      2008-11-14       36.1539
Auto-Owners Insurance               SEE    2002-07-29        5.9350
Sealed Air                          SEE    2002-07-29        5.9350
Freddie Mac                         FMCC   2010-06-15        0.4850
Las Vegas Sands                     LVS    2008-10-21        3.6721
                                           2008-11-04        3.9615
Builders FirstSource                BLDR   2008-11-17        1.0000
Genesis Healthcare                  GEN    2010-07-06        2.4900
Fannie Mae                          FNMA   2008-07-08        7.0700
WellCare Health Plans               WCG    2008-11-07        9.3600
                                           2008-11-12        8.0200
Morgan Stanley                      MS     2008-10-03        8.3736
Massachusetts Mutual Life Insurance MS     2008-10-03        8.3736
HP                                  HPQ    2015-10-16        5.2182
Xcel Energy                         XEL    2002-07-22        2.8923
iHeartMedia                         IHRT   2017-11-02        0.5501
Freddie Mac                         FMCC   2008-09-10        0.2700
Genworth Financial                  GNW    2008-09-22        4.8958
HP                                  HPQ    2015-10-12        5.3610
Priceline Group                     PCLN   2001-09-06       12.1800
AES                                 AES    2002-02-13        3.0901
Auto-Owners Insurance               SEE    2002-07-24        5.7526
Sealed Air                          SEE    2002-07-24        5.7526
HP                                  HPQ    2015-10-13        5.3789
Apple                               AAPL   2000-09-28        1.4013
Citigroup                           C      2009-02-26        9.8068
Avis Budget Group                   CAR    2008-10-14        1.6500

                                                       perc_change
name                                symbol date
Ally Financial                      ALLY   2014-03-28     0.002766
                                           2014-04-02     0.002791
                                           2014-03-27     0.002838
                                           2014-03-10     0.002855
                                           2014-02-06     0.002960
Markel                              MKL    2010-04-14     0.067162
                                           2010-04-15     0.067391
                                           2010-04-13     0.069078
                                           2010-04-16     0.069145
                                           2010-04-12     0.069408
Freddie Mac                         FMCC   2008-09-05     0.090196
Fannie Mae                          FNMA   2008-09-03     0.101093
                                           2008-09-05     0.105114
                                           2008-08-29     0.106725
AIG                                 AIG    2008-09-10     0.117143
Freddie Mac                         FMCC   2008-09-04     0.119192
Fannie Mae                          FNMA   2008-09-04     0.121495
Freddie Mac                         FMCC   2008-09-03     0.122677
Fannie Mae                          FNMA   2008-09-02     0.133244
Williams                            WMB    2002-07-18     0.139235
AIG                                 AIG    2008-09-11     0.153276
Freddie Mac                         FMCC   2008-09-02     0.169884
WellCare Health Plans               WCG    2007-10-23     0.180257
Genworth Financial                  GNW    2008-11-05     0.193050
Freddie Mac                         FMCC   2008-08-29     0.195122
Williams                            WMB    2002-07-16     0.200660
                                           2002-07-17     0.201616
AIG                                 AIG    2008-09-09     0.204137
Williams                            WMB    2002-07-19     0.205423
AIG                                 AIG    2008-09-08     0.209139
...                                                            ...
Hartford Financial Services Group   HIG    2008-11-14     0.391306
Builders FirstSource                BLDR   2008-11-14     0.392157
Freddie Mac                         FMCC   2010-06-14     0.392500
Citigroup                           C      2008-11-14     0.396009
Auto-Owners Insurance               SEE    2002-07-29     0.396346
Sealed Air                          SEE    2002-07-29     0.396346
Freddie Mac                         FMCC   2010-06-15     0.397541
Las Vegas Sands                     LVS    2008-10-21     0.398224
                                           2008-11-04     0.399107
Builders FirstSource                BLDR   2008-11-17     0.400000
Genesis Healthcare                  GEN    2010-07-06     0.400322
Fannie Mae                          FNMA   2008-07-08     0.401249
WellCare Health Plans               WCG    2008-11-07     0.402235
                                           2008-11-12     0.403624
Morgan Stanley                      MS     2008-10-03     0.404680
Massachusetts Mutual Life Insurance MS     2008-10-03     0.404680
HP                                  HPQ    2015-10-16     0.405061
Xcel Energy                         XEL    2002-07-22     0.405732
iHeartMedia                         IHRT   2017-11-02     0.407481
Freddie Mac                         FMCC   2008-09-10     0.409091
Genworth Financial                  GNW    2008-09-22     0.409163
HP                                  HPQ    2015-10-12     0.409897
Priceline Group                     PCLN   2001-09-06     0.410101
AES                                 AES    2002-02-13     0.410595
Auto-Owners Insurance               SEE    2002-07-24     0.410812
Sealed Air                          SEE    2002-07-24     0.410812
HP                                  HPQ    2015-10-13     0.412252
Apple                               AAPL   2000-09-28     0.412329
Citigroup                           C      2009-02-26     0.414636
Avis Budget Group                   CAR    2008-10-14     0.416667

[100 rows x 3 columns]

In [28]:
    #x_train, x_test, y_train, y_test = train_test_split(clean_prices.loc[:,'EMA_ratio':'bbandlower'], clean_prices.loc[:,['7_day_target']], shuffle=False, test_size=90)
    test_size = 3
    # Get columns
    X = testML.copy().loc[:,'EMA_ratio':'10 YR'] 
    y = testML.copy().loc[:, ['perc_change']]

In [29]:
    # Get series of ingroup rownumbers
    X['num']= X.groupby(level=1).cumcount(ascending=False)
    
    testML.loc[ testML.EMA_ratio == testML.EMA_ratio.max() ]

,,,EMA_ratio,RSI,CCI,Momentum,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,perc_change
name,symbol,date,,,,,,,,,,,,,,,
Ally Financial,ALLY,2015-01-09,15.947293,59.149339,104.141459,0.0096,0.954267,1.005365,0.02,0.08,0.22,0.59,0.96,1.45,1.75,1.98,0.854272

In [30]:
    # Filter
    X_train = X.loc[X.num > test_size ].drop(columns='num')
    X_test =  X.loc[X.num <= test_size ].drop(columns='num')
    y_train = y.loc[X.num > test_size ]
    y_test =  y.loc[X.num <= test_size ]
    
    X_test.head(25)

                                           EMA_ratio        RSI         CCI  \
name                    symbol date
Alcoa                   AA     2018-05-09   0.905885  53.575730  -47.314121
                               2018-05-10   0.905565  54.575739  -67.447046
                               2018-05-11   0.905216  55.165108  -20.622896
                               2018-05-14   0.905732  48.647566 -166.666667
Nationwide              AAL    2018-05-09   1.031121  32.640112  -80.621057
                               2018-05-10   1.034387  35.689375  -86.965629
                               2018-05-11   1.037145  38.784200   -2.036809
                               2018-05-14   1.039867  38.288131   30.034862
Advance Auto Parts      AAP    2018-05-09   0.995096  61.789178  -36.405591
                               2018-05-10   0.993684  62.236152  106.686332
                               2018-05-11   0.991910  65.346529  144.139923
                               2018-05-14   0.989810  68.109071  103.594663
Apple                   AAPL   2018-05-09   0.951683  70.033809   70.246199
                               2018-05-10   0.949489  72.319115  135.206287
                               2018-05-11   0.947550  70.757887   74.455895
                               2018-05-14   0.945810  69.762861   43.594184
AbbVie                  ABBV   2018-05-09   0.940073  58.227915  146.430579
                               2018-05-10   0.939752  61.481561  158.926149
                               2018-05-11   0.939114  63.893621   99.945581
                               2018-05-14   0.938075  66.774469  107.817273
AmerisourceBergen       ABC    2018-05-09   0.988789  40.336193  -70.648695
                               2018-05-10   0.990311  42.564070  106.268649
                               2018-05-11   0.991331  46.171719   84.934124
                               2018-05-14   0.992178  47.229315  114.888017
Asbury Automotive Group ABG    2018-05-09   0.955159  55.028553  -34.471853

                                           Momentum  bbandlowerii  \
name                    symbol date
Alcoa                   AA     2018-05-09    1.5400      0.988974
                               2018-05-10    0.8500      0.988806
                               2018-05-11    2.3600      0.985965
                               2018-05-14    1.1300      0.999250
Nationwide              AAL    2018-05-09   -3.6436      0.994471
                               2018-05-10   -0.2304      0.982000
                               2018-05-11   -0.6980      0.969340
                               2018-05-14   -0.3691      0.972582
Advance Auto Parts      AAP    2018-05-09   10.1700      0.973973
                               2018-05-10    5.0500      0.977376
                               2018-05-11    3.6000      0.960514
                               2018-05-14    7.1600      0.950202
Apple                   AAPL   2018-05-09   23.6186      0.942140
                               2018-05-10   25.7204      0.959035
                               2018-05-11   26.8959      0.971176
                               2018-05-14   23.5272      0.981865
AbbVie                  ABBV   2018-05-09    9.3100      0.977427
                               2018-05-10    5.4100      0.954044
                               2018-05-11    5.4500      0.938377
                               2018-05-14    9.3400      0.927146
AmerisourceBergen       ABC    2018-05-09   -6.6801      0.989832
                               2018-05-10   -6.5208      0.980531
                               2018-05-11   -6.1624      0.962223
                               2018-05-14   -3.2853      0.958537
Asbury Automotive Group ABG    2018-05-09   -0.6500      0.985813

                                           bbandupperii  3 MO  6 MO  1 YR  \
name                    symbol date
Alcoa                   AA     2018-05-09      1.026132  1.88  2.05  2.27
                               2018-05-10      1.018853  1.90  2.05  2.27
                               2018-05-11      1.012182  1.92  2.06  2.28
                               2018-05-14      1.044167  1.93  2.09  2.28
Nationwide              AAL    2018-05-09      1.046109  1.88  2.05  2.27
                               2018-05-10      1.032645  1.90  2.05  2.27
                               2018-05-11      1.017327  1.92  2.06  2.28
                               2018-05-14      1.020824  1.93  2.09  2.28
Advance Auto Parts      AAP    2018-05-09      1.002568  1.88  2.05  2.27
                               2018-05-10      1.004626  1.90  2.05  2.27
                               2018-05-11      1.004135  1.92  2.06  2.28
                               2018-05-14      1.005460  1.93  2.09  2.28
Apple                   AAPL   2018-05-09      1.020477  1.88  2.05  2.27
                               2018-05-10      1.003583  1.90  2.05  2.27
                               2018-05-11      1.010505  1.92  2.06  2.28
                               2018-05-14      1.012326  1.93  2.09  2.28
AbbVie                  ABBV   2018-05-09      1.001858  1.88  2.05  2.27
                               2018-05-10      1.003097  1.90  2.05  2.27
                               2018-05-11      1.009175  1.92  2.06  2.28
                               2018-05-14      1.012603  1.93  2.09  2.28
AmerisourceBergen       ABC    2018-05-09      1.020745  1.88  2.05  2.27
                               2018-05-10      1.011753  1.90  2.05  2.27
                               2018-05-11      1.001451  1.92  2.06  2.28
                               2018-05-14      1.008008  1.93  2.09  2.28
Asbury Automotive Group ABG    2018-05-09      1.013040  1.88  2.05  2.27

                                           2 YR  3 YR  5 YR  7 YR  10 YR
name                    symbol date
Alcoa                   AA     2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
Nationwide              AAL    2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
Advance Auto Parts      AAP    2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
Apple                   AAPL   2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
AbbVie                  ABBV   2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
AmerisourceBergen       ABC    2018-05-09  2.54  2.68  2.84  2.96   3.00
                               2018-05-10  2.54  2.69  2.83  2.94   2.97
                               2018-05-11  2.54  2.69  2.84  2.94   2.97
                               2018-05-14  2.55  2.70  2.85  2.96   3.00
Asbury Automotive Group ABG    2018-05-09  2.54  2.68  2.84  2.96   3.00

In [31]:
y_train.min()

perc_change    0.067162
dtype: float64

In [32]:
y_train.head()

                         perc_change
name  symbol date
Alcoa AA     2017-08-17     1.093651
             2017-08-18     1.091367
             2017-08-21     1.096179
             2017-08-22     1.081217
             2017-08-23     1.049440

In [33]:
y_train.sort_values(['perc_change'], axis=1)

KeyError: 'perc_change'

In [34]:
X_train.head(20)

                         EMA_ratio        RSI         CCI  Momentum  \
name  symbol date
Alcoa AA     2017-08-17   0.930952  55.546179   37.966428      0.71
             2017-08-18   0.930128  55.292702  -29.459415      0.34
             2017-08-21   0.928852  58.879643   43.007073      0.48
             2017-08-22   0.926723  64.496425  130.159556      0.19
             2017-08-23   0.923809  69.018740  122.125631      2.44
             2017-08-24   0.920899  69.914514   96.775456      3.56
             2017-08-25   0.918287  68.918184   72.790217      3.43
             2017-08-28   0.915188  72.082142   98.236776      4.98
             2017-08-29   0.911732  74.499112  125.363725      5.50
             2017-08-30   0.908465  74.754338  122.811457      3.86
             2017-08-31   0.904900  76.936396   95.564907      6.08
             2017-09-01   0.900818  79.709621  120.709145      7.28
             2017-09-05   0.897449  74.549931   64.384952      5.95
             2017-09-06   0.894327  74.578514    0.510512      4.66
             2017-09-07   0.891247  75.468628   49.227546      3.67
             2017-09-08   0.889763  59.589874 -152.054795      1.27
             2017-09-11   0.887778  63.456596  -34.198113      2.39
             2017-09-12   0.885071  68.104524  100.477653      2.83
             2017-09-13   0.882633  67.510070   61.167228      1.91
             2017-09-14   0.880461  66.743266   34.651361      1.71

                         bbandlowerii  bbandupperii  3 MO  6 MO  1 YR  2 YR  \
name  symbol date
Alcoa AA     2017-08-17      0.965553      1.039738  1.00  1.11  1.24  1.32
             2017-08-18      0.966431      1.040773  1.02  1.13  1.24  1.33
             2017-08-21      0.959135      1.024333  1.00  1.11  1.23  1.32
             2017-08-22      0.930955      1.010509  1.00  1.13  1.24  1.33
             2017-08-23      0.887185      1.011110  1.00  1.11  1.22  1.32
             2017-08-24      0.892050      1.027640  1.02  1.11  1.23  1.33
             2017-08-25      0.926044      1.033189  1.03  1.11  1.23  1.35
             2017-08-28      0.938221      1.011506  0.98  1.12  1.24  1.33
             2017-08-29      0.937052      1.005087  1.03  1.13  1.23  1.33
             2017-08-30      0.941650      1.015278  1.03  1.11  1.23  1.33
             2017-08-31      0.930996      1.013854  1.01  1.08  1.23  1.33
             2017-09-01      0.921415      1.007359  1.02  1.10  1.24  1.35
             2017-09-05      0.952896      1.023060  1.03  1.13  1.23  1.30
             2017-09-06      0.964761      1.023625  1.07  1.17  1.24  1.30
             2017-09-07      0.977654      1.012062  1.05  1.15  1.21  1.27
             2017-09-08      0.998538      1.078252  1.04  1.14  1.22  1.27
             2017-09-11      0.972813      1.043609  1.05  1.16  1.24  1.32
             2017-09-12      0.940766      1.018079  1.03  1.16  1.27  1.33
             2017-09-13      0.942183      1.024863  1.04  1.16  1.27  1.35
             2017-09-14      0.944415      1.028085  1.05  1.17  1.28  1.37

                         3 YR  5 YR  7 YR  10 YR
name  symbol date
Alcoa AA     2017-08-17  1.46  1.76  2.01   2.19
             2017-08-18  1.47  1.77  2.01   2.19
             2017-08-21  1.46  1.76  2.00   2.18
             2017-08-22  1.48  1.80  2.04   2.22
             2017-08-23  1.45  1.76  1.99   2.17
             2017-08-24  1.47  1.78  2.01   2.19
             2017-08-25  1.47  1.77  2.00   2.17
             2017-08-28  1.46  1.74  1.99   2.16
             2017-08-29  1.43  1.70  1.96   2.13
             2017-08-30  1.44  1.72  1.97   2.15
             2017-08-31  1.44  1.70  1.95   2.12
             2017-09-01  1.46  1.73  1.99   2.16
             2017-09-05  1.40  1.65  1.90   2.07
             2017-09-06  1.42  1.69  1.93   2.10
             2017-09-07  1.38  1.63  1.88   2.05
             2017-09-08  1.39  1.64  1.89   2.06
             2017-09-11  1.44  1.71  1.96   2.14
             2017-09-12  1.46  1.75  1.99   2.17
             2017-09-13  1.48  1.78  2.01   2.20
             2017-09-14  1.50  1.79  2.01   2.20

In [35]:
    %timeit
    forest = RandomForestRegressor()
    forest.fit(X_train,y_train)
    y_pred = forest.predict(X_test)
    y_pred = pd.DataFrame({'ans': y_pred})

C:\Users\Student\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
test.head()

                          open     high      low    close      volume  EMA_20  \
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0     NaN
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0     NaN
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0     NaN
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0     NaN
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0     NaN

                         EMA_50  EMA_200  EMA_ratio  RSI  ...    bbandupperii  \
name  symbol date                                         ...
Alcoa AA     2016-11-01     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-02     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-03     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-04     NaN      NaN        NaN  NaN  ...             NaN
             2016-11-07     NaN      NaN        NaN  NaN  ...        1.037733

                         3 MO  6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  \
name  symbol date
Alcoa AA     2016-11-01  0.35  0.50  0.65  0.83  0.99  1.30  1.61   1.83
             2016-11-02  0.37  0.51  0.64  0.81  0.98  1.26  1.57   1.81
             2016-11-03  0.38  0.52  0.64  0.81  0.98  1.26  1.58   1.82
             2016-11-04  0.38  0.52  0.62  0.80  0.95  1.24  1.55   1.79
             2016-11-07  0.41  0.54  0.63  0.82  0.99  1.29  1.60   1.83

                         30 YR
name  symbol date
Alcoa AA     2016-11-01   2.58
             2016-11-02   2.56
             2016-11-03   2.60
             2016-11-04   2.56
             2016-11-07   2.60

[5 rows x 26 columns]

In [37]:
#final = pd.DataFrame({'close':test.tail(90).reset_index().close, 'ratio':y_pred['ans']})
#final['pred_price']= final['close'] * final['ratio']

In [38]:
testML.head()

                         EMA_ratio        RSI         CCI  Momentum  \
name  symbol date
Alcoa AA     2017-08-17   0.930952  55.546179   37.966428      0.71
             2017-08-18   0.930128  55.292702  -29.459415      0.34
             2017-08-21   0.928852  58.879643   43.007073      0.48
             2017-08-22   0.926723  64.496425  130.159556      0.19
             2017-08-23   0.923809  69.018740  122.125631      2.44

                         bbandlowerii  bbandupperii  3 MO  6 MO  1 YR  2 YR  \
name  symbol date
Alcoa AA     2017-08-17      0.965553      1.039738  1.00  1.11  1.24  1.32
             2017-08-18      0.966431      1.040773  1.02  1.13  1.24  1.33
             2017-08-21      0.959135      1.024333  1.00  1.11  1.23  1.32
             2017-08-22      0.930955      1.010509  1.00  1.13  1.24  1.33
             2017-08-23      0.887185      1.011110  1.00  1.11  1.22  1.32

                         3 YR  5 YR  7 YR  10 YR  perc_change
name  symbol date
Alcoa AA     2017-08-17  1.46  1.76  2.01   2.19     1.093651
             2017-08-18  1.47  1.77  2.01   2.19     1.091367
             2017-08-21  1.46  1.76  2.00   2.18     1.096179
             2017-08-22  1.48  1.80  2.04   2.22     1.081217
             2017-08-23  1.45  1.76  1.99   2.17     1.049440

In [39]:
ml=test.sort_index(level=1, ascending=True)
ml=test.groupby(['name']).tail(1).loc[:,'EMA_ratio':'10 YR']  #tail to get the last date entry for each day

In [40]:
ml.head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandupper,bbandmiddle,bbandlower,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR
name,symbol,date,,,,,,,,,,,,,,,,,
Alcoa,AA,2018-05-21,0.912533,42.723947,-5.838641,-4.180,50.987286,50.528,50.068714,0.994019,1.012255,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
American Airlines Group,AAL,2018-05-21,1.047790,48.865831,83.429942,1.840,44.524372,43.708,42.891628,0.968646,1.005519,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
Nationwide,AAL,2018-05-21,1.047790,48.865831,83.429942,1.840,44.524372,43.708,42.891628,0.968646,1.005519,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
Advance Auto Parts,AAP,2018-05-21,0.983659,58.788669,-107.678799,3.010,120.395596,119.242,118.088404,0.991090,1.010454,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
Apple,AAPL,2018-05-21,0.939472,65.274117,91.825571,3.184,188.529465,187.110,185.690535,0.989663,1.004794,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06

In [41]:
ml[ml.isnull().any(axis=1)].head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandupper,bbandmiddle,bbandlower,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR
name,symbol,date,,,,,,,,,,,,,,,,,
Berkshire Hathaway,BRKA,2018-05-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06

In [42]:
ml=ml.loc[ml['EMA_ratio'].notnull()]

In [43]:
ml.drop(['bbandupper','bbandmiddle','bbandlower'], axis=1, inplace=True)

In [44]:
ml['5dayforecast'] = forest.predict(ml)

In [45]:
ml.head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,5dayforecast
name,symbol,date,,,,,,,,,,,,,,,
Alcoa,AA,2018-05-21,0.912533,42.723947,-5.838641,-4.180,0.994019,1.012255,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,1.005992
American Airlines Group,AAL,2018-05-21,1.047790,48.865831,83.429942,1.840,0.968646,1.005519,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,1.007671
Nationwide,AAL,2018-05-21,1.047790,48.865831,83.429942,1.840,0.968646,1.005519,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,1.007671
Advance Auto Parts,AAP,2018-05-21,0.983659,58.788669,-107.678799,3.010,0.991090,1.010454,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,1.015251
Apple,AAPL,2018-05-21,0.939472,65.274117,91.825571,3.184,0.989663,1.004794,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,1.018321

In [46]:
prices.head()

                          open     high      low    close      volume  EMA_20  \
name  symbol date
Alcoa AA     2016-11-01  22.10  23.5500  21.7800  22.9219  32216510.0     NaN
             2016-11-02  22.67  23.2650  22.6358  22.8322  10755328.0     NaN
             2016-11-03  22.96  24.3493  22.9400  24.0680   8083097.0     NaN
             2016-11-04  23.82  25.5000  23.5600  25.1144   6878500.0     NaN
             2016-11-07  25.54  26.4100  24.8900  24.9948   8377025.0     NaN

                         EMA_50  EMA_200  EMA_ratio  RSI     ...       6 MO  \
name  symbol date                                            ...
Alcoa AA     2016-11-01     NaN      NaN        NaN  NaN     ...       0.50
             2016-11-02     NaN      NaN        NaN  NaN     ...       0.51
             2016-11-03     NaN      NaN        NaN  NaN     ...       0.52
             2016-11-04     NaN      NaN        NaN  NaN     ...       0.52
             2016-11-07     NaN      NaN        NaN  NaN     ...       0.54

                         1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  30 YR  \
name  symbol date
Alcoa AA     2016-11-01  0.65  0.83  0.99  1.30  1.61   1.83   2.58
             2016-11-02  0.64  0.81  0.98  1.26  1.57   1.81   2.56
             2016-11-03  0.64  0.81  0.98  1.26  1.58   1.82   2.60
             2016-11-04  0.62  0.80  0.95  1.24  1.55   1.79   2.56
             2016-11-07  0.63  0.82  0.99  1.29  1.60   1.83   2.60

                         5_day_target  perc_change
name  symbol date
Alcoa AA     2016-11-01         26.40     1.151737
             2016-11-02         28.72     1.257873
             2016-11-03         29.10     1.209074
             2016-11-04         29.30     1.166661
             2016-11-07         29.62     1.185046

[5 rows x 28 columns]

In [47]:
result=ml.join(prices, lsuffix='l',how ='left')

In [48]:
result[['close','5dayforecast']]

                                                      close  5dayforecast
name                              symbol date
Alcoa                             AA     2018-05-21   50.37      1.005992
American Airlines Group           AAL    2018-05-21   44.28      1.007671
Nationwide                        AAL    2018-05-21   44.28      1.007671
Advance Auto Parts                AAP    2018-05-21  119.15      1.015251
Apple                             AAPL   2018-05-21  187.63      1.018321
AbbVie                            ABBV   2018-05-21  106.23      1.019458
AmerisourceBergen                 ABC    2018-05-21   84.34      1.003321
Asbury Automotive Group           ABG    2018-05-21   70.80      1.008849
ABM Industries                    ABM    2018-05-21   30.02      0.987200
Abbott Laboratories               ABT    2018-05-21   62.11      1.026310
AECOM                             ACM    2018-05-21   33.35      1.004162
Adobe Systems                     ADBE   2018-05-21  238.10      1.018279
Archer Daniels Midland            ADM    2018-05-21   45.17      1.020654
ADP                               ADP    2018-05-21  128.84      1.006565
Alliance Data Systems             ADS    2018-05-21  212.69      1.021012
Computer Sciences                 ADS    2018-05-21  212.69      1.021012
Ameren                            AEE    2018-05-21   56.34      0.988575
American Electric Power           AEP    2018-05-21   65.09      1.007295
AES                               AES    2018-05-21   12.06      1.016591
Aetna                             AET    2018-05-21  177.72      1.020704
American Financial Group          AFG    2018-05-21  111.31      1.032620
Aflac                             AFL    2018-05-21   45.75      1.017300
AmTrust Financial Services        AFSI   2018-05-21   13.84      1.031175
AGCO                              AGCO   2018-05-21   68.05      1.021003
AIG                               AIG    2018-05-21   55.29      1.001425
Assurant                          AIZ    2018-05-21   97.95      1.013223
Arthur J. Gallagher               AJG    2018-05-21   68.11      1.001040
AK Steel Holding                  AKS    2018-05-21    4.46      1.037318
Alaska Air Group                  ALK    2018-05-21   57.94      0.984880
Allstate                          ALL    2018-05-21   95.61      1.006781
...                                                     ...           ...
Verizon                           VZ     2018-05-21   48.43      1.026142
Walgreens Boots Alliance          WBA    2018-05-21   64.50      1.017338
WESCO International               WCC    2018-05-21   60.55      1.019684
WellCare Health Plans             WCG    2018-05-21  217.95      1.012919
Guardian Life Ins. Co. of America WDC    2018-05-21   86.53      1.003901
Western Digital                   WDC    2018-05-21   86.53      1.003901
WEC Energy Group                  WEC    2018-05-21   60.20      0.987810
Wells Fargo                       WFC    2018-05-21   54.54      0.991120
Whole Foods Market                WFM    2017-08-28   41.99      1.012607
Whirlpool                         WHR    2018-05-21  164.95      1.030165
Windstream Holdings               WIN    2018-05-21    1.48      1.011382
Waste Management                  WM     2018-05-21   82.34      1.007735
Williams                          WMB    2018-05-21   27.62      1.052701
Walmart                           WMT    2018-05-21   84.51      1.016906
W.R. Berkley                      WRB    2018-05-21   77.36      1.011172
WestRock                          WRK    2018-05-21   61.39      1.016962
Western Union                     WU     2018-05-21   20.14      1.013986
Mutual of Omaha Insurance         WY     2018-05-21   36.82      1.001723
Weyerhaeuser                      WY     2018-05-21   36.82      1.001723
Wyndham Worldwide                 WYN    2018-05-21  108.99      0.996628
United States Steel               X      2018-05-21   35.06      1.009093
Xcel Energy                       XEL    2018-05-21   43.55      1.019619
Exxon Mobil                       XOM    2018-05-21   82.28      1.035255
XPO Logistics                     XPO    2018-05-21  110.31      1.005079
Xerox                             XRX    2018-05-21   27.98      0.977151
Alleghany                         Y      2018-05-21  582.06      1.006601
Yahoo                             YHOO   2017-06-16   52.58      0.987325
Yum Brands                        YUM    2018-05-21   82.69      1.002160
Yum China Holdings                YUMC   2018-05-21   38.90      1.000142
Zimmer Biomet Holdings            ZBH    2018-05-21  114.31      1.002649

[498 rows x 2 columns]

In [49]:
result=result[result.close.notnull()]

In [50]:
result=result[['close','5dayforecast']]

In [51]:
result.head()

                                            close  5dayforecast
name                    symbol date
Alcoa                   AA     2018-05-21   50.37      1.005992
American Airlines Group AAL    2018-05-21   44.28      1.007671
Nationwide              AAL    2018-05-21   44.28      1.007671
Advance Auto Parts      AAP    2018-05-21  119.15      1.015251
Apple                   AAPL   2018-05-21  187.63      1.018321

In [52]:
result['5day_price']=result['close']*result['5dayforecast']

In [53]:
result['5day%_change']=(result['5dayforecast']-1)*100

In [54]:
result

,,,close,5dayforecast,5day_price,5day%_change
name,symbol,date,,,,
Alcoa,AA,2018-05-21,50.37,1.005992,50.671816,0.599199
American Airlines Group,AAL,2018-05-21,44.28,1.007671,44.619682,0.767123
Nationwide,AAL,2018-05-21,44.28,1.007671,44.619682,0.767123
Advance Auto Parts,AAP,2018-05-21,119.15,1.015251,120.967181,1.525120
Apple,AAPL,2018-05-21,187.63,1.018321,191.067491,1.832058
AbbVie,ABBV,2018-05-21,106.23,1.019458,108.297000,1.945778
AmerisourceBergen,ABC,2018-05-21,84.34,1.003321,84.620120,0.332132
Asbury Automotive Group,ABG,2018-05-21,70.80,1.008849,71.426488,0.884870
ABM Industries,ABM,2018-05-21,30.02,0.987200,29.635758,-1.279954
Abbott Laboratories,ABT,2018-05-21,62.11,1.026310,63.744089,2.630959
AECOM,ACM,2018-05-21,33.35,1.004162,33.488805,0.416206
Adobe Systems,ADBE,2018-05-21,238.10,1.018279,242.452286,1.827924
Archer Daniels Midland,ADM,2018-05-21,45.17,1.020654,46.102923,2.065360
ADP,ADP,2018-05-21,128.84,1.006565,129.685867,0.656525
Alliance Data Systems,ADS,2018-05-21,212.69,1.021012,217.158957,2.101160
Computer Sciences,ADS,2018-05-21,212.69,1.021012,217.158957,2.101160
Ameren,AEE,2018-05-21,56.34,0.988575,55.696293,-1.142539
American Electric Power,AEP,2018-05-21,65.09,1.007295,65.564858,0.729541
AES,AES,2018-05-21,12.06,1.016591,12.260089,1.659111
Aetna,AET,2018-05-21,177.72,1.020704,181.399579,2.070436
American Financial Group,AFG,2018-05-21,111.31,1.032620,114.940921,3.261990
Aflac,AFL,2018-05-21,45.75,1.017300,46.541493,1.730039
AmTrust Financial Services,AFSI,2018-05-21,13.84,1.031175,14.271456,3.117457
AGCO,AGCO,2018-05-21,68.05,1.021003,69.479233,2.100268
AIG,AIG,2018-05-21,55.29,1.001425,55.368778,0.142481
Assurant,AIZ,2018-05-21,97.95,1.013223,99.245152,1.322258
Arthur J. Gallagher,AJG,2018-05-21,68.11,1.001040,68.180836,0.104003
AK Steel Holding,AKS,2018-05-21,4.46,1.037318,4.626440,3.731844
Alaska Air Group,ALK,2018-05-21,57.94,0.984880,57.063940,-1.512012
Allstate,ALL,2018-05-21,95.61,1.006781,96.258335,0.678104
...,...,...,...,...,...,...
Verizon,VZ,2018-05-21,48.43,1.026142,49.696045,2.614175
Walgreens Boots Alliance,WBA,2018-05-21,64.50,1.017338,65.618282,1.733771
WESCO International,WCC,2018-05-21,60.55,1.019684,61.741855,1.968381
WellCare Health Plans,WCG,2018-05-21,217.95,1.012919,220.765656,1.291882
Guardian Life Ins. Co. of America,WDC,2018-05-21,86.53,1.003901,86.867585,0.390136
Western Digital,WDC,2018-05-21,86.53,1.003901,86.867585,0.390136
WEC Energy Group,WEC,2018-05-21,60.20,0.987810,59.466157,-1.219009
Wells Fargo,WFC,2018-05-21,54.54,0.991120,54.055692,-0.887988
Whole Foods Market,WFM,2017-08-28,41.99,1.012607,42.519347,1.260651
Whirlpool,WHR,2018-05-21,164.95,1.030165,169.925699,3.016490
Windstream Holdings,WIN,2018-05-21,1.48,1.011382,1.496845,1.138157
Waste Management,WM,2018-05-21,82.34,1.007735,82.976874,0.773468
Williams,WMB,2018-05-21,27.62,1.052701,29.075611,5.270135
Walmart,WMT,2018-05-21,84.51,1.016906,85.938757,1.690637
W.R. Berkley,WRB,2018-05-21,77.36,1.011172,78.224255,1.117185
WestRock,WRK,2018-05-21,61.39,1.016962,62.431289,1.696187
Western Union,WU,2018-05-21,20.14,1.013986,20.421668,1.398550
Mutual of Omaha Insurance,WY,2018-05-21,36.82,1.001723,36.883449,0.172322
Weyerhaeuser,WY,2018-05-21,36.82,1.001723,36.883449,0.172322
Wyndham Worldwide,WYN,2018-05-21,108.99,0.996628,108.622536,-0.337153
United States Steel,X,2018-05-21,35.06,1.009093,35.378808,0.909322
Xcel Energy,XEL,2018-05-21,43.55,1.019619,44.404417,1.961922
Exxon Mobil,XOM,2018-05-21,82.28,1.035255,85.180811,3.525536
XPO Logistics,XPO,2018-05-21,110.31,1.005079,110.870284,0.507917
Xerox,XRX,2018-05-21,27.98,0.977151,27.340695,-2.284865
Alleghany,Y,2018-05-21,582.06,1.006601,585.902279,0.660117
Yahoo,YHOO,2017-06-16,52.58,0.987325,51.913559,-1.267480
Yum Brands,YUM,2018-05-21,82.69,1.002160,82.868651,0.216049
Yum China Holdings,YUMC,2018-05-21,38.90,1.000142,38.905542,0.014246
Zimmer Biomet Holdings,ZBH,2018-05-21,114.31,1.002649,114.612805,0.264898

In [55]:
prep = result[['close','5day_price','5day%_change']]
prep.sort_values("5day%_change",ascending=False, inplace=True)
prep.reset_index(inplace=True)
prep.set_index('name')
tdf=timedelta(days=5)
prep=prep[prep['date']>=(datetime.now()-tdf)]

C:\Users\Student\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [56]:
prep.shape

(481, 6)

In [57]:
prep.tail(20)

,name,symbol,date,close,5day_price,5day%_change
473,NRG Energy,NRG,2018-05-21,33.50,32.762347,-2.201950
474,Kraft Heinz,KHC,2018-05-21,56.45,55.201985,-2.210833
475,Xerox,XRX,2018-05-21,27.98,27.340695,-2.284865
477,Bed Bath & Beyond,BBBY,2018-05-21,18.01,17.566238,-2.463973
479,Conagra Brands,CAG,2018-05-21,36.91,35.941585,-2.623721
480,Celgene,CELG,2018-05-21,74.69,72.656257,-2.722911
482,General Electric,GE,2018-05-21,15.26,14.774313,-3.182746
483,Frontier Communications,FTR,2018-05-21,9.60,9.271939,-3.417298
484,Newell Brands,NWL,2018-05-21,26.39,25.468820,-3.490642
485,Land OLakes,NWL,2018-05-21,26.39,25.468820,-3.490642
486,Graybar Electric,CMS,2018-05-21,43.97,42.433330,-3.494816
487,CMS Energy,CMS,2018-05-21,43.97,42.433330,-3.494816
488,TreeHouse Foods,THS,2018-05-21,46.83,45.154843,-3.577103
489,Nvidia,NVDA,2018-05-21,244.24,234.880552,-3.832070
490,Core-Mark Holding,CORE,2018-05-21,18.24,17.509336,-4.005836
491,DISH Network,DISH,2018-05-21,31.84,30.562974,-4.010761
493,TravelCenters of America,TA,2018-05-21,3.15,3.019837,-4.132164
494,Patterson,PDCO,2018-05-21,22.10,21.151803,-4.290484
495,Arconic,ARNC,2018-05-21,18.44,17.625767,-4.415578
496,Chesapeake Energy,CHK,2018-05-21,4.61,4.401486,-4.523076

In [58]:
prep.head(20)

,name,symbol,date,close,5day_price,5day%_change
0,Farmers Insurance Exchange,JCP,2018-05-21,2.500,2.750157,10.006291
1,J.C. Penney,JCP,2018-05-21,2.500,2.750157,10.006291
2,Campbell Soup,CPB,2018-05-21,33.580,36.668912,9.198665
3,Williams,WMB,2018-05-21,27.620,29.075611,5.270135
4,INTL FCStone,INTL,2018-05-21,48.150,50.398091,4.668932
5,Sanmina,SANM,2018-05-21,30.025,31.423857,4.658975
6,Ascena Retail Group,ASNA,2018-05-21,3.140,3.271310,4.181856
7,CBS,CBS,2018-05-21,52.000,54.143018,4.121189
8,Lincoln National,LNC,2018-05-21,69.830,72.578479,3.935958
9,Sonic Automotive,SAH,2018-05-21,22.000,22.852135,3.873340
10,AK Steel Holding,AKS,2018-05-21,4.460,4.626440,3.731844
11,Mattel,MAT,2018-05-21,14.850,15.393620,3.660742
12,NetApp,NTAP,2018-05-21,68.450,70.889242,3.563538
13,Exxon Mobil,XOM,2018-05-21,82.280,85.180811,3.525536
14,Sempra Energy,SRE,2018-05-21,102.640,106.203659,3.471998
15,FedEx,FDX,2018-05-21,254.660,263.324511,3.402384
16,Comcast,CMCSA,2018-05-21,32.340,33.409668,3.307570
17,Becton Dickinson,BDX,2018-05-21,228.760,236.325108,3.307006
18,American Financial Group,AFG,2018-05-21,111.310,114.940921,3.261990
19,Danaher,DHR,2018-05-21,102.240,105.493387,3.182107