In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import talib as ta
from datetime import datetime
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns ; sns.set()
from sklearn.metrics import accuracy_score, r2_score
from datetime import datetime as dt, timedelta

In [2]:
def get_prices(ticker, start_date, end_date):
    start = datetime.strptime(start_date, '%d/%m/%Y')
    end = datetime.strptime(end_date, '%d/%m/%Y')
    f = web.DataReader(ticker, 'morningstar', start, end)
    df = pd.DataFrame(f)
    
    return df

## SQL Connection

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

def create_connection():
    # Login details: 
    DSN_Name = 'traderDSN' ; Login_ID = 'basic' ; pwd = 'pwd1'

    # The engine does the same job as a connection and a cursor
    engine = create_engine(r'mssql+pyodbc://'+Login_ID+':'+pwd+'@'+ DSN_Name) 

    return engine 

# Build query here:
query = ''' 
SELECT * FROM {schema}.{table_name}

'''.format(schema='stocks', table_name='Adjusted_Fortune_500')
print('Query:', query)
print('='*60)


engine = create_connection()

# Importing a Pandas Dataframe: 
df1 = pd.read_sql(query,engine)

df1.head()

Query:
SELECT * FROM stocks.Adjusted_Fortune_500


============================================================

,index,open,high,low,close,adjusted close,volume,dividend amount,split coefficient,date,Name,Ticker
0,0,84.1400,84.5400,83.8200,84.5100,84.5100,10713391,0.0000,1.0000,2018-05-21,Walmart,WMT
1,0,84.2400,84.4400,83.4900,83.6400,83.6400,12043137,0.0000,1.0000,2018-05-18,Walmart,WMT
2,0,87.0400,87.5900,83.8500,84.4900,84.4900,29720738,0.0000,1.0000,2018-05-17,Walmart,WMT
3,0,84.8700,86.6250,84.7400,86.1300,86.1300,13733627,0.0000,1.0000,2018-05-16,Walmart,WMT
4,0,84.0600,84.8800,83.8000,84.5200,84.5200,9322923,0.0000,1.0000,2018-05-15,Walmart,WMT

In [4]:
prices = df1.copy()

prices = prices.drop(columns=['index','close', 'split coefficient','dividend amount'])
prices = prices.rename(columns={'Ticker':'symbol','adjusted close':'close','Name':'name'})
prices.head()

      open     high      low    close    volume        date     name symbol
0  84.1400  84.5400  83.8200  84.5100  10713391  2018-05-21  Walmart    WMT
1  84.2400  84.4400  83.4900  83.6400  12043137  2018-05-18  Walmart    WMT
2  87.0400  87.5900  83.8500  84.4900  29720738  2018-05-17  Walmart    WMT
3  84.8700  86.6250  84.7400  86.1300  13733627  2018-05-16  Walmart    WMT
4  84.0600  84.8800  83.8000  84.5200   9322923  2018-05-15  Walmart    WMT

In [5]:
df1.shape

(2031360, 12)

In [6]:
    %%time 
    
    # Create engine and query 
    engine = create_connection()
    query = ''' 
    SELECT * FROM {schema}.{table_name}
    '''.format(schema='stocks', table_name='Adjusted_Fortune_500')

    # Importing a Pandas Dataframe
    prices = pd.read_sql(query,engine)
    prices = prices.drop(columns=['index','close', 'split coefficient','dividend amount'])
    prices = prices.rename(columns={'Ticker':'symbol','adjusted close':'close','Name':'name'})
    
    # Reformat column types
    prices['open']  = prices['open'].astype(float)
    prices['high']  = prices['high'].astype(float)
    prices['low']   = prices['low'].astype(float)
    prices['close'] = prices['close'].astype(float)
    prices['volume']= prices['volume'].astype(float)

    prices['date'] = pd.to_datetime(prices['date'])

    prices.set_index(['symbol', 'name', 'date'], inplace=True)
    prices = prices.sort_index(level=1, ascending=True)

Wall time: 29.4 s

In [7]:
prices.head()

                          open    high    low    close     volume
symbol name date
MMM    3M   2000-01-03   96.06   96.44  94.06  30.2529  1086700.0
            2000-01-04   92.88   94.81  90.63  29.0509  1356900.0
            2000-01-05   91.13   95.31  91.13  30.5318  1849700.0
            2000-01-06   94.31  102.50  94.31  32.3108  2987900.0
            2000-01-07  101.10  103.80  99.94  32.9519  2050600.0

In [8]:
    # Calculated columns
    prices  = prices.copy().loc[(prices.loc[:,'open':'volume'] != 0 ).all(axis=1)] # Don't touch this (:
    
    # Group over the symbols. 
    prices_g = prices.groupby(level=['symbol'])
    
    EMA_lengths = [20, 50, 200]  # Calculate many moving averages, of closing prices
    for l in EMA_lengths: 
        prices['EMA_'+str(l)] = prices_g.close.apply(lambda x: ta.EMA(x,l))   

    prices['EMA_ratio'] = prices['EMA_200']/prices['EMA_50'] # Ratio of moving average
    prices['RSI'] = prices_g.close.apply(lambda x: ta.RSI(x, 14))  # 14 day relative strength index

    def CCI_func(x):
        xh = x.high 
        xl = x.low 
        xc = x.close 
        return ta.CCI(high=xh, low=xl, close=xc, timeperiod=5)
   
    prices['CCI'] = prices_g.apply(CCI_func).reset_index(level=1,).drop(columns='symbol')    # created an extra column. 

    prices['Momentum'] = prices_g.close.apply(lambda x: ta.MOM(x, 10))  # 10 day rolling momentum changed to prices_g.close

    def Stoch_fast(x, index):
        xh = x.high 
        xl = x.low 
        xc = x.close 
        return ta.STOCHF(high=xh, low=xl, close=xc, fastk_period=14, fastd_period=3)[index] # Params 14, 3    
    
    #prices['Stoch_fastk'] = prices_g.apply(Stoch_fast, 0).reset_index(level=1,).drop(columns='symbol')   # Stochastic fast indicator
    #prices['Stoch_fastd'] = prices_g.apply(Stoch_fast, 1).reset_index(level=1,).drop(columns='symbol')

   # def OBV_func(x):
    #    xc = x.close
   #     xv = x.volume
    #    return ta.OBV(xc, xv) 
    #prices['OBV'] = prices_g.apply(OBV_func).reset_index(level=1,).drop(columns='symbol')  # On Balance Volume
    

    def bband_func(x, index):
        xc = x.close
        return ta.BBANDS(xc)[index]
    
    prices['bbandupper'] = prices_g.apply(bband_func, 0).reset_index(level=1,).drop(columns='symbol')
    prices['bbandmiddle'] = prices_g.apply(bband_func, 1).reset_index(level=1,).drop(columns='symbol') 
    prices['bbandlower'] =  prices_g.apply(bband_func, 2).reset_index(level=1,).drop(columns='symbol')

In [9]:
prices['bbandlowerii'] =  prices['bbandlower']/prices['close']
prices['bbandupperii'] =  prices['bbandupper']/prices['close']

In [10]:
prices.head(205)

                          open    high     low    close     volume     EMA_20  \
symbol name date
MMM    3M   2000-01-03   96.06   96.44   94.06  30.2529  1086700.0        NaN
            2000-01-04   92.88   94.81   90.63  29.0509  1356900.0        NaN
            2000-01-05   91.13   95.31   91.13  30.5318  1849700.0        NaN
            2000-01-06   94.31  102.50   94.31  32.3108  2987900.0        NaN
            2000-01-07  101.10  103.80   99.94  32.9519  2050600.0        NaN
            2000-01-10  100.40  103.50  100.00  32.7916  1931900.0        NaN
            2000-01-11  100.80  102.50  100.50  32.2146  1178800.0        NaN
            2000-01-12  101.90  103.60  100.80  32.3108  1434200.0        NaN
            2000-01-13  101.30  101.90  100.40  32.3108  1122200.0        NaN
            2000-01-14  100.80  100.90   98.94  31.8332  1270900.0        NaN
            2000-01-18   97.25   99.25   97.13  31.1344  1057400.0        NaN
            2000-01-19   97.75   99.94   97.75  31.6729  1314100.0        NaN
            2000-01-20   99.06   99.38   94.50  30.4933  1552300.0        NaN
            2000-01-21   95.25   96.56   94.56  30.4324  2245900.0        NaN
            2000-01-24   95.81   95.81   91.63  29.7304  1485500.0        NaN
            2000-01-25   94.88   94.88   90.25  29.2913  1845600.0        NaN
            2000-01-26   95.88   97.50   95.31  30.8716  3510400.0        NaN
            2000-01-27   97.19   98.31   96.06  30.8523  1457400.0        NaN
            2000-01-28   95.75   95.81   92.25  29.5702  1873700.0        NaN
            2000-01-31   92.25   97.38   92.06  30.0125  1641400.0  31.031030
            2000-02-01   94.38   96.19   93.75  30.1728  1321100.0  30.949294
            2000-02-02   93.19   94.00   92.00  29.6503  1462100.0  30.825580
            2000-02-03   91.94   92.13   90.00  29.3907  1760300.0  30.688925
            2000-02-04   91.94   92.44   89.06  28.5476  1646700.0  30.484989
            2000-02-07   89.25   89.38   86.63  28.0892  1967700.0  30.256819
            2000-02-08   87.63   90.19   87.44  28.1085  1442000.0  30.052217
            2000-02-09   88.63   89.00   87.50  28.0892  1300200.0  29.865263
            2000-02-10   87.25   87.25   85.31  27.5668  2010000.0  29.646362
            2000-02-11   85.38   86.50   81.31  26.5859  2245800.0  29.354889
            2000-02-14   83.25   84.75   82.38  26.5667  1678200.0  29.089347
...                        ...     ...     ...      ...        ...        ...
            2000-09-12   88.44   89.69   88.00  28.7645  1268700.0  30.071319
            2000-09-13   88.63   89.94   86.19  28.2549  1322000.0  29.898327
            2000-09-14   86.25   86.44   84.13  27.7650  1973800.0  29.695153
            2000-09-15   86.25   86.25   84.13  27.8074  2401000.0  29.515367
            2000-09-18   84.38   84.63   82.00  27.1737  2110100.0  29.292351
            2000-09-19   84.19   84.69   83.06  27.3991  1652700.0  29.112041
            2000-09-20   83.75   84.69   80.50  26.7034  2260000.0  28.882647
            2000-09-21   84.63   87.81   84.50  28.2353  2910100.0  28.820995
            2000-09-22   87.50   89.50   86.25  28.8266  2546200.0  28.821529
            2000-09-25   88.00   90.06   87.75  29.3982  2146900.0  28.876450
            2000-09-26   90.00   91.00   88.44  29.3590  2932900.0  28.922407
            2000-09-27   89.94   91.25   89.19  29.3786  2535800.0  28.965854
            2000-09-28   90.19   93.44   90.06  29.9306  1653000.0  29.057734
            2000-09-29   91.38   93.38   91.00  29.7673  1629100.0  29.125312
            2000-10-02   91.94   92.69   90.81  29.9502  1246700.0  29.203873
            2000-10-03   91.50   94.94   91.50  30.7048  1455800.0  29.346818
            2000-10-04   93.31   96.00   93.31  31.1947  2022900.0  29.522807
            2000-10-05   95.00   95.00   93.06  30.4598  1277600.0  29.612044
            2000-10-06   93.75   94.75   92.19  30.1135  1396000.0  29.659802
            2000-10-09   92.31   94.31   91.75  29.9698   894800.0  29.689326
            2000-10-10   92.19   94.88   92.19  30.4206  1164400.0  29.758971
            2000-10-11   94.50   95.44   93.06  30.4598  1183600.0  29.825717
            2000-10-12   93.13   93.19   90.50  29.6856  2443400.0  29.812372
            2000-10-13   90.63   91.31   90.63  29.7248  3113900.0  29.804032
            2000-10-16   91.63   94.88   91.63  30.1135  1428500.0  29.833505
            2000-10-17   92.50   93.38   90.94  29.7673  2000800.0  29.827200
            2000-10-18   90.25   91.38   90.25  29.7673  2106700.0  29.821495
            2000-10-19   91.25   91.25   88.44  29.0715  2387700.0  29.750067
            2000-10-20   88.00   88.88   83.94  28.4999  5121500.0  29.631003
            2000-10-23   92.00   94.00   88.50  29.3361  2847100.0  29.602917

                           EMA_50    EMA_200  EMA_ratio        RSI  \
symbol name date
MMM    3M   2000-01-03        NaN        NaN        NaN        NaN
            2000-01-04        NaN        NaN        NaN        NaN
            2000-01-05        NaN        NaN        NaN        NaN
            2000-01-06        NaN        NaN        NaN        NaN
            2000-01-07        NaN        NaN        NaN        NaN
            2000-01-10        NaN        NaN        NaN        NaN
            2000-01-11        NaN        NaN        NaN        NaN
            2000-01-12        NaN        NaN        NaN        NaN
            2000-01-13        NaN        NaN        NaN        NaN
            2000-01-14        NaN        NaN        NaN        NaN
            2000-01-18        NaN        NaN        NaN        NaN
            2000-01-19        NaN        NaN        NaN        NaN
            2000-01-20        NaN        NaN        NaN        NaN
            2000-01-21        NaN        NaN        NaN        NaN
            2000-01-24        NaN        NaN        NaN  47.276916
            2000-01-25        NaN        NaN        NaN  45.056129
            2000-01-26        NaN        NaN        NaN  53.518608
            2000-01-27        NaN        NaN        NaN  53.410413
            2000-01-28        NaN        NaN        NaN  46.661825
            2000-01-31        NaN        NaN        NaN  49.053389
            2000-02-01        NaN        NaN        NaN  49.929635
            2000-02-02        NaN        NaN        NaN  47.086827
            2000-02-03        NaN        NaN        NaN  45.694765
            2000-02-04        NaN        NaN        NaN  41.412713
            2000-02-07        NaN        NaN        NaN  39.258591
            2000-02-08        NaN        NaN        NaN  39.401511
            2000-02-09        NaN        NaN        NaN  39.301923
            2000-02-10        NaN        NaN        NaN  36.605006
            2000-02-11        NaN        NaN        NaN  32.144656
            2000-02-14        NaN        NaN        NaN  32.062302
...                           ...        ...        ...        ...
            2000-09-12  29.678546        NaN        NaN  35.462143
            2000-09-13  29.622717        NaN        NaN  31.742406
            2000-09-14  29.549865        NaN        NaN  28.633004
            2000-09-15  29.481533        NaN        NaN  29.278703
            2000-09-18  29.391030        NaN        NaN  25.556973
            2000-09-19  29.312915        NaN        NaN  29.013377
            2000-09-20  29.210581        NaN        NaN  25.134365
            2000-09-21  29.172335        NaN        NaN  43.156200
            2000-09-22  29.158776        NaN        NaN  48.326834
            2000-09-25  29.168166        NaN        NaN  52.796770
            2000-09-26  29.175649        NaN        NaN  52.461607
            2000-09-27  29.183608        NaN        NaN  52.623551
            2000-09-28  29.212902        NaN        NaN  57.060148
            2000-09-29  29.234643        NaN        NaN  55.407103
            2000-10-02  29.262704        NaN        NaN  56.912716
            2000-10-03  29.319257        NaN        NaN  62.533291
            2000-10-04  29.392804        NaN        NaN  65.664753
            2000-10-05  29.434647        NaN        NaN  57.853246
            2000-10-06  29.461268        NaN        NaN  54.559559
            2000-10-09  29.481211        NaN        NaN  53.205918
            2000-10-10  29.518050        NaN        NaN  56.824834
            2000-10-11  29.554981        NaN        NaN  57.135272
            2000-10-12  29.560103        NaN        NaN  49.556591
            2000-10-13  29.566562        NaN        NaN  49.918818
            2000-10-16  29.588010  28.931630   0.977816  53.485608
            2000-10-17  29.595041  28.939945   0.977865  50.065508
            2000-10-18  29.601797  28.948177   0.977920  50.065508
            2000-10-19  29.581001  28.949404   0.978649  43.571262
            2000-10-20  29.538605  28.944931   0.979902  39.085852
            2000-10-23  29.530663  28.948824   0.980297  47.586429

                               CCI  Momentum  bbandupper  bbandmiddle  \
symbol name date
MMM    3M   2000-01-03         NaN       NaN         NaN          NaN
            2000-01-04         NaN       NaN         NaN          NaN
            2000-01-05         NaN       NaN         NaN          NaN
            2000-01-06         NaN       NaN         NaN          NaN
            2000-01-07  117.251516       NaN   33.862551     31.01966
            2000-01-10   72.680723       NaN   34.542746     31.52740
            2000-01-11   46.472833       NaN   33.881252     32.16014
            2000-01-12   55.843245       NaN   33.109923     32.51594
            2000-01-13 -108.714001       NaN   33.109923     32.51594
            2000-01-14 -152.949987       NaN   32.903294     32.29220
            2000-01-18 -132.132344    0.8815   32.859040     31.96076
            2000-01-19  -59.035332    2.6220   32.732590     31.85242
            2000-01-20 -117.687002   -0.0385   32.736256     31.48892
            2000-01-21 -113.222917   -1.8784   32.272508     31.11324
            2000-01-24 -122.740262   -3.2215   32.016139     30.69268
            2000-01-25 -103.860488   -3.5003   31.943634     30.32406
            2000-01-26   64.540930   -1.3430   31.306004     30.16380
            2000-01-27   86.926759   -1.4585   31.491140     30.23560
            2000-01-28  -34.442490   -2.7406   31.397573     30.06316
            2000-01-31  -11.995171   -1.8207   31.416267     30.11958
            2000-02-01  -28.544143   -0.9616   31.301115     30.29588
            2000-02-02 -108.148080   -2.0226   30.968190     30.05162
            2000-02-03 -135.668228   -1.1026   30.337987     29.75930
            2000-02-04  -96.756498   -1.8848   30.700874     29.55478
            2000-02-07 -121.928669   -1.6412   30.677572     29.17012
            2000-02-08  -68.128985   -1.1828   30.056465     28.75726
            2000-02-09  -60.663875   -2.7824   29.453522     28.44504
            2000-02-10 -134.370406   -3.2855   28.701874     28.08026
            2000-02-11 -136.062451   -2.9843   28.863694     27.68792
            2000-02-14  -88.477730   -3.4458   28.757629     27.38342
...                            ...       ...         ...          ...
            2000-09-12  -79.323323   -2.3094   30.980155     29.57456
            2000-09-13  -99.301799   -2.6557   30.205251     29.07610
            2000-09-14 -145.961231   -2.7373   29.790002     28.64298
            2000-09-15  -84.612042   -2.5773   29.351637     28.32874
            2000-09-18 -103.301456   -3.0411   29.016501     27.95310
            2000-09-19  -67.296598   -2.7340   28.422562     27.68002
            2000-09-20 -107.035746   -4.0438   28.185112     27.36972
            2000-09-21  111.805682   -1.6953   28.514428     27.46378
            2000-09-22  114.628378   -0.5520   29.193733     27.66762
            2000-09-25   96.192984    0.3463   30.045920     28.11252
            2000-09-26   80.845138    0.5945   30.494284     28.50450
            2000-09-27   83.344127    1.1237   29.950715     29.03954
            2000-09-28  135.226034    2.1656   30.077271     29.37860
            2000-09-29   92.940953    1.9599   30.039669     29.56674
            2000-10-02   48.373494    2.7765   30.196580     29.67714
            2000-10-03  144.325072    3.3057   30.808812     29.94630
            2000-10-04  128.650721    4.4913   31.407330     30.30952
            2000-10-05   49.821578    2.2245   31.446661     30.41536
            2000-10-06  -10.757009    1.2869   31.368520     30.48460
            2000-10-09  -91.306450    0.5716   31.363050     30.48852
            2000-10-10  -22.452179    1.0616   31.279116     30.43168
            2000-10-11   99.570454    1.0812   30.692877     30.28470
            2000-10-12 -142.184983   -0.2450   30.707195     30.12986
            2000-10-13 -107.222490   -0.0425   30.715585     30.05212
            2000-10-16   26.875864    0.1633   30.740007     30.08086
            2000-10-17  -25.001901   -0.9375   30.543920     29.95020
            2000-10-18  -87.950702   -1.4274   30.119569     29.81170
            2000-10-19 -109.570935   -1.3883   30.367142     29.68888
            2000-10-20 -140.782875   -1.6136   30.605746     29.44390
            2000-10-23   44.216002   -0.6337   30.239101     29.28842

                        bbandlower  bbandlowerii  bbandupperii
symbol name date
MMM    3M   2000-01-03         NaN           NaN           NaN
            2000-01-04         NaN           NaN           NaN
            2000-01-05         NaN           NaN           NaN
            2000-01-06         NaN           NaN           NaN
            2000-01-07   28.176769      0.855088      1.027636
            2000-01-10   28.512054      0.869493      1.053402
            2000-01-11   30.439028      0.944883      1.051736
            2000-01-12   31.921957      0.987966      1.024732
            2000-01-13   31.921957      0.987966      1.024732
            2000-01-14   31.681106      0.995222      1.033616
            2000-01-18   31.062480      0.997690      1.055393
            2000-01-19   30.972250      0.977879      1.033457
            2000-01-20   30.241584      0.991745      1.073556
            2000-01-21   29.953972      0.984279      1.060465
            2000-01-24   29.369221      0.987852      1.076882
            2000-01-25   28.704486      0.979966      1.090550
            2000-01-26   29.021596      0.940074      1.014071
            2000-01-27   28.980060      0.939316      1.020706
            2000-01-28   28.728747      0.971544      1.061798
            2000-01-31   28.822893      0.960363      1.046773
            2000-02-01   29.290645      0.970763      1.037395
            2000-02-02   29.135050      0.982622      1.044448
            2000-02-03   29.180613      0.992852      1.032231
            2000-02-04   28.408686      0.995134      1.075427
            2000-02-07   27.662668      0.984815      1.092148
            2000-02-08   27.458055      0.976859      1.069302
            2000-02-09   27.436558      0.976765      1.048571
            2000-02-10   27.458646      0.996077      1.041175
            2000-02-11   26.512146      0.997226      1.085677
            2000-02-14   26.009211      0.979015      1.082469
...                            ...           ...           ...
            2000-09-12   28.168965      0.979296      1.077027
            2000-09-13   27.946949      0.989101      1.069027
            2000-09-14   27.495958      0.990310      1.072934
            2000-09-15   27.305843      0.981963      1.055533
            2000-09-18   26.889699      0.989549      1.067816
            2000-09-19   26.937478      0.983152      1.037354
            2000-09-20   26.554328      0.994418      1.055488
            2000-09-21   26.413132      0.935465      1.009886
            2000-09-22   26.141507      0.906854      1.012736
            2000-09-25   26.179120      0.890501      1.022033
            2000-09-26   26.514716      0.903121      1.038669
            2000-09-27   28.128365      0.957444      1.019474
            2000-09-28   28.679929      0.958214      1.004900
            2000-09-29   29.093811      0.977375      1.009150
            2000-10-02   29.157700      0.973539      1.008226
            2000-10-03   29.083788      0.947207      1.003387
            2000-10-04   29.211710      0.936432      1.006816
            2000-10-05   29.384059      0.964683      1.032399
            2000-10-06   29.600680      0.982970      1.041676
            2000-10-09   29.613990      0.988128      1.046488
            2000-10-10   29.584244      0.972507      1.028222
            2000-10-11   29.876523      0.980851      1.007652
            2000-10-12   29.552525      0.995517      1.034414
            2000-10-13   29.388655      0.988691      1.033332
            2000-10-16   29.421713      0.977027      1.020805
            2000-10-17   29.356480      0.986199      1.026090
            2000-10-18   29.503831      0.991149      1.011834
            2000-10-19   29.010618      0.997906      1.044567
            2000-10-20   28.282054      0.992356      1.073890
            2000-10-23   28.337739      0.965968      1.030781

[205 rows x 17 columns]

In [11]:
#US_yields=pd.read_pickle(r'C:\Users\Student\Documents\Trading\US_yieldcurve.pkl')

In [12]:
import quandl
US_yields=quandl.get("USTREASURY/YIELD", authtoken="wdLjKc5NXiuwUhFLByKm")
US_yields=USyields[['3 MO', '6 MO', '1 YR', '2 YR', '3 YR', '5 YR', '7 YR', '10 YR', '30 YR']]

NameError: name 'USyields' is not defined

In [ ]:
US_yields.index.rename('date', inplace=True)

In [ ]:
prices.reset_index(level='date',inplace=True)

In [ ]:
test=pd.merge(prices, US_yields, how='left', left_on='date' , right_index=True)

In [ ]:
test.set_index('date',append=True,inplace=True)

In [ ]:
test.sort_index(level=1, ascending=True,inplace=True)

In [ ]:
test.head()

In [25]:
### Calculated columns
#prices['EMA_20'] = prices.groupby(level=1).apply(lambda x: ta.EMA(x.close.values, 20))  # 20 day exponential moving average
prices  = test.copy().loc[(test.loc[:,'open':'30 YR'] != 0 ).all(axis=1)] # Don't touch this (:
#prices  = prices.copy().loc[(prices.loc[:,volume'] != 0 ).all(axis=1)] # Don't touch this (:

##price_close = prices.groupby(level=['symbol']).close

##prices['EMA_20'] = price_close.apply(lambda x: ta.EMA(x,20))   # 20 day exponential moving average
##prices['EMA_50'] = price_close.apply(lambda x: ta.EMA(x, 50))  # 50 day exponential moving average
##prices['EMA_200'] = price_close.apply(lambda x: ta.EMA(x, 200))  # 200 day exponential moving average
##prices['EMA_ratio'] = prices['EMA_200']/prices['EMA_50'] # Ratio of moving average
##prices['RSI'] = price_close.apply(lambda x: ta.RSI(x, 14))  # 14 day relative strength index

#prices['CCI'] = prices.apply(lambda x: ta.CCI(high=x.high.va, low=x.low.values, close=x.close.values, timeperiod=20))  # 20 day commodity channel index

##prices['Momentum'] = price_close.apply(lambda x: ta.MOM(x, 10))  # 10 day rolling momentum

#prices['Stoch_fastk'], prices['Stoch_fastd'] = prices.groupby(level=1).apply(lambda x: ta.STOCHF(high=x.high.values, low=x.low.values, close=x.close.values, fastk_period=14, fastd_period=3))  # Stochastic fast indicator
#prices['OBV'] = price_close.apply(lambda x: ta.OBV(np.asarray(x['close']), x['volume']))  # On Balance Volume
#prices['bbandupper'], prices['bbandmiddle'], prices['bbandlower'] =  prices.groupby(level=1).apply(lambda x: ta.BBANDS(x.close.values))


#prices['perc_change']=(prices['close']- prices['close'].shift(1))/prices['close'].shift(1)  # Getting the daily percentage change
#prices['5dayvol'] = prices['perc_change'].rolling(window=5, center=False).std()  # 5 day volatility 
#prices['5_day_target'] = prices.groupby(level=['symbol']).close.shift(-5) / prices.groupby(level=['symbol']).close  # target of X days
prices['5_day_target'] = prices.groupby(['symbol'])['close'].transform(lambda x:x.shift(-5))
prices['perc_change']=prices['5_day_target']/prices['close']
#prices['5dayvol'] = prices.groupby('symbol')['close']/prices.groupby(['symbol'])['close'].transform(lambda x:x.shift(1)).apply(pd.rolling_mean, 5, min_periods=5)  # 5 day volatility 

clean_prices = prices.loc[(prices['EMA_200'].notnull() & prices['5_day_target'].notnull())]

In [87]:
prices.head(100)

                          open    high     low    close     volume     EMA_20  \
symbol name date
MMM    3M   2000-01-03   96.06   96.44   94.06  30.2529  1086700.0        NaN
            2000-01-04   92.88   94.81   90.63  29.0509  1356900.0        NaN
            2000-01-05   91.13   95.31   91.13  30.5318  1849700.0        NaN
            2000-01-06   94.31  102.50   94.31  32.3108  2987900.0        NaN
            2000-01-07  101.10  103.80   99.94  32.9519  2050600.0        NaN
            2000-01-10  100.40  103.50  100.00  32.7916  1931900.0        NaN
            2000-01-11  100.80  102.50  100.50  32.2146  1178800.0        NaN
            2000-01-12  101.90  103.60  100.80  32.3108  1434200.0        NaN
            2000-01-13  101.30  101.90  100.40  32.3108  1122200.0        NaN
            2000-01-14  100.80  100.90   98.94  31.8332  1270900.0        NaN
            2000-01-18   97.25   99.25   97.13  31.1344  1057400.0        NaN
            2000-01-19   97.75   99.94   97.75  31.6729  1314100.0        NaN
            2000-01-20   99.06   99.38   94.50  30.4933  1552300.0        NaN
            2000-01-21   95.25   96.56   94.56  30.4324  2245900.0        NaN
            2000-01-24   95.81   95.81   91.63  29.7304  1485500.0        NaN
            2000-01-25   94.88   94.88   90.25  29.2913  1845600.0        NaN
            2000-01-26   95.88   97.50   95.31  30.8716  3510400.0        NaN
            2000-01-27   97.19   98.31   96.06  30.8523  1457400.0        NaN
            2000-01-28   95.75   95.81   92.25  29.5702  1873700.0        NaN
            2000-01-31   92.25   97.38   92.06  30.0125  1641400.0  31.031030
            2000-02-01   94.38   96.19   93.75  30.1728  1321100.0  30.949294
            2000-02-02   93.19   94.00   92.00  29.6503  1462100.0  30.825580
            2000-02-03   91.94   92.13   90.00  29.3907  1760300.0  30.688925
            2000-02-04   91.94   92.44   89.06  28.5476  1646700.0  30.484989
            2000-02-07   89.25   89.38   86.63  28.0892  1967700.0  30.256819
            2000-02-08   87.63   90.19   87.44  28.1085  1442000.0  30.052217
            2000-02-09   88.63   89.00   87.50  28.0892  1300200.0  29.865263
            2000-02-10   87.25   87.25   85.31  27.5668  2010000.0  29.646362
            2000-02-11   85.38   86.50   81.31  26.5859  2245800.0  29.354889
            2000-02-14   83.25   84.75   82.38  26.5667  1678200.0  29.089347
...                        ...     ...     ...      ...        ...        ...
            2000-04-12   97.31   98.31   94.63  30.5236  1227300.0  29.200795
            2000-04-13   94.63   96.38   91.75  30.5623  2076100.0  29.330462
            2000-04-14   94.06   94.31   88.31  29.2915  3070800.0  29.326751
            2000-04-17   89.19   90.56   88.06  28.9915  1446800.0  29.294822
            2000-04-18   90.13   90.13   88.00  28.9915  1209600.0  29.265935
            2000-04-19   89.63   91.88   89.13  29.1721   832600.0  29.256998
            2000-04-20   90.44   92.31   90.00  29.7560   991900.0  29.304522
            2000-04-24   91.25   97.63   91.25  31.4107  1779100.0  29.505110
            2000-04-25   96.13   96.31   88.50  30.2591  4522100.0  29.576919
            2000-04-26   93.50   93.50   87.38  28.6883  3478300.0  29.492289
            2000-04-27   88.50   89.88   85.31  28.2045  2417600.0  29.369642
            2000-04-28   87.44   87.56   86.00  27.9432  1473500.0  29.233790
            2000-05-01   86.69   88.56   85.06  28.0432  1738200.0  29.120401
            2000-05-02   86.00   87.56   85.63  28.0432  1229600.0  29.017810
            2000-05-03   86.94   88.25   85.31  27.6787  1222600.0  28.890276
            2000-05-04   86.19   87.69   84.75  27.5593  1383100.0  28.763516
            2000-05-05   85.19   87.25   84.81  27.9625  1188200.0  28.687229
            2000-05-08   87.75   87.75   85.50  28.1625   880000.0  28.637255
            2000-05-09   87.00   87.88   85.50  27.7400   974600.0  28.551802
            2000-05-10   86.25   86.50   84.81  27.7206   999200.0  28.472640
            2000-05-11   86.31   86.88   85.56  27.7206  1173700.0  28.401017
            2000-05-12   85.25   86.00   84.50  27.3787   919200.0  28.303654
            2000-05-15   85.38   86.94   85.31  27.7206  1317500.0  28.248125
            2000-05-16   86.19   91.31   85.56  29.0496  2025700.0  28.324456
            2000-05-17   88.38   89.13   87.63  28.5722  1096500.0  28.348050
            2000-05-18   88.19   88.63   87.00  28.2670   799800.0  28.340331
            2000-05-19   86.19   86.63   83.75  27.4358  1374700.0  28.254185
            2000-05-22   84.75   85.38   83.38  27.3351  1284300.0  28.166653
            2000-05-23   84.19   84.69   83.25  27.3156   764200.0  28.085601
            2000-05-24   85.00   88.75   85.00  28.6339  1620500.0  28.137820

                           EMA_50  EMA_200  EMA_ratio        RSI     ...       \
symbol name date                                                     ...
MMM    3M   2000-01-03        NaN      NaN        NaN        NaN     ...
            2000-01-04        NaN      NaN        NaN        NaN     ...
            2000-01-05        NaN      NaN        NaN        NaN     ...
            2000-01-06        NaN      NaN        NaN        NaN     ...
            2000-01-07        NaN      NaN        NaN        NaN     ...
            2000-01-10        NaN      NaN        NaN        NaN     ...
            2000-01-11        NaN      NaN        NaN        NaN     ...
            2000-01-12        NaN      NaN        NaN        NaN     ...
            2000-01-13        NaN      NaN        NaN        NaN     ...
            2000-01-14        NaN      NaN        NaN        NaN     ...
            2000-01-18        NaN      NaN        NaN        NaN     ...
            2000-01-19        NaN      NaN        NaN        NaN     ...
            2000-01-20        NaN      NaN        NaN        NaN     ...
            2000-01-21        NaN      NaN        NaN        NaN     ...
            2000-01-24        NaN      NaN        NaN  47.276916     ...
            2000-01-25        NaN      NaN        NaN  45.056129     ...
            2000-01-26        NaN      NaN        NaN  53.518608     ...
            2000-01-27        NaN      NaN        NaN  53.410413     ...
            2000-01-28        NaN      NaN        NaN  46.661825     ...
            2000-01-31        NaN      NaN        NaN  49.053389     ...
            2000-02-01        NaN      NaN        NaN  49.929635     ...
            2000-02-02        NaN      NaN        NaN  47.086827     ...
            2000-02-03        NaN      NaN        NaN  45.694765     ...
            2000-02-04        NaN      NaN        NaN  41.412713     ...
            2000-02-07        NaN      NaN        NaN  39.258591     ...
            2000-02-08        NaN      NaN        NaN  39.401511     ...
            2000-02-09        NaN      NaN        NaN  39.301923     ...
            2000-02-10        NaN      NaN        NaN  36.605006     ...
            2000-02-11        NaN      NaN        NaN  32.144656     ...
            2000-02-14        NaN      NaN        NaN  32.062302     ...
...                           ...      ...        ...        ...     ...
            2000-04-12  29.159087      NaN        NaN  59.651625     ...
            2000-04-13  29.214115      NaN        NaN  59.846580     ...
            2000-04-14  29.217149      NaN        NaN  51.113015     ...
            2000-04-17  29.208300      NaN        NaN  49.284529     ...
            2000-04-18  29.199798      NaN        NaN  49.284529     ...
            2000-04-19  29.198712      NaN        NaN  50.520342     ...
            2000-04-20  29.220566      NaN        NaN  54.390041     ...
            2000-04-24  29.306454      NaN        NaN  63.178579     ...
            2000-04-25  29.343813      NaN        NaN  55.205816     ...
            2000-04-26  29.318106      NaN        NaN  46.572587     ...
            2000-04-27  29.274436      NaN        NaN  44.275982     ...
            2000-04-28  29.222230      NaN        NaN  43.041454     ...
            2000-05-01  29.175994      NaN        NaN  43.688559     ...
            2000-05-02  29.131570      NaN        NaN  43.688559     ...
            2000-05-03  29.074595      NaN        NaN  41.686494     ...
            2000-05-04  29.015172      NaN        NaN  41.023312     ...
            2000-05-05  28.973891      NaN        NaN  44.248779     ...
            2000-05-08  28.942071      NaN        NaN  45.831318     ...
            2000-05-09  28.894931      NaN        NaN  43.051178     ...
            2000-05-10  28.848879      NaN        NaN  42.922428     ...
            2000-05-11  28.804633      NaN        NaN  42.922428     ...
            2000-05-12  28.748714      NaN        NaN  40.449867     ...
            2000-05-15  28.708396      NaN        NaN  43.928357     ...
            2000-05-16  28.721776      NaN        NaN  54.945250     ...
            2000-05-17  28.715911      NaN        NaN  51.063990     ...
            2000-05-18  28.698306      NaN        NaN  48.695778     ...
            2000-05-19  28.648796      NaN        NaN  42.865142     ...
            2000-05-22  28.597279      NaN        NaN  42.205808     ...
            2000-05-23  28.547017      NaN        NaN  42.070858     ...
            2000-05-24  28.550424      NaN        NaN  53.009728     ...

                        6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  30 YR  \
symbol name date
MMM    3M   2000-01-03  5.81  6.09  6.38  6.42  6.50  6.65   6.58   6.61
            2000-01-04  5.75  6.00  6.30  6.34  6.40  6.56   6.49   6.53
            2000-01-05  5.74  6.05  6.38  6.43  6.51  6.68   6.62   6.64
            2000-01-06  5.69  6.03  6.35  6.39  6.46  6.63   6.57   6.58
            2000-01-07  5.66  6.00  6.31  6.35  6.42  6.58   6.52   6.55
            2000-01-10  5.64  6.07  6.38  6.42  6.49  6.62   6.57   6.59
            2000-01-11  5.66  6.13  6.45  6.49  6.57  6.72   6.67   6.68
            2000-01-12  5.70  6.16  6.49  6.53  6.63  6.76   6.72   6.71
            2000-01-13  5.66  6.10  6.40  6.45  6.54  6.67   6.63   6.65
            2000-01-14  5.69  6.13  6.44  6.49  6.59  6.71   6.69   6.69
            2000-01-18  5.79  6.15  6.47  6.53  6.65  6.78   6.75   6.75
            2000-01-19  5.78  6.12  6.46  6.51  6.62  6.75   6.73   6.72
            2000-01-20  5.84  6.13  6.49  6.55  6.67  6.80   6.79   6.74
            2000-01-21  5.83  6.12  6.48  6.54  6.67  6.80   6.79   6.71
            2000-01-24  5.77  6.13  6.43  6.48  6.59  6.71   6.69   6.65
            2000-01-25  5.78  6.13  6.44  6.50  6.60  6.72   6.70   6.64
            2000-01-26  5.78  6.15  6.45  6.51  6.62  6.72   6.69   6.60
            2000-01-27  5.79  6.19  6.51  6.58  6.67  6.72   6.68   6.53
            2000-01-28  5.86  6.25  6.58  6.62  6.68  6.72   6.66   6.45
            2000-01-31  5.97  6.30  6.61  6.65  6.71  6.75   6.68   6.49
            2000-02-01  5.95  6.30  6.60  6.63  6.68  6.71   6.62   6.43
            2000-02-02  5.94  6.24  6.63  6.66  6.69  6.71   6.60   6.32
            2000-02-03  5.86  6.16  6.56  6.56  6.56  6.63   6.49   6.17
            2000-02-04  5.94  6.19  6.63  6.64  6.64  6.68   6.53   6.23
            2000-02-07  6.04  6.23  6.68  6.72  6.76  6.80   6.64   6.34
            2000-02-08  6.02  6.22  6.69  6.74  6.74  6.73   6.59   6.22
            2000-02-09  5.99  6.20  6.69  6.75  6.77  6.78   6.56   6.32
            2000-02-10  5.98  6.20  6.67  6.74  6.78  6.87   6.67   6.35
            2000-02-11  5.98  6.17  6.65  6.73  6.77  6.81   6.63   6.29
            2000-02-14  6.04  6.19  6.62  6.68  6.72  6.74   6.56   6.22
...                      ...   ...   ...   ...   ...   ...    ...    ...
            2000-04-12  6.08  6.17  6.40  6.35  6.27  6.29   5.97   5.84
            2000-04-13  6.07  6.16  6.40  6.34  6.24  6.25   5.94   5.81
            2000-04-14  6.03  6.08  6.27  6.21  6.11  6.16   5.85   5.79
            2000-04-17  6.05  6.09  6.33  6.29  6.23  6.31   6.01   5.92
            2000-04-18  6.01  6.07  6.33  6.30  6.27  6.33   6.05   5.92
            2000-04-19  6.02  6.08  6.33  6.29  6.23  6.26   5.99   5.85
            2000-04-20  6.00  6.12  6.38  6.33  6.24  6.25   5.99   5.83
            2000-04-24  6.01  6.11  6.36  6.31  6.23  6.25   6.00   5.86
            2000-04-25  6.02  6.18  6.48  6.45  6.39  6.40   6.14   5.95
            2000-04-26  6.03  6.19  6.50  6.46  6.40  6.40   6.14   5.95
            2000-04-27  6.06  6.21  6.63  6.59  6.51  6.50   6.23   6.00
            2000-04-28  6.12  6.24  6.68  6.64  6.56  6.49   6.23   5.97
            2000-05-01  6.25  6.24  6.73  6.68  6.59  6.55   6.29   5.98
            2000-05-02  6.22  6.23  6.72  6.68  6.60  6.58   6.32   6.03
            2000-05-03  6.23  6.23  6.73  6.71  6.66  6.66   6.40   6.11
            2000-05-04  6.22  6.20  6.77  6.74  6.70  6.71   6.46   6.19
            2000-05-05  6.30  6.29  6.84  6.81  6.77  6.75   6.51   6.20
            2000-05-08  6.47  6.38  6.87  6.86  6.83  6.82   6.57   6.25
            2000-05-09  6.41  6.37  6.86  6.82  6.75  6.77   6.53   6.22
            2000-05-10  6.41  6.36  6.84  6.79  6.69  6.70   6.47   6.18
            2000-05-11  6.43  6.37  6.82  6.78  6.67  6.68   6.43   6.16
            2000-05-12  6.52  6.44  6.91  6.86  6.76  6.77   6.51   6.20
            2000-05-15  6.55  6.44  6.88  6.82  6.73  6.72   6.47   6.17
            2000-05-16  6.53  6.43  6.89  6.84  6.72  6.69   6.43   6.12
            2000-05-17  6.44  6.42  6.90  6.84  6.74  6.74   6.48   6.18
            2000-05-18  6.40  6.39  6.93  6.88  6.79  6.83   6.56   6.24
            2000-05-19  6.40  6.32  6.86  6.80  6.71  6.76   6.51   6.22
            2000-05-22  6.42  6.29  6.81  6.75  6.66  6.69   6.44   6.18
            2000-05-23  6.43  6.30  6.83  6.77  6.68  6.70   6.45   6.17
            2000-05-24  6.41  6.29  6.79  6.76  6.71  6.72   6.47   6.19

                        5_day_target  perc_change
symbol name date
MMM    3M   2000-01-03       32.7916     1.083916
            2000-01-04       32.2146     1.108902
            2000-01-05       32.3108     1.058267
            2000-01-06       32.3108     1.000000
            2000-01-07       31.8332     0.966051
            2000-01-10       31.1344     0.949463
            2000-01-11       31.6729     0.983185
            2000-01-12       30.4933     0.943749
            2000-01-13       30.4324     0.941865
            2000-01-14       29.7304     0.933943
            2000-01-18       29.2913     0.940802
            2000-01-19       30.8716     0.974701
            2000-01-20       30.8523     1.011773
            2000-01-21       29.5702     0.971668
            2000-01-24       30.0125     1.009489
            2000-01-25       30.1728     1.030094
            2000-01-26       29.6503     0.960439
            2000-01-27       29.3907     0.952626
            2000-01-28       28.5476     0.965418
            2000-01-31       28.0892     0.935917
            2000-02-01       28.1085     0.931584
            2000-02-02       28.0892     0.947350
            2000-02-03       27.5668     0.937943
            2000-02-04       26.5859     0.931283
            2000-02-07       26.5667     0.945798
            2000-02-08       28.5701     1.016422
            2000-02-09       28.3072     1.007761
            2000-02-10       28.7303     1.042207
            2000-02-11       28.0668     1.055702
            2000-02-14       28.8906     1.087474
...                              ...          ...
            2000-04-12       29.1721     0.955723
            2000-04-13       29.7560     0.973618
            2000-04-14       31.4107     1.072349
            2000-04-17       30.2591     1.043723
            2000-04-18       28.6883     0.989542
            2000-04-19       28.2045     0.966831
            2000-04-20       27.9432     0.939078
            2000-04-24       28.0432     0.892791
            2000-04-25       28.0432     0.926769
            2000-04-26       27.6787     0.964808
            2000-04-27       27.5593     0.977124
            2000-04-28       27.9625     1.000691
            2000-05-01       28.1625     1.004254
            2000-05-02       27.7400     0.989188
            2000-05-03       27.7206     1.001514
            2000-05-04       27.7206     1.005853
            2000-05-05       27.3787     0.979122
            2000-05-08       27.7206     0.984309
            2000-05-09       29.0496     1.047210
            2000-05-10       28.5722     1.030721
            2000-05-11       28.2670     1.019711
            2000-05-12       27.4358     1.002086
            2000-05-15       27.3351     0.986093
            2000-05-16       27.3156     0.940309
            2000-05-17       28.6339     1.002159
            2000-05-18       27.5786     0.975647
            2000-05-19       27.2734     0.994081
            2000-05-22       27.6403     1.011165
            2000-05-23       28.1046     1.028885
            2000-05-24       27.5592     0.962468

[100 rows x 28 columns]

In [91]:
clean_prices['perc_change'].max()

14.798387096774196

In [28]:
test.head(500)

                          open    high     low    close     volume     EMA_20  \
symbol name date
MMM    3M   2000-01-03   96.06   96.44   94.06  30.2529  1086700.0        NaN
            2000-01-04   92.88   94.81   90.63  29.0509  1356900.0        NaN
            2000-01-05   91.13   95.31   91.13  30.5318  1849700.0        NaN
            2000-01-06   94.31  102.50   94.31  32.3108  2987900.0        NaN
            2000-01-07  101.10  103.80   99.94  32.9519  2050600.0        NaN
            2000-01-10  100.40  103.50  100.00  32.7916  1931900.0        NaN
            2000-01-11  100.80  102.50  100.50  32.2146  1178800.0        NaN
            2000-01-12  101.90  103.60  100.80  32.3108  1434200.0        NaN
            2000-01-13  101.30  101.90  100.40  32.3108  1122200.0        NaN
            2000-01-14  100.80  100.90   98.94  31.8332  1270900.0        NaN
            2000-01-18   97.25   99.25   97.13  31.1344  1057400.0        NaN
            2000-01-19   97.75   99.94   97.75  31.6729  1314100.0        NaN
            2000-01-20   99.06   99.38   94.50  30.4933  1552300.0        NaN
            2000-01-21   95.25   96.56   94.56  30.4324  2245900.0        NaN
            2000-01-24   95.81   95.81   91.63  29.7304  1485500.0        NaN
            2000-01-25   94.88   94.88   90.25  29.2913  1845600.0        NaN
            2000-01-26   95.88   97.50   95.31  30.8716  3510400.0        NaN
            2000-01-27   97.19   98.31   96.06  30.8523  1457400.0        NaN
            2000-01-28   95.75   95.81   92.25  29.5702  1873700.0        NaN
            2000-01-31   92.25   97.38   92.06  30.0125  1641400.0  31.031030
            2000-02-01   94.38   96.19   93.75  30.1728  1321100.0  30.949294
            2000-02-02   93.19   94.00   92.00  29.6503  1462100.0  30.825580
            2000-02-03   91.94   92.13   90.00  29.3907  1760300.0  30.688925
            2000-02-04   91.94   92.44   89.06  28.5476  1646700.0  30.484989
            2000-02-07   89.25   89.38   86.63  28.0892  1967700.0  30.256819
            2000-02-08   87.63   90.19   87.44  28.1085  1442000.0  30.052217
            2000-02-09   88.63   89.00   87.50  28.0892  1300200.0  29.865263
            2000-02-10   87.25   87.25   85.31  27.5668  2010000.0  29.646362
            2000-02-11   85.38   86.50   81.31  26.5859  2245800.0  29.354889
            2000-02-14   83.25   84.75   82.38  26.5667  1678200.0  29.089347
...                        ...     ...     ...      ...        ...        ...
            2001-11-16  115.80  116.50  114.00  38.3860  2129300.0  36.670756
            2001-11-19  115.80  117.70  115.30  38.9535  1604100.0  36.888160
            2001-11-20  115.40  117.00  115.40  38.9869  1541800.0  37.088040
            2001-11-21  116.30  116.30  114.90  38.7185  1263200.0  37.243322
            2001-11-23  117.50  117.50  115.40  39.3559   589400.0  37.444520
            2001-11-26  117.20  117.30  116.00  39.2553  1210000.0  37.616975
            2001-11-27  116.80  116.90  115.30  38.9869  1387100.0  37.747444
            2001-11-28  115.80  115.80  114.30  38.4500  1447900.0  37.814354
            2001-11-29  114.60  115.80  114.20  38.6514  1353800.0  37.894073
            2001-11-30  115.20  115.60  114.60  38.4500  1227900.0  37.947018
            2001-12-03  114.40  114.40  112.70  38.2152  1157600.0  37.972559
            2001-12-04  114.50  116.60  114.00  39.0540  1270600.0  38.075554
            2001-12-05  117.00  119.50  117.00  39.8928  1579000.0  38.248625
            2001-12-06  119.70  119.70  118.00  39.8592  1090600.0  38.402013
            2001-12-07  118.80  118.80  117.40  39.6915  1204600.0  38.524821
            2001-12-10  117.80  118.00  115.10  38.7856  1538000.0  38.549657
            2001-12-11  116.30  116.70  115.30  38.8527  1213300.0  38.578518
            2001-12-12  115.90  116.50  115.10  38.9198  1522800.0  38.611021
            2001-12-13  115.80  115.90  114.80  38.5843  1308700.0  38.608477
            2001-12-14  115.00  116.00  114.00  38.8527  1372100.0  38.631736
            2001-12-17  115.30  118.30  115.30  39.3559  1732200.0  38.700704
            2001-12-18  117.50  119.90  117.50  40.0941  1802800.0  38.833408
            2001-12-19  118.40  119.90  118.10  40.1947  1183600.0  38.963055
            2001-12-20  119.70  119.80  118.20  39.7586  1651000.0  39.038821
            2001-12-21  118.50  119.40  117.90  39.9934  2105000.0  39.129734
            2001-12-24  119.20  119.90  118.80  40.0605   464800.0  39.218378
            2001-12-26  119.40  121.90  119.20  40.4631  1044700.0  39.336923
            2001-12-27  120.70  121.20  119.60  40.3289   826500.0  39.431397
            2001-12-28  120.00  120.20  119.30  40.2283  1022100.0  39.507292
            2001-12-31  119.90  119.90  118.20  39.6579  1723900.0  39.521636

                           EMA_50    EMA_200  EMA_ratio        RSI  ...    \
symbol name date                                                    ...
MMM    3M   2000-01-03        NaN        NaN        NaN        NaN  ...
            2000-01-04        NaN        NaN        NaN        NaN  ...
            2000-01-05        NaN        NaN        NaN        NaN  ...
            2000-01-06        NaN        NaN        NaN        NaN  ...
            2000-01-07        NaN        NaN        NaN        NaN  ...
            2000-01-10        NaN        NaN        NaN        NaN  ...
            2000-01-11        NaN        NaN        NaN        NaN  ...
            2000-01-12        NaN        NaN        NaN        NaN  ...
            2000-01-13        NaN        NaN        NaN        NaN  ...
            2000-01-14        NaN        NaN        NaN        NaN  ...
            2000-01-18        NaN        NaN        NaN        NaN  ...
            2000-01-19        NaN        NaN        NaN        NaN  ...
            2000-01-20        NaN        NaN        NaN        NaN  ...
            2000-01-21        NaN        NaN        NaN        NaN  ...
            2000-01-24        NaN        NaN        NaN  47.276916  ...
            2000-01-25        NaN        NaN        NaN  45.056129  ...
            2000-01-26        NaN        NaN        NaN  53.518608  ...
            2000-01-27        NaN        NaN        NaN  53.410413  ...
            2000-01-28        NaN        NaN        NaN  46.661825  ...
            2000-01-31        NaN        NaN        NaN  49.053389  ...
            2000-02-01        NaN        NaN        NaN  49.929635  ...
            2000-02-02        NaN        NaN        NaN  47.086827  ...
            2000-02-03        NaN        NaN        NaN  45.694765  ...
            2000-02-04        NaN        NaN        NaN  41.412713  ...
            2000-02-07        NaN        NaN        NaN  39.258591  ...
            2000-02-08        NaN        NaN        NaN  39.401511  ...
            2000-02-09        NaN        NaN        NaN  39.301923  ...
            2000-02-10        NaN        NaN        NaN  36.605006  ...
            2000-02-11        NaN        NaN        NaN  32.144656  ...
            2000-02-14        NaN        NaN        NaN  32.062302  ...
...                           ...        ...        ...        ...  ...
            2001-11-16  35.710791  35.618473   0.997415  68.225271  ...
            2001-11-19  35.837956  35.651658   0.994802  71.053077  ...
            2001-11-20  35.961444  35.684844   0.992308  71.215443  ...
            2001-11-21  36.069564  35.715030   0.990171  67.918589  ...
            2001-11-23  36.198440  35.751257   0.987646  71.314820  ...
            2001-11-26  36.318317  35.786123   0.985346  70.054302  ...
            2001-11-27  36.422967  35.817972   0.983390  66.668516  ...
            2001-11-28  36.502459  35.844161   0.981966  60.381769  ...
            2001-11-29  36.586731  35.872094   0.980467  61.835601  ...
            2001-11-30  36.659800  35.897745   0.979213  59.484831  ...
            2001-12-03  36.720796  35.920804   0.978214  56.774941  ...
            2001-12-04  36.812295  35.951980   0.976630  63.220950  ...
            2001-12-05  36.933099  35.991192   0.974497  68.310258  ...
            2001-12-06  37.047848  36.029680   0.972517  67.904913  ...
            2001-12-07  37.151520  36.066116   0.970784  65.806054  ...
            2001-12-10  37.215602  36.093176   0.969840  55.776819  ...
            2001-12-11  37.279802  36.120633   0.968906  56.307986  ...
            2001-12-12  37.344116  36.148486   0.967983  56.865924  ...
            2001-12-13  37.392750  36.172723   0.967373  53.207362  ...
            2001-12-14  37.450003  36.199389   0.966606  55.664795  ...
            2001-12-17  37.524744  36.230797   0.965518  59.915169  ...
            2001-12-18  37.625503  36.269238   0.963954  65.187806  ...
            2001-12-19  37.726256  36.308297   0.962415  65.847107  ...
            2001-12-20  37.805956  36.342629   0.961294  60.498169  ...
            2001-12-21  37.891738  36.378955   0.960076  62.275042  ...
            2001-12-24  37.976788  36.415587   0.958891  62.790159  ...
            2001-12-26  38.074290  36.455861   0.957493  65.806987  ...
            2001-12-27  38.162706  36.494399   0.956284  63.945891  ...
            2001-12-28  38.243710  36.531552   0.955230  62.518524  ...
            2001-12-31  38.299168  36.562660   0.954659  55.019483  ...

                        bbandupperii  3 MO  6 MO  1 YR  2 YR  3 YR  5 YR  \
symbol name date
MMM    3M   2000-01-03           NaN  5.48  5.81  6.09  6.38  6.42  6.50
            2000-01-04           NaN  5.43  5.75  6.00  6.30  6.34  6.40
            2000-01-05           NaN  5.44  5.74  6.05  6.38  6.43  6.51
            2000-01-06           NaN  5.41  5.69  6.03  6.35  6.39  6.46
            2000-01-07      1.027636  5.38  5.66  6.00  6.31  6.35  6.42
            2000-01-10      1.053402  5.42  5.64  6.07  6.38  6.42  6.49
            2000-01-11      1.051736  5.43  5.66  6.13  6.45  6.49  6.57
            2000-01-12      1.024732  5.45  5.70  6.16  6.49  6.53  6.63
            2000-01-13      1.024732  5.41  5.66  6.10  6.40  6.45  6.54
            2000-01-14      1.033616  5.41  5.69  6.13  6.44  6.49  6.59
            2000-01-18      1.055393  5.56  5.79  6.15  6.47  6.53  6.65
            2000-01-19      1.033457  5.51  5.78  6.12  6.46  6.51  6.62
            2000-01-20      1.073556  5.48  5.84  6.13  6.49  6.55  6.67
            2000-01-21      1.060465  5.47  5.83  6.12  6.48  6.54  6.67
            2000-01-24      1.076882  5.55  5.77  6.13  6.43  6.48  6.59
            2000-01-25      1.090550  5.57  5.78  6.13  6.44  6.50  6.60
            2000-01-26      1.014071  5.58  5.78  6.15  6.45  6.51  6.62
            2000-01-27      1.020706  5.59  5.79  6.19  6.51  6.58  6.67
            2000-01-28      1.061798  5.65  5.86  6.25  6.58  6.62  6.68
            2000-01-31      1.046773  5.76  5.97  6.30  6.61  6.65  6.71
            2000-02-01      1.037395  5.71  5.95  6.30  6.60  6.63  6.68
            2000-02-02      1.044448  5.66  5.94  6.24  6.63  6.66  6.69
            2000-02-03      1.032231  5.63  5.86  6.16  6.56  6.56  6.56
            2000-02-04      1.075427  5.67  5.94  6.19  6.63  6.64  6.64
            2000-02-07      1.092148  5.72  6.04  6.23  6.68  6.72  6.76
            2000-02-08      1.069302  5.69  6.02  6.22  6.69  6.74  6.74
            2000-02-09      1.048571  5.66  5.99  6.20  6.69  6.75  6.77
            2000-02-10      1.041175  5.67  5.98  6.20  6.67  6.74  6.78
            2000-02-11      1.085677  5.66  5.98  6.17  6.65  6.73  6.77
            2000-02-14      1.082469  5.68  6.04  6.19  6.62  6.68  6.72
...                              ...   ...   ...   ...   ...   ...   ...
            2001-11-16      1.015523  1.95  2.06  2.41  3.09  3.55  4.24
            2001-11-19      1.002864  1.94  2.00  2.31  2.92  3.38  4.12
            2001-11-20      1.005971  1.95  1.99  2.31  2.96  3.41  4.17
            2001-11-21      1.013756  1.96  2.02  2.38  3.11  3.58  4.31
            2001-11-23      1.004196  1.95  2.02  2.41  3.20  3.68  4.40
            2001-11-26      1.006464  1.98  2.04  2.43  3.22  3.70  4.41
            2001-11-27      1.013433  1.92  1.98  2.36  3.11  3.58  4.32
            2001-11-28      1.030542  1.87  1.92  2.26  3.12  3.60  4.33
            2001-11-29      1.025359  1.80  1.80  2.03  2.87  3.33  4.10
            2001-11-30      1.024491  1.78  1.79  2.06  2.84  3.30  4.08
            2001-12-03      1.022290  1.78  1.81  2.08  2.82  3.28  4.04
            2001-12-04      1.001857  1.74  1.80  2.07  2.81  3.30  3.99
            2001-12-05      1.003429  1.77  1.88  2.27  3.07  3.55  4.24
            2001-12-06      1.015660  1.75  1.91  2.35  3.19  3.70  4.38
            2001-12-07      1.023438  1.69  1.81  2.26  3.19  3.72  4.50
            2001-12-10      1.040589  1.71  1.79  2.17  3.10  3.63  4.46
            2001-12-11      1.039876  1.66  1.73  2.12  3.03  3.56  4.38
            2001-12-12      1.031247  1.67  1.74  2.13  2.97  3.48  4.29
            2001-12-13      1.029577  1.69  1.78  2.20  3.09  3.62  4.40
            2001-12-14      1.004561  1.73  1.81  2.22  3.20  3.73  4.52
            2001-12-17      1.001433  1.74  1.84  2.24  3.21  3.74  4.54
            2001-12-18      1.003079  1.71  1.81  2.24  3.13  3.66  4.46
            2001-12-19      1.012719  1.69  1.80  2.23  3.11  3.63  4.38
            2001-12-20      1.022227  1.69  1.79  2.22  3.15  3.67  4.42
            2001-12-21      1.012103  1.71  1.81  2.23  3.17  3.69  4.45
            2001-12-24      1.006288  1.72  1.83  2.24  3.22  3.74  4.49
            2001-12-26      1.002368  1.75  1.87  2.34  3.26  3.80  4.55
            2001-12-27      1.007221  1.74  1.84  2.27  3.19  3.71  4.46
            2001-12-28      1.008210  1.72  1.83  2.26  3.16  3.69  4.46
            2001-12-31      1.026370  1.74  1.83  2.17  3.07  3.59  4.38

                        7 YR  10 YR  30 YR
symbol name date
MMM    3M   2000-01-03  6.65   6.58   6.61
            2000-01-04  6.56   6.49   6.53
            2000-01-05  6.68   6.62   6.64
            2000-01-06  6.63   6.57   6.58
            2000-01-07  6.58   6.52   6.55
            2000-01-10  6.62   6.57   6.59
            2000-01-11  6.72   6.67   6.68
            2000-01-12  6.76   6.72   6.71
            2000-01-13  6.67   6.63   6.65
            2000-01-14  6.71   6.69   6.69
            2000-01-18  6.78   6.75   6.75
            2000-01-19  6.75   6.73   6.72
            2000-01-20  6.80   6.79   6.74
            2000-01-21  6.80   6.79   6.71
            2000-01-24  6.71   6.69   6.65
            2000-01-25  6.72   6.70   6.64
            2000-01-26  6.72   6.69   6.60
            2000-01-27  6.72   6.68   6.53
            2000-01-28  6.72   6.66   6.45
            2000-01-31  6.75   6.68   6.49
            2000-02-01  6.71   6.62   6.43
            2000-02-02  6.71   6.60   6.32
            2000-02-03  6.63   6.49   6.17
            2000-02-04  6.68   6.53   6.23
            2000-02-07  6.80   6.64   6.34
            2000-02-08  6.73   6.59   6.22
            2000-02-09  6.78   6.56   6.32
            2000-02-10  6.87   6.67   6.35
            2000-02-11  6.81   6.63   6.29
            2000-02-14  6.74   6.56   6.22
...                      ...    ...    ...
            2001-11-16  4.72   4.91   5.30
            2001-11-19  4.58   4.80   5.22
            2001-11-20  4.66   4.88   5.30
            2001-11-21  4.78   4.98   5.35
            2001-11-23  4.83   5.04   5.39
            2001-11-26  4.85   5.05   5.39
            2001-11-27  4.77   4.98   5.37
            2001-11-28  4.76   4.98   5.36
            2001-11-29  4.56   4.79   5.24
            2001-11-30  4.55   4.78   5.27
            2001-12-03  4.51   4.75   5.26
            2001-12-04  4.46   4.70   5.22
            2001-12-05  4.70   4.92   5.35
            2001-12-06  4.83   5.04   5.47
            2001-12-07  4.98   5.20   5.60
            2001-12-10  4.95   5.17   5.58
            2001-12-11  4.89   5.13   5.55
            2001-12-12  4.78   5.02   5.47
            2001-12-13  4.90   5.13   5.53
            2001-12-14  5.01   5.24   5.59
            2001-12-17  5.03   5.26   5.61
            2001-12-18  4.93   5.16   5.52
            2001-12-19  4.84   5.08   5.45
            2001-12-20  4.86   5.08   5.43
            2001-12-21  4.89   5.12   5.45
            2001-12-24  4.95   5.18   5.49
            2001-12-26  5.00   5.22   5.52
            2001-12-27  4.90   5.13   5.49
            2001-12-28  4.93   5.15   5.54
            2001-12-31  4.84   5.07   5.48

[500 rows x 26 columns]

In [29]:
list(clean_prices.columns.values)

['open',
 'high',
 'low',
 'close',
 'volume',
 'EMA_20',
 'EMA_50',
 'EMA_200',
 'EMA_ratio',
 'RSI',
 'CCI',
 'Momentum',
 'bbandupper',
 'bbandmiddle',
 'bbandlower',
 'bbandlowerii',
 'bbandupperii',
 '3 MO',
 '6 MO',
 '1 YR',
 '2 YR',
 '3 YR',
 '5 YR',
 '7 YR',
 '10 YR',
 '30 YR',
 '5_day_target',
 'perc_change']

In [30]:
testML=clean_prices.loc[:,[
 #'open',
 #'high',
 #'low',
 #'close',
 #'volume',
 #'EMA_20',
 #'EMA_50',
 #'EMA_200',
 'EMA_ratio',
 'RSI',
 'CCI',
 'Momentum',
 #'Stoch_fastk',
 #'Stoch_fastd',
 #'OBV',
 #'bbandupper',
 #'bbandmiddle',
 #'bbandlower',
 'bbandlowerii',
 'bbandupperii',
 '3 MO',
 '6 MO',
 '1 YR',
 '2 YR',
 '3 YR',
 '5 YR',
 '7 YR',
 '10 YR',
 #'30 YR',
'perc_change']]

In [31]:
testML[testML.isnull().any(axis=1)].head()

                        EMA_ratio        RSI         CCI  Momentum  \
symbol name date
MMM    3M   2001-10-08   1.033938  47.546510   17.322749    2.2631
            2001-11-12   1.006717  61.770508   13.430441    1.5021
            2002-10-14   0.997865  56.333230   99.186099    3.7462
            2002-11-11   0.972856  52.864354 -146.486021    0.3406
            2003-10-13   0.937310  65.952583   89.042918    2.9531

                        bbandlowerii  bbandupperii  3 MO  6 MO  1 YR  2 YR  \
symbol name date
MMM    3M   2001-10-08      0.984963      1.024707   NaN   NaN   NaN   NaN
            2001-11-12      0.984039      1.011636   NaN   NaN   NaN   NaN
            2002-10-14      0.907886      1.023683   NaN   NaN   NaN   NaN
            2002-11-11      0.996084      1.037461   NaN   NaN   NaN   NaN
            2003-10-13      0.972002      1.007064   NaN   NaN   NaN   NaN

                        3 YR  5 YR  7 YR  10 YR  perc_change
symbol name date
MMM    3M   2001-10-08   NaN   NaN   NaN    NaN     1.074658
            2001-11-12   NaN   NaN   NaN    NaN     1.051351
            2002-10-14   NaN   NaN   NaN    NaN     1.066115
            2002-11-11   NaN   NaN   NaN    NaN     1.008702
            2003-10-13   NaN   NaN   NaN    NaN     1.012881

In [32]:
testML=testML.fillna(method='pad')

In [86]:
testML.sort_values(['perc_change'], ascending=False)

                                                     EMA_ratio        RSI  \
symbol name                              date
MKL    Markel                            2010-04-22   1.038096   5.549272
                                         2010-04-26   1.096488   5.636301
                                         2010-04-21   1.009888   5.549272
                                         2010-04-23   1.066940   5.642502
                                         2010-04-27   1.126709   5.662613
FMCC   Freddie Mac                       2008-09-17   3.270420  26.226594
JCP    Farmers Insurance Exchange        2018-05-21   1.220210  34.202318
                                         2018-05-18   1.215273  37.080806
FMCC   Freddie Mac                       2008-09-18   3.363585  26.870298
JCP    Farmers Insurance Exchange        2018-05-17   1.211487  39.315322
FMCC   Freddie Mac                       2008-09-16   3.178530  26.121928
JCP    Farmers Insurance Exchange        2018-05-15   1.210087  45.889200
                                         2018-05-16   1.208493  53.547989
WMB    Williams                          2002-07-25   2.156385  17.180538
PGR    Progressive                       2006-05-12   0.995479  54.715993
FNMA   Fannie Mae                        2008-09-17   2.819290  27.650446
PGR    Progressive                       2006-05-15   0.994963  59.867983
                                         2006-05-17   0.994180  57.736705
                                         2006-05-11   0.995697  56.803834
                                         2006-05-16   0.994554  58.059935
FNMA   Fannie Mae                        2008-09-18   2.898887  28.082226
AIG    AIG                               2009-03-12  11.033194  29.240253
FNMA   Fannie Mae                        2013-03-13   0.969121  51.334181
FMCC   Freddie Mac                       2013-03-13   0.964781  48.424773
                                         2008-09-19   3.454544  29.306004
FNMA   Fannie Mae                        2008-11-20   7.557998  27.297241
AIG    AIG                               2009-03-11  10.864883  29.240253
WMB    Williams                          2002-07-26   2.211747  19.243724
DAN    Dana                              2009-05-01   4.360753  53.831401
PGR    Progressive                       2002-04-26   0.842781  48.494052
...                                                        ...        ...
DRI    Darden Restaurants                2018-05-16   0.969501  37.070347
WDC    Guardian Life Ins. Co. of America 2018-05-16   0.992454  57.783629
                                         2018-05-18   0.992740  51.885247
                                         2018-05-17   0.992293  56.450106
HSIC   Henry Schein                      2018-05-21   1.038535  45.983288
                                         2018-05-17   1.039423  49.256011
                                         2018-05-18   1.038870  47.903280
                                         2018-05-15   1.040937  49.896453
                                         2018-05-16   1.040142  49.716120
WDC    Guardian Life Ins. Co. of America 2018-05-15   0.992803  48.689310
ORLY   OReilly Automotive               2018-05-15   0.967178  71.277017
                                         2018-05-17   0.962890  70.546117
                                         2018-05-16   0.965059  69.405013
                                         2018-05-18   0.960946  69.182297
                                         2018-05-21   0.958677  72.146954
GILD   CHS                               2018-05-21   1.036206  40.429507
                                         2018-05-15   1.029929  36.391625
                                         2018-05-18   1.034727  42.009265
                                         2018-05-16   1.031689  39.378674
                                         2018-05-17   1.033340  39.651173
NFLX   Netflix                           2018-05-16   0.801343  59.191282
       American Family Insurance Group   2018-05-16   0.801343  59.191282
       Netflix                           2018-05-15   0.800806  57.688748
       American Family Insurance Group   2018-05-15   0.800806  57.688748
       Netflix                           2018-05-17   0.802141  56.098201
       American Family Insurance Group   2018-05-17   0.802141  56.098201
       Netflix                           2018-05-18   0.803050  55.014101
       American Family Insurance Group   2018-05-18   0.803050  55.014101
                                         2018-05-21   0.803461  60.979718
       Netflix                           2018-05-21   0.803461  60.979718

                                                            CCI  Momentum  \
symbol name                              date
MKL    Markel                            2010-04-22  -41.682599 -355.6600
                                         2010-04-26   50.296733 -350.8700
                                         2010-04-21  -55.578710 -352.9500
                                         2010-04-23  156.414690 -356.4730
                                         2010-04-27  -13.279618 -350.9200
FMCC   Freddie Mac                       2008-09-17  -90.864417   -5.1100
JCP    Farmers Insurance Exchange        2018-05-21  -99.688474   -0.2900
                                         2018-05-18 -116.883117   -0.2800
FMCC   Freddie Mac                       2008-09-18  -36.394146   -4.6200
JCP    Farmers Insurance Exchange        2018-05-17 -119.877049   -0.3300
FMCC   Freddie Mac                       2008-09-16 -138.110292   -4.9204
JCP    Farmers Insurance Exchange        2018-05-15  107.487923   -0.0200
                                         2018-05-16  161.738351    0.0300
WMB    Williams                          2002-07-25  -64.780599   -2.3917
PGR    Progressive                       2006-05-12   -8.523692   -0.0560
FNMA   Fannie Mae                        2008-09-17  -97.521048   -6.8900
PGR    Progressive                       2006-05-15  166.666667    0.0425
                                         2006-05-17  -23.630318    0.0606
                                         2006-05-11  -10.707061    0.0139
                                         2006-05-16  112.282243    0.0379
FNMA   Fannie Mae                        2008-09-18  -44.762955   -5.9300
AIG    AIG                               2009-03-12   47.925763   -1.7114
FNMA   Fannie Mae                        2013-03-13  -47.313362    0.0071
FMCC   Freddie Mac                       2013-03-13  -72.961068    0.0049
                                         2008-09-19   78.939799   -4.5500
FNMA   Fannie Mae                        2008-11-20 -117.437722   -0.3800
AIG    AIG                               2009-03-11   77.150953   -0.7779
WMB    Williams                          2002-07-26  -47.035976   -2.3661
DAN    Dana                              2009-05-01   50.341538   -0.1198
PGR    Progressive                       2002-04-26  -55.438054   -0.0087
...                                                         ...       ...
DRI    Darden Restaurants                2018-05-16  -59.446675   -4.7700
WDC    Guardian Life Ins. Co. of America 2018-05-16  137.185473   10.2500
                                         2018-05-18   32.971165    7.4700
                                         2018-05-17   94.159957    9.5400
HSIC   Henry Schein                      2018-05-21 -109.711574   -4.8100
                                         2018-05-17 -137.827318   -2.7400
                                         2018-05-18  -69.251160   -3.6100
                                         2018-05-15   17.658839   -4.4200
                                         2018-05-16  -65.384615   -4.1900
WDC    Guardian Life Ins. Co. of America 2018-05-15  101.090984    3.1900
ORLY   OReilly Automotive               2018-05-15   71.136514   13.6900
                                         2018-05-17   90.499937   13.9500
                                         2018-05-16   66.933771   11.7600
                                         2018-05-18   24.795170   12.5800
                                         2018-05-21  152.713576   13.0100
GILD   CHS                               2018-05-21   62.278030    2.7500
                                         2018-05-15   87.925013   -5.5700
                                         2018-05-18  109.344874    2.6000
                                         2018-05-16   87.062485    0.6700
                                         2018-05-17   87.051186    2.4100
NFLX   Netflix                           2018-05-16   -3.752638   14.8300
       American Family Insurance Group   2018-05-16   -3.752638   14.8300
       Netflix                           2018-05-15 -136.643723   12.8300
       American Family Insurance Group   2018-05-15 -136.643723   12.8300
       Netflix                           2018-05-17  -48.879876   13.5300
       American Family Insurance Group   2018-05-17  -48.879876   13.5300
       Netflix                           2018-05-18  -95.968767    4.0900
       American Family Insurance Group   2018-05-18  -95.968767    4.0900
                                         2018-05-21  124.928266    5.5600
       Netflix                           2018-05-21  124.928266    5.5600

                                                     bbandlowerii  \
symbol name                              date
MKL    Markel                            2010-04-22     -7.171140
                                         2010-04-26      0.993666
                                         2010-04-21     -6.958924
                                         2010-04-23      0.983690
                                         2010-04-27      0.991658
FMCC   Freddie Mac                       2008-09-17      0.544430
JCP    Farmers Insurance Exchange        2018-05-21      0.937080
                                         2018-05-18      0.955338
FMCC   Freddie Mac                       2008-09-18      0.579779
JCP    Farmers Insurance Exchange        2018-05-17      0.971631
FMCC   Freddie Mac                       2008-09-16      0.721720
JCP    Farmers Insurance Exchange        2018-05-15      0.959410
                                         2018-05-16      0.884067
WMB    Williams                          2002-07-25     -1.196677
PGR    Progressive                       2006-05-12      0.997700
FNMA   Fannie Mae                        2008-09-17      0.773892
PGR    Progressive                       2006-05-15      0.984813
                                         2006-05-17      0.990945
                                         2006-05-11      0.995424
                                         2006-05-16      0.989972
FNMA   Fannie Mae                        2008-09-18      0.666660
AIG    AIG                               2009-03-12      0.793957
FNMA   Fannie Mae                        2013-03-13      0.987448
FMCC   Freddie Mac                       2013-03-13      0.972396
                                         2008-09-19      0.269304
FNMA   Fannie Mae                        2008-11-20      0.873766
AIG    AIG                               2009-03-11      0.760988
WMB    Williams                          2002-07-26      0.474725
DAN    Dana                              2009-05-01      0.901778
PGR    Progressive                       2002-04-26     -0.208242
...                                                           ...
DRI    Darden Restaurants                2018-05-16      0.974223
WDC    Guardian Life Ins. Co. of America 2018-05-16      0.870422
                                         2018-05-18      0.944846
                                         2018-05-17      0.890051
HSIC   Henry Schein                      2018-05-21      0.998719
                                         2018-05-17      0.994659
                                         2018-05-18      0.994772
                                         2018-05-15      0.985746
                                         2018-05-16      0.995287
WDC    Guardian Life Ins. Co. of America 2018-05-15      0.923465
ORLY   OReilly Automotive               2018-05-15      0.963517
                                         2018-05-17      0.986929
                                         2018-05-16      0.975909
                                         2018-05-18      0.996393
                                         2018-05-21      0.976154
GILD   CHS                               2018-05-21      0.989189
                                         2018-05-15      0.968807
                                         2018-05-18      0.980278
                                         2018-05-16      0.963508
                                         2018-05-17      0.976808
NFLX   Netflix                           2018-05-16      0.990807
       American Family Insurance Group   2018-05-16      0.990807
       Netflix                           2018-05-15      0.996175
       American Family Insurance Group   2018-05-15      0.996175
       Netflix                           2018-05-17      0.997440
       American Family Insurance Group   2018-05-17      0.997440
       Netflix                           2018-05-18      0.996634
       American Family Insurance Group   2018-05-18      0.996634
                                         2018-05-21      0.969522
       Netflix                           2018-05-21      0.969522

                                                     bbandupperii  3 MO  6 MO  \
symbol name                              date
MKL    Markel                            2010-04-22     14.621736  0.16  0.24
                                         2010-04-26      1.011417  0.16  0.25
                                         2010-04-21     19.945003  0.15  0.23
                                         2010-04-23      1.000749  0.16  0.26
                                         2010-04-27      1.008909  0.16  0.24
FMCC   Freddie Mac                       2008-09-17      2.373644  0.03  1.03
JCP    Farmers Insurance Exchange        2018-05-21      1.267720  1.93  2.14
                                         2018-05-18      1.204049  1.91  2.09
FMCC   Freddie Mac                       2008-09-18      1.492585  0.23  0.79
JCP    Farmers Insurance Exchange        2018-05-17      1.157737  1.92  2.10
FMCC   Freddie Mac                       2008-09-16      2.914182  0.84  1.52
JCP    Farmers Insurance Exchange        2018-05-15      1.006226  1.92  2.09
                                         2018-05-16      1.003880  1.92  2.09
WMB    Williams                          2002-07-25      5.965011  1.70  1.69
PGR    Progressive                       2006-05-12      1.006784  4.85  5.00
FNMA   Fannie Mae                        2008-09-17      2.054946  0.03  1.03
PGR    Progressive                       2006-05-15      1.000982  4.86  5.02
                                         2006-05-17      1.005871  4.83  5.00
                                         2006-05-11      1.003366  4.82  4.99
                                         2006-05-16      1.004665  4.83  4.99
FNMA   Fannie Mae                        2008-09-18      1.579054  0.23  0.79
AIG    AIG                               2009-03-12      1.098734  0.22  0.45
FNMA   Fannie Mae                        2013-03-13      1.016525  0.09  0.12
FMCC   Freddie Mac                       2013-03-13      1.062309  0.09  0.12
                                         2008-09-19      1.039569  0.99  1.54
FNMA   Fannie Mae                        2008-11-20      1.756537  0.03  0.52
AIG    AIG                               2009-03-11      1.073170  0.23  0.46
WMB    Williams                          2002-07-26      1.936572  1.69  1.68
DAN    Dana                              2009-05-01      1.092809  0.16  0.31
PGR    Progressive                       2002-04-26      3.015306  1.75  1.90
...                                                           ...   ...   ...
DRI    Darden Restaurants                2018-05-16      1.058155  1.92  2.09
WDC    Guardian Life Ins. Co. of America 2018-05-16      1.009421  1.92  2.09
                                         2018-05-18      1.048736  1.91  2.09
                                         2018-05-17      1.035238  1.92  2.10
HSIC   Henry Schein                      2018-05-21      1.019361  1.93  2.14
                                         2018-05-17      1.016354  1.92  2.10
                                         2018-05-18      1.020185  1.91  2.09
                                         2018-05-15      1.017898  1.92  2.09
                                         2018-05-16      1.014271  1.92  2.09
WDC    Guardian Life Ins. Co. of America 2018-05-15      1.006591  1.92  2.09
ORLY   OReilly Automotive               2018-05-15      1.011936  1.92  2.09
                                         2018-05-17      1.005185  1.92  2.10
                                         2018-05-16      1.016836  1.92  2.09
                                         2018-05-18      1.005210  1.91  2.09
                                         2018-05-21      1.000630  1.93  2.14
GILD   CHS                               2018-05-21      1.008682  1.93  2.14
                                         2018-05-15      1.009160  1.92  2.09
                                         2018-05-18      1.002727  1.91  2.09
                                         2018-05-16      1.009075  1.92  2.09
                                         2018-05-17      1.007511  1.92  2.10
NFLX   Netflix                           2018-05-16      1.006706  1.92  2.09
       American Family Insurance Group   2018-05-16      1.006706  1.92  2.09
       Netflix                           2018-05-15      1.016544  1.92  2.09
       American Family Insurance Group   2018-05-15      1.016544  1.92  2.09
       Netflix                           2018-05-17      1.012929  1.92  2.10
       American Family Insurance Group   2018-05-17      1.012929  1.92  2.10
       Netflix                           2018-05-18      1.017371  1.91  2.09
       American Family Insurance Group   2018-05-18      1.017371  1.91  2.09
                                         2018-05-21      1.002077  1.93  2.14
       Netflix                           2018-05-21      1.002077  1.93  2.14

                                                     1 YR  2 YR  3 YR  5 YR  \
symbol name                              date
MKL    Markel                            2010-04-22  0.45  1.07  1.64  2.57
                                         2010-04-26  0.47  1.09  1.67  2.60
                                         2010-04-21  0.44  1.03  1.60  2.52
                                         2010-04-23  0.46  1.10  1.68  2.61
                                         2010-04-27  0.42  1.03  1.55  2.46
FMCC   Freddie Mac                       2008-09-17  1.50  1.64  1.91  2.52
JCP    Farmers Insurance Exchange        2018-05-21  2.35  2.58  2.73  2.90
                                         2018-05-18  2.32  2.55  2.71  2.90
FMCC   Freddie Mac                       2008-09-18  1.53  1.78  2.05  2.67
JCP    Farmers Insurance Exchange        2018-05-17  2.32  2.57  2.75  2.94
FMCC   Freddie Mac                       2008-09-16  1.72  1.89  2.12  2.64
JCP    Farmers Insurance Exchange        2018-05-15  2.31  2.58  2.75  2.92
                                         2018-05-16  2.32  2.58  2.76  2.94
WMB    Williams                          2002-07-25  1.86  2.28  2.69  3.51
PGR    Progressive                       2006-05-12  5.00  5.01  5.03  5.08
FNMA   Fannie Mae                        2008-09-17  1.50  1.64  1.91  2.52
PGR    Progressive                       2006-05-15  5.01  4.99  5.01  5.04
                                         2006-05-17  4.99  4.97  5.00  5.03
                                         2006-05-11  4.99  4.99  5.01  5.04
                                         2006-05-16  4.98  4.96  4.97  4.99

In [33]:
    #x_train, x_test, y_train, y_test = train_test_split(clean_prices.loc[:,'EMA_ratio':'bbandlower'], clean_prices.loc[:,['7_day_target']], shuffle=False, test_size=90)
    test_size = 3
    # Get columns
    X = testML.copy().loc[:,'EMA_ratio':'10 YR'] 
    y = testML.copy().loc[:, ['perc_change']]

In [34]:
    # Get series of ingroup rownumbers
    X['num']= X.groupby(level=1).cumcount(ascending=False)
    
    testML.loc[ testML.EMA_ratio == testML.EMA_ratio.max() ]

                                                    EMA_ratio        RSI  \
symbol name                             date
NFLX   Netflix                          2003-01-22  40.748452  53.007067
       Thrivent Financial for Lutherans 2003-01-22  40.748452  53.007067

                                                          CCI  Momentum  \
symbol name                             date
NFLX   Netflix                          2003-01-22 -41.691894     0.045
       Thrivent Financial for Lutherans 2003-01-22 -41.691894     0.045

                                                    bbandlowerii  \
symbol name                             date
NFLX   Netflix                          2003-01-22      0.956294
       Thrivent Financial for Lutherans 2003-01-22      0.956294

                                                    bbandupperii  3 MO  6 MO  \
symbol name                             date
NFLX   Netflix                          2003-01-22      1.065671  1.17  1.19
       Thrivent Financial for Lutherans 2003-01-22      1.065671  1.17  1.19

                                                    1 YR  2 YR  3 YR  5 YR  \
symbol name                             date
NFLX   Netflix                          2003-01-22  1.31  1.66  2.09  2.94
       Thrivent Financial for Lutherans 2003-01-22  1.31  1.66  2.09  2.94

                                                    7 YR  10 YR  perc_change
symbol name                             date
NFLX   Netflix                          2003-01-22  3.49   3.95     1.081825
       Thrivent Financial for Lutherans 2003-01-22  3.49   3.95     1.081825

In [35]:
    # Filter
    X_train = X.loc[X.num > test_size ].drop(columns='num')
    X_test =  X.loc[X.num <= test_size ].drop(columns='num')
    y_train = y.loc[X.num > test_size ]
    y_test =  y.loc[X.num <= test_size ]
    
    X_test.head(25)

                                          EMA_ratio        RSI         CCI  \
symbol name                   date
MMM    3M                     2018-05-09   1.017004  43.134255   99.576427
                              2018-05-10   1.018187  45.983100  103.849913
                              2018-05-11   1.019292  46.217344   81.839948
                              2018-05-14   1.020254  47.352412   87.777878
AMRK   A-Mark Precious Metals 2018-05-09   1.078558  47.487678 -159.889558
                              2018-05-10   1.076514  53.555796  -45.454545
                              2018-05-11   1.074620  53.006100   29.482551
                              2018-05-14   1.073365  48.865097  -20.361991
ABM    ABM Industries         2018-05-09   1.122922  31.358218  143.589744
                              2018-05-10   1.124333  31.006196   54.112554
                              2018-05-11   1.125617  31.420736   25.641026
                              2018-05-14   1.126926  30.246468  -20.202020
ADP    ADP                    2018-05-09   0.955315  73.435166  108.103896
                              2018-05-10   0.953581  74.014323   95.485274
                              2018-05-11   0.951972  73.766902   64.925044
                              2018-05-14   0.950622  70.420488   11.395705
ACM    AECOM                  2018-05-09   1.000855  41.315491   33.333566
                              2018-05-10   1.002245  38.525495  -71.745336
                              2018-05-11   1.004111  34.360765 -114.203629
                              2018-05-14   1.006136  32.664164  -96.556218
AES    AES                    2018-05-09   0.956482  58.522568  -60.470325
                              2018-05-10   0.954856  63.322049   34.679587
                              2018-05-11   0.953385  62.671239   63.044406
                              2018-05-14   0.951871  63.870910   74.981142
AGCO   AGCO                   2018-05-09   1.032947  49.753829   92.159166

                                          Momentum  bbandlowerii  \
symbol name                   date
MMM    3M                     2018-05-09    4.5491      0.958069
                              2018-05-10    7.8865      0.964924
                              2018-05-11    8.9790      0.971578
                              2018-05-14   11.2934      0.978305
AMRK   A-Mark Precious Metals 2018-05-09   -0.9400      0.993876
                              2018-05-10   -0.5300      0.970156
                              2018-05-11   -0.6400      0.974566
                              2018-05-14   -0.3100      0.987356
ABM    ABM Industries         2018-05-09   -1.6400      0.988978
                              2018-05-10   -1.4500      0.991303
                              2018-05-11   -0.9000      0.991069
                              2018-05-14   -0.8400      0.999884
ADP    ADP                    2018-05-09   10.3400      0.966749
                              2018-05-10    8.7000      0.977905
                              2018-05-11    7.4600      0.981969
                              2018-05-14    8.6000      0.991920
ACM    AECOM                  2018-05-09   -1.2000      0.976625
                              2018-05-10   -1.0400      0.985286
                              2018-05-11   -1.7900      0.988077
                              2018-05-14   -1.4800      0.978210
AES    AES                    2018-05-09    0.1664      0.967855
                              2018-05-10    0.2679      0.948952
                              2018-05-11    0.1094      0.950678
                              2018-05-14    0.1100      0.946313
AGCO   AGCO                   2018-05-09   -0.1197      0.920665

                                          bbandupperii  3 MO  6 MO  1 YR  \
symbol name                   date
MMM    3M                     2018-05-09      1.009211  1.88  2.05  2.27
                              2018-05-10      1.005148  1.90  2.05  2.27
                              2018-05-11      1.008554  1.92  2.06  2.28
                              2018-05-14      1.006745  1.93  2.09  2.28
AMRK   A-Mark Precious Metals 2018-05-09      1.063267  1.88  2.05  2.27
                              2018-05-10      1.022669  1.90  2.05  2.27
                              2018-05-11      1.016744  1.92  2.06  2.28
                              2018-05-14      1.030022  1.93  2.09  2.28
ABM    ABM Industries         2018-05-09      1.003267  1.88  2.05  2.27
                              2018-05-10      1.005406  1.90  2.05  2.27
                              2018-05-11      1.005511  1.92  2.06  2.28
                              2018-05-14      1.006587  1.93  2.09  2.28
ADP    ADP                    2018-05-09      1.006928  1.88  2.05  2.27
                              2018-05-10      1.003820  1.90  2.05  2.27
                              2018-05-11      1.006754  1.92  2.06  2.28
                              2018-05-14      1.010669  1.93  2.09  2.28
ACM    AECOM                  2018-05-09      1.034107  1.88  2.05  2.27
                              2018-05-10      1.046809  1.90  2.05  2.27
                              2018-05-11      1.073517  1.92  2.06  2.28
                              2018-05-14      1.082469  1.93  2.09  2.28
AES    AES                    2018-05-09      1.047058  1.88  2.05  2.27
                              2018-05-10      1.027002  1.90  2.05  2.27
                              2018-05-11      1.027190  1.92  2.06  2.28
                              2018-05-14      1.021298  1.93  2.09  2.28
AGCO   AGCO                   2018-05-09      1.019382  1.88  2.05  2.27

                                          2 YR  3 YR  5 YR  7 YR  10 YR
symbol name                   date
MMM    3M                     2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
AMRK   A-Mark Precious Metals 2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
ABM    ABM Industries         2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
ADP    ADP                    2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
ACM    AECOM                  2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
AES    AES                    2018-05-09  2.54  2.68  2.84  2.96   3.00
                              2018-05-10  2.54  2.69  2.83  2.94   2.97
                              2018-05-11  2.54  2.69  2.84  2.94   2.97
                              2018-05-14  2.55  2.70  2.85  2.96   3.00
AGCO   AGCO                   2018-05-09  2.54  2.68  2.84  2.96   3.00

In [83]:
y_train.min()

ValueError: No axis named 6 for object type <class 'pandas.core.frame.DataFrame'>

In [78]:
y_train.head()

                        perc_change
symbol name date
MMM    3M   2000-10-16     0.974184
            2000-10-17     0.988259
            2000-10-18     0.989028
            2000-10-19     1.035843
            2000-10-20     1.071635

In [93]:
y_train.sort_values(['perc_change'], axis=1)

KeyError: 'perc_change'

In [36]:
X_train.head()

                        EMA_ratio        RSI         CCI  Momentum  \
symbol name date
MMM    3M   2000-10-16   0.977816  53.485608   26.875864    0.1633
            2000-10-17   0.977865  50.065508  -25.001901   -0.9375
            2000-10-18   0.977920  50.065508  -87.950702   -1.4274
            2000-10-19   0.978649  43.571262 -109.570935   -1.3883
            2000-10-20   0.979902  39.085852 -140.782875   -1.6136

                        bbandlowerii  bbandupperii  3 MO  6 MO  1 YR  2 YR  \
symbol name date
MMM    3M   2000-10-16      0.977027      1.020805  6.28  6.28  5.97  5.89
            2000-10-17      0.986199      1.026090  6.30  6.27  5.92  5.83
            2000-10-18      0.991149      1.011834  6.30  6.26  5.91  5.82
            2000-10-19      0.997906      1.044567  6.32  6.30  5.96  5.86
            2000-10-20      0.992356      1.073890  6.31  6.29  5.94  5.84

                        3 YR  5 YR  7 YR  10 YR
symbol name date
MMM    3M   2000-10-16  5.83  5.77  5.84   5.74
            2000-10-17  5.76  5.68  5.77   5.68
            2000-10-18  5.74  5.68  5.76   5.66
            2000-10-19  5.77  5.69  5.76   5.66
            2000-10-20  5.76  5.69  5.73   5.64

In [37]:
    %timeit
    forest = RandomForestRegressor()
    forest.fit(X_train,y_train)
    y_pred = forest.predict(X_test)
    y_pred = pd.DataFrame({'ans': y_pred})

C:\Users\Student\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
test.head()

                          open    high    low    close     volume  EMA_20  \
symbol name date
MMM    3M   2000-01-03   96.06   96.44  94.06  30.2529  1086700.0     NaN
            2000-01-04   92.88   94.81  90.63  29.0509  1356900.0     NaN
            2000-01-05   91.13   95.31  91.13  30.5318  1849700.0     NaN
            2000-01-06   94.31  102.50  94.31  32.3108  2987900.0     NaN
            2000-01-07  101.10  103.80  99.94  32.9519  2050600.0     NaN

                        EMA_50  EMA_200  EMA_ratio  RSI  ...    bbandupperii  \
symbol name date                                         ...
MMM    3M   2000-01-03     NaN      NaN        NaN  NaN  ...             NaN
            2000-01-04     NaN      NaN        NaN  NaN  ...             NaN
            2000-01-05     NaN      NaN        NaN  NaN  ...             NaN
            2000-01-06     NaN      NaN        NaN  NaN  ...             NaN
            2000-01-07     NaN      NaN        NaN  NaN  ...        1.027636

                        3 MO  6 MO  1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  30 YR
symbol name date
MMM    3M   2000-01-03  5.48  5.81  6.09  6.38  6.42  6.50  6.65   6.58   6.61
            2000-01-04  5.43  5.75  6.00  6.30  6.34  6.40  6.56   6.49   6.53
            2000-01-05  5.44  5.74  6.05  6.38  6.43  6.51  6.68   6.62   6.64
            2000-01-06  5.41  5.69  6.03  6.35  6.39  6.46  6.63   6.57   6.58
            2000-01-07  5.38  5.66  6.00  6.31  6.35  6.42  6.58   6.52   6.55

[5 rows x 26 columns]

In [224]:
#final = pd.DataFrame({'close':test.tail(90).reset_index().close, 'ratio':y_pred['ans']})
#final['pred_price']= final['close'] * final['ratio']

In [45]:
testML.head()

                        EMA_ratio        RSI         CCI  Momentum  \
symbol name date
MMM    3M   2000-10-16   0.977816  53.485608   26.875864    0.1633
            2000-10-17   0.977865  50.065508  -25.001901   -0.9375
            2000-10-18   0.977920  50.065508  -87.950702   -1.4274
            2000-10-19   0.978649  43.571262 -109.570935   -1.3883
            2000-10-20   0.979902  39.085852 -140.782875   -1.6136

                        bbandlowerii  bbandupperii  3 MO  6 MO  1 YR  2 YR  \
symbol name date
MMM    3M   2000-10-16      0.977027      1.020805  6.28  6.28  5.97  5.89
            2000-10-17      0.986199      1.026090  6.30  6.27  5.92  5.83
            2000-10-18      0.991149      1.011834  6.30  6.26  5.91  5.82
            2000-10-19      0.997906      1.044567  6.32  6.30  5.96  5.86
            2000-10-20      0.992356      1.073890  6.31  6.29  5.94  5.84

                        3 YR  5 YR  7 YR  10 YR  perc_change
symbol name date
MMM    3M   2000-10-16  5.83  5.77  5.84   5.74     0.974184
            2000-10-17  5.76  5.68  5.77   5.68     0.988259
            2000-10-18  5.74  5.68  5.76   5.66     0.989028
            2000-10-19  5.77  5.69  5.76   5.66     1.035843
            2000-10-20  5.76  5.69  5.73   5.64     1.071635

In [43]:
ml=test.sort_index(level=1, ascending=True)
ml=test.groupby(['name']).tail(1).loc[:,'EMA_ratio':'10 YR']  #tail to get the last date entry for each day

In [44]:
ml.head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandupper,bbandmiddle,bbandlower,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR
symbol,name,date,,,,,,,,,,,,,,,,,
MMM,3M,2018-05-21,1.027037,45.770639,49.303689,2.8502,202.478565,200.1971,197.915635,0.980946,1.003561,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
AMRK,A-Mark Precious Metals,2018-05-21,1.066445,50.944985,93.745309,-0.1600,13.579333,13.2200,12.860667,0.970616,1.024855,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
ABM,ABM Industries,2018-05-21,1.133097,32.279824,-88.414634,-0.1200,30.465837,30.0740,29.682163,0.988746,1.014851,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
ADP,ADP,2018-05-21,0.943618,74.537993,110.319246,3.2700,129.511012,128.1660,126.820988,0.984329,1.005208,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06
ACM,AECOM,2018-05-21,1.013332,39.804889,-28.078310,-1.1800,33.807218,33.3880,32.968782,0.988569,1.013710,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06

In [46]:
ml[ml.isnull().any(axis=1)].head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandupper,bbandmiddle,bbandlower,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR
symbol,name,date,,,,,,,,,,,,,,,,,
BRKA,Berkshire Hathaway,2018-05-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06

In [47]:
ml=ml.loc[ml['EMA_ratio'].notnull()]

In [48]:
ml.drop(['bbandupper','bbandmiddle','bbandlower'], axis=1, inplace=True)

In [49]:
ml['5dayforecast'] = forest.predict(ml)

In [50]:
ml.head()

,,,EMA_ratio,RSI,CCI,Momentum,bbandlowerii,bbandupperii,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,5dayforecast
symbol,name,date,,,,,,,,,,,,,,,
MMM,3M,2018-05-21,1.027037,45.770639,49.303689,2.8502,0.980946,1.003561,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,0.478512
AMRK,A-Mark Precious Metals,2018-05-21,1.066445,50.944985,93.745309,-0.1600,0.970616,1.024855,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,0.434409
ABM,ABM Industries,2018-05-21,1.133097,32.279824,-88.414634,-0.1200,0.988746,1.014851,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,0.529692
ADP,ADP,2018-05-21,0.943618,74.537993,110.319246,3.2700,0.984329,1.005208,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,0.559747
ACM,AECOM,2018-05-21,1.013332,39.804889,-28.078310,-1.1800,0.988569,1.013710,1.93,2.14,2.35,2.58,2.73,2.9,3.02,3.06,0.483178

In [51]:
prices.head()

                          open    high    low    close     volume  EMA_20  \
symbol name date
MMM    3M   2000-01-03   96.06   96.44  94.06  30.2529  1086700.0     NaN
            2000-01-04   92.88   94.81  90.63  29.0509  1356900.0     NaN
            2000-01-05   91.13   95.31  91.13  30.5318  1849700.0     NaN
            2000-01-06   94.31  102.50  94.31  32.3108  2987900.0     NaN
            2000-01-07  101.10  103.80  99.94  32.9519  2050600.0     NaN

                        EMA_50  EMA_200  EMA_ratio  RSI     ...       6 MO  \
symbol name date                                            ...
MMM    3M   2000-01-03     NaN      NaN        NaN  NaN     ...       5.81
            2000-01-04     NaN      NaN        NaN  NaN     ...       5.75
            2000-01-05     NaN      NaN        NaN  NaN     ...       5.74
            2000-01-06     NaN      NaN        NaN  NaN     ...       5.69
            2000-01-07     NaN      NaN        NaN  NaN     ...       5.66

                        1 YR  2 YR  3 YR  5 YR  7 YR  10 YR  30 YR  \
symbol name date
MMM    3M   2000-01-03  6.09  6.38  6.42  6.50  6.65   6.58   6.61
            2000-01-04  6.00  6.30  6.34  6.40  6.56   6.49   6.53
            2000-01-05  6.05  6.38  6.43  6.51  6.68   6.62   6.64
            2000-01-06  6.03  6.35  6.39  6.46  6.63   6.57   6.58
            2000-01-07  6.00  6.31  6.35  6.42  6.58   6.52   6.55

                        5_day_target  perc_change
symbol name date
MMM    3M   2000-01-03       32.7916     1.083916
            2000-01-04       32.2146     1.108902
            2000-01-05       32.3108     1.058267
            2000-01-06       32.3108     1.000000
            2000-01-07       31.8332     0.966051

[5 rows x 28 columns]

In [52]:
result=ml.join(prices, lsuffix='l',how ='left')

In [53]:
result[['close','5dayforecast']]

                                                        close  5dayforecast
symbol name                               date
MMM    3M                                 2018-05-21   201.76      0.478512
AMRK   A-Mark Precious Metals             2018-05-21    13.25      0.434409
ABM    ABM Industries                     2018-05-21    30.02      0.529692
ADP    ADP                                2018-05-21   128.84      0.559747
ACM    AECOM                              2018-05-21    33.35      0.483178
AES    AES                                2018-05-21    12.06      0.528485
AGCO   AGCO                               2018-05-21    68.05      0.280792
AIG    AIG                                2018-05-21    55.29      0.376636
AKS    AK Steel Holding                   2018-05-21     4.46      0.516800
T      AT&T                               2018-05-21    32.59      0.605499
ABBV   AbbVie                             2018-05-21   106.23      0.374697
ABT    Abbott Laboratories                2018-05-21    62.11      0.545390
ATVI   Activision Blizzard                2018-05-21    71.45      0.488137
ADBE   Adobe Systems                      2018-05-21   238.10      0.710483
AAP    Advance Auto Parts                 2018-05-21   119.15      0.438974
AET    Aetna                              2018-05-21   177.72      0.358061
AFL    Aflac                              2018-05-21    45.75      0.500075
APD    Air Products & Chemicals           2018-05-21   169.44      0.385074
APA    Airgas                             2018-05-21    44.28      0.273935
ALK    Alaska Air Group                   2018-05-21    57.94      0.393764
PRU    Albertsons Cos.                    2018-05-21   101.61      0.356048
AA     Alcoa                              2018-05-21    50.37      1.169743
Y      Alleghany                          2018-05-21   582.06      0.360683
ADS    Alliance Data Systems              2018-05-21   212.69      0.368867
ALL    Allstate                           2018-05-21    95.61      0.604448
ALLY   Ally Financial                     2018-05-21    27.10      0.513961
GOOGL  Alphabet                           2018-05-21  1084.01      0.358053
MO     Altria Group                       2018-05-21    55.64      0.477436
AFSI   AmTrust Financial Services         2018-05-21    13.84      0.432926
AMZN   Amazon.com                         2018-05-21  1585.46      1.149115
...                                                       ...           ...
GWW    W.W. Grainger                      2018-05-21   313.90      0.693542
WEC    WEC Energy Group                   2018-05-21    60.20      0.346008
WCC    WESCO International                2018-05-21    60.55      0.528186
WBA    Walgreens Boots Alliance           2018-05-21    64.50      0.318335
WMT    Walmart                            2018-05-21    84.51      0.447803
WM     Waste Management                   2018-05-21    82.34      0.591085
WCG    WellCare Health Plans              2018-05-21   217.95      0.587155
WFC    Wells Fargo                        2018-05-21    54.54      0.421734
WRK    WestRock                           2018-05-21    61.39      0.436698
CC     Western & Southern Financial Group 2018-05-21    52.52      0.517083
WDC    Western Digital                    2018-05-21    86.53      0.261123
FL     Western Refining                   2018-05-21    44.09      0.412308
WU     Western Union                      2018-05-21    20.14      0.539190
WY     Weyerhaeuser                       2018-05-21    36.82      0.560132
WHR    Whirlpool                          2018-05-21   164.95      0.270885
WFM    Whole Foods Market                 2017-08-28    41.99      1.017226
WMB    Williams                           2018-05-21    27.62      0.339593
WIN    Windstream Holdings                2018-05-21     1.48      2.953731
INT    World Fuel Services                2018-05-21    22.05      1.001529
WYN    Wyndham Worldwide                  2018-05-21   108.99      0.380629
XPO    XPO Logistics                      2018-05-21   110.31      0.924000
XEL    Xcel Energy                        2018-05-21    43.55      0.405460
XRX    Xerox                              2018-05-21    27.98      0.566887
YHOO   Yahoo                              2017-06-16    52.58      1.013941
YUM    Yum Brands                         2018-05-21    82.69      0.597168
YUMC   Yum China Holdings                 2018-05-21    38.90      0.448996
ZBH    Zimmer Biomet Holdings             2018-05-21   114.31      0.368728
EBAY   eBay                               2018-05-21    38.29      0.613697
IHRT   iHeartMedia                        2018-03-15     0.52      1.148716
CRM    salesforce.com                     2018-05-21   126.37      1.080580

[498 rows x 2 columns]

In [54]:
result=result[result.close.notnull()]

In [55]:
result=result[['close','5dayforecast']]

In [56]:
result.head()

                                           close  5dayforecast
symbol name                   date
MMM    3M                     2018-05-21  201.76      0.478512
AMRK   A-Mark Precious Metals 2018-05-21   13.25      0.434409
ABM    ABM Industries         2018-05-21   30.02      0.529692
ADP    ADP                    2018-05-21  128.84      0.559747
ACM    AECOM                  2018-05-21   33.35      0.483178

In [57]:
result['5day_price']=result['close']*result['5dayforecast']

In [58]:
result['5day%_change']=(result['5dayforecast']-1)*100

In [59]:
result

,,,close,5dayforecast,5day_price,5day%_change
symbol,name,date,,,,
MMM,3M,2018-05-21,201.76,0.478512,96.544669,-52.148756
AMRK,A-Mark Precious Metals,2018-05-21,13.25,0.434409,5.755920,-56.559097
ABM,ABM Industries,2018-05-21,30.02,0.529692,15.901360,-47.030779
ADP,ADP,2018-05-21,128.84,0.559747,72.117768,-44.025328
ACM,AECOM,2018-05-21,33.35,0.483178,16.113996,-51.682172
AES,AES,2018-05-21,12.06,0.528485,6.373527,-47.151516
AGCO,AGCO,2018-05-21,68.05,0.280792,19.107894,-71.920802
AIG,AIG,2018-05-21,55.29,0.376636,20.824190,-62.336426
AKS,AK Steel Holding,2018-05-21,4.46,0.516800,2.304930,-48.319963
T,AT&T,2018-05-21,32.59,0.605499,19.733224,-39.450065
ABBV,AbbVie,2018-05-21,106.23,0.374697,39.804023,-62.530337
ABT,Abbott Laboratories,2018-05-21,62.11,0.545390,33.874201,-45.460955
ATVI,Activision Blizzard,2018-05-21,71.45,0.488137,34.877363,-51.186336
ADBE,Adobe Systems,2018-05-21,238.10,0.710483,169.166046,-28.951682
AAP,Advance Auto Parts,2018-05-21,119.15,0.438974,52.303729,-56.102620
AET,Aetna,2018-05-21,177.72,0.358061,63.634582,-64.193911
AFL,Aflac,2018-05-21,45.75,0.500075,22.878428,-49.992507
APD,Air Products & Chemicals,2018-05-21,169.44,0.385074,65.246920,-61.492611
APA,Airgas,2018-05-21,44.28,0.273935,12.129832,-72.606523
ALK,Alaska Air Group,2018-05-21,57.94,0.393764,22.814705,-60.623568
PRU,Albertsons Cos.,2018-05-21,101.61,0.356048,36.177989,-64.395248
AA,Alcoa,2018-05-21,50.37,1.169743,58.919945,16.974280
Y,Alleghany,2018-05-21,582.06,0.360683,209.939235,-63.931685
ADS,Alliance Data Systems,2018-05-21,212.69,0.368867,78.454398,-63.113264
ALL,Allstate,2018-05-21,95.61,0.604448,57.791233,-39.555242
ALLY,Ally Financial,2018-05-21,27.10,0.513961,13.928331,-48.603946
GOOGL,Alphabet,2018-05-21,1084.01,0.358053,388.132700,-64.194731
MO,Altria Group,2018-05-21,55.64,0.477436,26.564551,-52.256379
AFSI,AmTrust Financial Services,2018-05-21,13.84,0.432926,5.991700,-56.707368
AMZN,Amazon.com,2018-05-21,1585.46,1.149115,1821.875725,14.911491
...,...,...,...,...,...,...
GWW,W.W. Grainger,2018-05-21,313.90,0.693542,217.702806,-30.645809
WEC,WEC Energy Group,2018-05-21,60.20,0.346008,20.829667,-65.399224
WCC,WESCO International,2018-05-21,60.55,0.528186,31.981684,-47.181364
WBA,Walgreens Boots Alliance,2018-05-21,64.50,0.318335,20.532614,-68.166489
WMT,Walmart,2018-05-21,84.51,0.447803,37.843862,-55.219664
WM,Waste Management,2018-05-21,82.34,0.591085,48.669978,-40.891453
WCG,WellCare Health Plans,2018-05-21,217.95,0.587155,127.970510,-41.284465
WFC,Wells Fargo,2018-05-21,54.54,0.421734,23.001380,-57.826585
WRK,WestRock,2018-05-21,61.39,0.436698,26.808863,-56.330245
CC,Western & Southern Financial Group,2018-05-21,52.52,0.517083,27.157183,-48.291730
WDC,Western Digital,2018-05-21,86.53,0.261123,22.594987,-73.887684
FL,Western Refining,2018-05-21,44.09,0.412308,18.178669,-58.769179
WU,Western Union,2018-05-21,20.14,0.539190,10.859295,-46.080959
WY,Weyerhaeuser,2018-05-21,36.82,0.560132,20.624076,-43.986756
WHR,Whirlpool,2018-05-21,164.95,0.270885,44.682412,-72.911542
WFM,Whole Foods Market,2017-08-28,41.99,1.017226,42.713331,1.722627
WMB,Williams,2018-05-21,27.62,0.339593,9.379546,-66.040746
WIN,Windstream Holdings,2018-05-21,1.48,2.953731,4.371523,195.373147
INT,World Fuel Services,2018-05-21,22.05,1.001529,22.083721,0.152929
WYN,Wyndham Worldwide,2018-05-21,108.99,0.380629,41.484809,-61.937051
XPO,XPO Logistics,2018-05-21,110.31,0.924000,101.926418,-7.600020
XEL,Xcel Energy,2018-05-21,43.55,0.405460,17.657762,-59.454049
XRX,Xerox,2018-05-21,27.98,0.566887,15.861497,-43.311306
YHOO,Yahoo,2017-06-16,52.58,1.013941,53.313025,1.394115
YUM,Yum Brands,2018-05-21,82.69,0.597168,49.379785,-40.283245
YUMC,Yum China Holdings,2018-05-21,38.90,0.448996,17.465955,-55.100372
ZBH,Zimmer Biomet Holdings,2018-05-21,114.31,0.368728,42.149278,-63.127217
EBAY,eBay,2018-05-21,38.29,0.613697,23.498460,-38.630295
IHRT,iHeartMedia,2018-03-15,0.52,1.148716,0.597332,14.871582
CRM,salesforce.com,2018-05-21,126.37,1.080580,136.552928,8.058026

In [60]:
prep = result[['close','5day_price','5day%_change']]
prep.sort_values("5day%_change",ascending=False, inplace=True)
prep.reset_index(inplace=True)
prep.set_index('name')
tdf=timedelta(days=5)
prep=prep[prep['date']>=(datetime.now()-tdf)]

C:\Users\Student\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [61]:
prep.shape

(481, 6)

In [62]:
prep.tail(20)

,symbol,name,date,close,5day_price,5day%_change
477,HTZ,Hertz Global Holdings,2018-05-21,16.52,4.653036,-71.833920
478,AGCO,AGCO,2018-05-21,68.05,19.107894,-71.920802
479,SNX,Synnex,2018-05-21,109.90,30.762700,-72.008463
480,AMGN,Amgen,2018-05-21,176.47,48.618323,-72.449525
481,RJF,Raymond James Financial,2018-05-21,100.64,27.717510,-72.458754
482,QCOM,Qualcomm,2018-05-21,57.71,15.848222,-72.538170
483,APA,Airgas,2018-05-21,44.28,12.129832,-72.606523
484,APA,Apache,2018-05-21,44.28,12.129832,-72.606523
485,ESRX,Express Scripts Holding,2018-05-21,76.52,20.732713,-72.905498
486,WHR,Whirlpool,2018-05-21,164.95,44.682412,-72.911542
487,SPR,Spirit AeroSystems Holdings,2018-05-21,87.86,23.680765,-73.047160
488,CHRW,C.H. Robinson Worldwide,2018-05-21,89.91,23.925051,-73.390000
489,CE,Celanese,2018-05-21,114.78,30.133765,-73.746502
490,WDC,Guardian Life Ins. Co. of America,2018-05-21,86.53,22.594987,-73.887684
491,WDC,Western Digital,2018-05-21,86.53,22.594987,-73.887684
492,DE,Deere,2018-05-21,158.33,40.981039,-74.116694
493,PKG,Packaging Corp. of America,2018-05-21,122.30,31.650108,-74.120925
494,AIZ,Assurant,2018-05-21,97.95,25.214039,-74.258255
495,FLR,Fluor,2018-05-21,50.12,11.894140,-76.268676
496,LRCX,Lam Research,2018-05-21,199.87,47.423707,-76.272724

In [63]:
prep.head(20)

,symbol,name,date,close,5day_price,5day%_change
0,SPTN,SpartanNash,2018-05-21,18.50,68.902798,272.447558
1,GE,General Electric,2018-05-21,15.26,50.709293,232.302048
2,CYH,Community Health Systems,2018-05-21,4.58,15.205080,231.988638
3,WIN,Windstream Holdings,2018-05-21,1.48,4.371523,195.373147
4,FMCC,Freddie Mac,2018-05-21,1.47,4.260997,189.863723
5,JCP,Farmers Insurance Exchange,2018-05-21,2.50,7.199016,187.960646
6,JCP,J.C. Penney,2018-05-21,2.50,7.199016,187.960646
7,FTR,Frontier Communications,2018-05-21,9.60,27.628945,187.801508
8,BBBY,Bed Bath & Beyond,2018-05-21,18.01,51.460882,185.735047
9,ODP,Office Depot,2018-05-21,2.41,6.019028,149.752213
10,SHLD,Sears Holdings,2018-05-21,3.63,9.003914,148.041701
11,RAD,Rite Aid,2018-05-21,1.70,4.170050,145.297071
12,DISH,DISH Network,2018-05-21,31.84,77.919230,144.721200
13,FNMA,Fannie Mae,2018-05-21,1.47,3.593909,144.483582
14,CORE,Core-Mark Holding,2018-05-21,18.24,44.337309,143.077354
15,OMI,Owens & Minor,2018-05-21,16.72,40.474220,142.070693
16,PDCO,Patterson,2018-05-21,22.10,43.666970,97.588101
17,CNC,Centene,2018-05-21,116.05,171.878377,48.107176
18,IEP,Icahn Enterprises,2018-05-21,69.75,102.949688,47.598120
19,THS,TreeHouse Foods,2018-05-21,46.83,64.886041,38.556569