In [1]:
import pandas as pd
import numpy as np
import csv
import urllib
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import time
import datetime

In [2]:
fileinput=r'C:\data\cash\prices.csv\prices.csv'
prices = pd.read_csv(fileinput)

In [3]:
prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [5]:
prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [6]:
prices['daily_change']=((prices['close']-prices['open'])/prices['open'])*100

In [42]:
prices.head(9)

,,open,close,low,high,volume,daily_change,flag
date,symbol,,,,,,,
2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,1.952520,True
2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,-4.199932,False
2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,-1.228733,False
2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,0.987184,True
2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,-1.743442,False
2016-01-12,WLTW,115.510002,115.550003,114.500000,116.059998,1098000.0,0.034630,True
2016-01-13,WLTW,116.459999,112.849998,112.589996,117.070000,949600.0,-3.099778,False
2016-01-14,WLTW,113.510002,114.379997,110.050003,115.029999,785300.0,0.766448,True
2016-01-15,WLTW,113.330002,112.529999,111.919998,114.879997,1093700.0,-0.705906,False

In [24]:
prices['date']=pd.to_datetime(prices['date'])

In [64]:
prices['rise']=(prices.close > prices.open)

In [73]:
prices.drop(columns=[''],inplace=True)

In [40]:
prices.set_index(['date','symbol'],inplace=True)

In [32]:
agga={
    'open':['min','max']}                    
priceagg=prices.groupby(['symbol',prices.date.dt.year,prices.date.dt.month]).agg(agga)

In [53]:
priceagg.columns

MultiIndex(levels=[['open'], ['min', 'max']],
           labels=[[0, 0], [0, 1]])

In [54]:
priceagg.head(3)

                       open
                        min        max
symbol date date
A      2010 1     28.929999  31.389999
            2     28.159999  31.290001
            3     31.429999  34.650000

In [68]:
prices.columns

Index(['open', 'close', 'low', 'high', 'volume', 'daily_change', 'flag',
       'rise'],
      dtype='object')

In [76]:
prices.head(3)

,,open,close,low,high,volume,daily_change,rise
date,symbol,,,,,,,
2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,1.952520,True
2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,-4.199932,False
2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,-1.228733,False

In [81]:
prices['prevprevday_daily_change']=(prices['daily_change'].groupby(level=1).shift(2))

In [82]:
prices.head()

,,open,close,low,high,volume,daily_change,rise,yday_daily_change,prevprevday_daily_change
date,symbol,,,,,,,,,
2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,1.952520,True,NaN,NaN
2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,-4.199932,False,1.952520,NaN
2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,-1.228733,False,-4.199932,1.952520
2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,0.987184,True,-1.228733,-4.199932
2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,-1.743442,False,0.987184,-1.228733

In [83]:
prices['2day_rise']=(prices.yday_daily_change >0) & (prices.prevprevday_daily_change>0)

In [87]:
prices.head(20)

,,open,close,low,high,volume,daily_change,rise,yday_daily_change,prevprevday_daily_change,2day_rise
date,symbol,,,,,,,,,,
2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,1.952520,True,NaN,NaN,False
2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,-4.199932,False,1.952520,NaN,False
2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,-1.228733,False,-4.199932,1.952520,False
2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,0.987184,True,-1.228733,-4.199932,False
2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,-1.743442,False,0.987184,-1.228733,False
2016-01-12,WLTW,115.510002,115.550003,114.500000,116.059998,1098000.0,0.034630,True,-1.743442,0.987184,False
2016-01-13,WLTW,116.459999,112.849998,112.589996,117.070000,949600.0,-3.099778,False,0.034630,-1.743442,False
2016-01-14,WLTW,113.510002,114.379997,110.050003,115.029999,785300.0,0.766448,True,-3.099778,0.034630,False
2016-01-15,WLTW,113.330002,112.529999,111.919998,114.879997,1093700.0,-0.705906,False,0.766448,-3.099778,False
2016-01-19,WLTW,113.660004,110.379997,109.870003,115.870003,1523500.0,-2.885806,False,-0.705906,0.766448,False
2016-01-20,WLTW,109.059998,109.300003,108.320000,111.599998,1653900.0,0.220067,True,-2.885806,-0.705906,False
2016-01-21,WLTW,109.730003,110.000000,108.320000,110.580002,944300.0,0.246056,True,0.220067,-2.885806,False
2016-01-22,WLTW,111.879997,111.949997,110.190002,112.949997,744900.0,0.062567,True,0.246056,0.220067,True
2016-01-25,WLTW,111.320000,110.120003,110.000000,114.629997,703800.0,-1.077971,False,0.062567,0.246056,True
2016-01-26,WLTW,110.419998,111.000000,107.300003,111.400002,563100.0,0.525269,True,-1.077971,0.062567,False
2016-01-27,WLTW,110.769997,110.709999,109.019997,112.570000,896100.0,-0.054164,False,0.525269,-1.077971,False
2016-01-28,WLTW,110.900002,112.580002,109.900002,112.970001,680400.0,1.514878,True,-0.054164,0.525269,False
2016-01-29,WLTW,113.349998,114.470001,111.669998,114.589996,749900.0,0.988093,True,1.514878,-0.054164,False
2016-02-01,WLTW,114.000000,114.500000,112.900002,114.849998,574200.0,0.438596,True,0.988093,1.514878,True
2016-02-02,WLTW,113.250000,110.559998,109.750000,113.860001,694800.0,-2.375278,False,0.438596,0.988093,True

In [88]:
prices_filtered = prices[prices['2day_rise'] == True]

In [89]:
prices_filtered

                         open       close         low        high      volume  \
date       symbol
2016-01-22 WLTW    111.879997  111.949997  110.190002  112.949997    744900.0
2016-01-25 WLTW    111.320000  110.120003  110.000000  114.629997    703800.0
2016-02-01 WLTW    114.000000  114.500000  112.900002  114.849998    574200.0
2016-02-02 WLTW    113.250000  110.559998  109.750000  113.860001    694800.0
2016-02-05 WLTW    115.120003  114.019997  109.709999  116.489998    997100.0
2016-02-12 WLTW    108.559998  107.839996  107.070000  109.430000    922400.0
2016-02-18 WLTW    111.120003  111.599998  108.930000  112.199997    440900.0
2016-02-19 WLTW    111.370003  110.330002  107.279999  112.400002   1244300.0
2016-02-26 WLTW    113.339996  112.750000  111.010002  114.180000    459900.0
2016-03-02 WLTW    115.349998  116.779999  115.199997  117.089996   1159600.0
2016-03-03 WLTW    116.489998  117.000000  115.419998  117.669998    884700.0
2016-03-04 WLTW    116.610001  117.190002  115.570000  117.480003    692000.0
2016-03-07 WLTW    116.050003  116.949997  115.989998  117.480003    898000.0
2016-03-08 WLTW    116.500000  116.709999  115.449997  117.370003    844500.0
2016-03-09 WLTW    117.050003  116.489998  115.500000  117.309998    796500.0
2016-03-15 WLTW    119.839996  120.699997  118.089996  120.760002    515800.0
2016-03-16 WLTW    120.349998  120.820000  119.010002  121.040001    562100.0
2016-03-17 WLTW    121.010002  124.029999  119.449997  124.410004    809300.0
2016-03-18 WLTW    124.250000  121.269997  120.089996  124.559998   1607300.0
2016-03-23 WLTW    121.470001  119.379997  119.099998  121.470001    444200.0
2016-04-13 WLTW    115.809998  117.989998  115.099998  118.010002    621700.0
2016-04-14 WLTW    118.160004  117.720001  117.169998  119.680000    358100.0
2016-04-19 WLTW    121.349998  121.680000  121.169998  122.419998    924600.0
2016-04-20 WLTW    121.099998  122.309998  121.019997  122.459999    658800.0
2016-04-21 WLTW    122.610001  123.010002  121.930000  124.129997   1055400.0
2016-04-22 WLTW    123.480003  123.790001  122.580002  124.739998    695300.0
2016-04-25 WLTW    123.199997  123.300003  122.169998  124.000000    460000.0
2016-04-26 WLTW    123.959999  124.400002  123.160004  124.459999    532900.0
2016-04-27 WLTW    124.589996  124.690002  123.129997  124.989998    462600.0
2016-04-28 WLTW    123.540001  124.150002  122.680000  124.620003    910700.0
...                       ...         ...         ...         ...         ...
2016-12-28 WMB      31.900000   31.040001   31.010000   32.209999   5154300.0
           WMT      69.940002   69.309998   69.260002   70.000000   4802900.0
           WRK      52.590000   51.529999   51.458000   52.590000    909000.0
           WU       22.219999   21.730000   21.690001   22.219999   2600600.0
           XLNX     62.139999   60.630001   60.590000   62.240002   2141000.0
           YHOO     39.119999   38.730000   38.709999   39.220001   4393500.0
           ZBH     102.839996  103.059998  102.839996  104.199997   1315600.0
2016-12-29 AGN     203.690002  207.210007  203.690002  208.360001   4829000.0
           COH      35.090000   35.009998   34.790001   35.380001   2179400.0
           CPB      60.560001   60.950001   60.480000   61.020000    940200.0
           GPS      22.770000   22.730000   22.549999   23.000000   3810500.0
           HAR     110.930000  111.059998  110.910004  111.250000    433100.0
           KORS     43.080002   42.840000   42.450001   43.380001   1232600.0
           MAC      69.059998   69.250000   68.709999   69.720001    611000.0
           PBCT     19.490000   19.370001   19.320000   19.590000   3154100.0
           RL       89.900002   90.739998   89.900002   91.070000    963300.0
           STZ     152.740005  153.740005  152.639999  153.919998    947600.0
           UAA      29.260000   29.230000   29.120001   29.440001   2725500.0
           URBN     28.920000   28.780001   28.490000   29.150000   1077300.0
           VFC      53.799999   53.630001   53.450001   54.090000   1450300.0
           ZBH     103.000000  103.500000  102.830002  103.739998    683300.0
2016-12-30 AGN     207.600006  210.009995  207.509995  212.449997   3968000.0
           CPB      60.930000   60.470001   60.330002   61.090000   1204500.0
           HAR     111.080002  111.160004  110.989998  111.309998    456200.0
           MAC      69.180000   70.839996   69.150002   70.900002    799700.0
           MKC      93.540001   93.330002   93.050003   93.709999    572200.0
           NEM      35.410000   34.070000   34.070000   36.090000  11055400.0
           RL       90.750000   90.320000   90.070000   91.470001    932400.0
           STZ     153.679993  153.309998  152.880005  154.119995   1145200.0
           ZBH     103.309998  103.199997  102.849998  103.930000    973800.0

                   daily_change   rise  yday_daily_change  \
date       symbol
2016-01-22 WLTW        0.062567   True           0.246056
2016-01-25 WLTW       -1.077971  False           0.062567
2016-02-01 WLTW        0.438596   True           0.988093
2016-02-02 WLTW       -2.375278  False           0.438596
2016-02-05 WLTW       -0.955530  False           1.428819
2016-02-12 WLTW       -0.663230  False           1.420051
2016-02-18 WLTW        0.431961   True           0.369932
2016-02-19 WLTW       -0.933825  False           0.431961
2016-02-26 WLTW       -0.520554  False           1.146953
2016-03-02 WLTW        1.239706   True           1.085154
2016-03-03 WLTW        0.437808   True           1.239706
2016-03-04 WLTW        0.497385   True           0.437808
2016-03-07 WLTW        0.775523   True           0.497385
2016-03-08 WLTW        0.180257   True           0.775523
2016-03-09 WLTW       -0.478432  False           0.180257
2016-03-15 WLTW        0.717624   True           0.174389
2016-03-16 WLTW        0.390529   True           0.717624
2016-03-17 WLTW        2.495659   True           0.390529
2016-03-18 WLTW       -2.398393  False           2.495659
2016-03-23 WLTW       -1.720593  False           0.363548
2016-04-13 WLTW        1.882394   True           0.695715
2016-04-14 WLTW       -0.372379  False           1.882394
2016-04-19 WLTW        0.271942   True           2.484789
2016-04-20 WLTW        0.999174   True           0.271942
2016-04-21 WLTW        0.326238   True           0.999174
2016-04-22 WLTW        0.251051   True           0.326238
2016-04-25 WLTW        0.081174   True           0.251051
2016-04-26 WLTW        0.354956   True           0.081174
2016-04-27 WLTW        0.080268   True           0.354956
2016-04-28 WLTW        0.493768   True           0.080268
...                         ...    ...                ...
2016-12-28 WMB        -2.695922  False           0.569623
           WMT        -0.900778  False           0.577192
           WRK        -2.015594  False           0.268557
           WU         -2.205216  False           0.547700
           XLNX       -2.429994  False           0.278372
           YHOO       -0.996930  False           0.855139
           ZBH         0.213926   True           0.594948
2016-12-29 AGN         1.728119   True           1.517339
           COH        -0.227991  False           1.384879
           CPB         0.643989   True           0.033054
           GPS        -0.175670  False           0.044072
           HAR         0.117189   True           0.063018
           KORS       -0.557108  False           0.185783
           MAC         0.275126   True           0.116063
           PBCT       -0.615695  False           0.051335
           RL          0.934367   True           0.088989
           STZ         0.654707   True           0.787038
           UAA        -0.102529  False           0.170238
           URBN       -0.484091  False           0.948703
           VFC        -0.315981  False           0.018591
           ZBH         0.485437   True           0.213926
2016-12-30 AGN         1.160881   True           1.728119
           CPB        -0.754963  False           0.643989
           HAR         0.072022   True           0.117189
           MAC         2.399532   True           0.275126
           MKC        -0.224502  False           0.817989
           NEM        -3.784242  False           6.011422
           RL         -0.473829  False           0.934367
           STZ        -0.240757  False           0.654707
           ZBH        -0.106477  False           0.485437

                   prevprevday_daily_change  2day_rise
date       symbol
2016-01-22 WLTW                    0.220067       True
2016-01-25 WLTW                    0.246056       True
2016-02-01 WLTW                    1.514878       True
2016-02-02 WLTW                    0.988093       True
2016-02-05 WLTW                    0.590938       True
2016-02-12 WLTW                    0.740180       True
2016-02-18 WLTW                    1.521397       True
2016-02-19 WLTW                    0.369932       True
2016-02-26 WLTW                    0.713190       True
2016-03-02 WLTW                    0.247699       True
2016-03-03 WLTW                    1.085154       True
2016-03-04 WLTW                    1.239706       True
2016-03-07 WLTW                    0.437808       True
2016-03-08 WLTW                    0.497385       True
2016-03-09 WLTW                    0.775523       True
2016-03-15 WLTW                    2.281017       True
2016-03-16 WLTW                    0.174389       True
2016-03-17 WLTW                    0.717624       True
2016-03-18 WLTW                    0.390529       True
2016-03-23 WLTW                    0.488165       True
2016-04-13 WLTW                    0.464462       True
2016-04-14 WLTW                    0.695715       True
2016-04-19 WLTW                    0.808508       True
2016-04-20 WLTW                    2.484789       True
2016-04-21 WLTW                    0.271942       True
2016-04-22 WLTW                    0.999174       True
2016-04-25 WLTW                    0.326238       True
2016-04-26 WLTW                    0.251051       True
2016-04-27 WLTW                    0.081174       True
2016-04-28 WLTW                    0.354956       True
...                                     ...        ...
2016-12-28 WMB                     4.330575       True
           WMT                     0.158434       True
           WRK                     1.012264       True
           WU                      0.367478       True
           XLNX                    0.298112       True
           YHOO                    0.520023       True
           ZBH                     0.738407       True
2016-12-29 AGN                     0.576908       True
           COH                     0.145391       True
           CPB                     0.398344       True
           GPS                     0.044033       True
           HAR                     0.036040       True
           KORS                    1.035777       True
           MAC                     1.232219       True
           PBCT                    0.567883       True
           RL                      0.144489       True
           STZ                     0.092715       True
           UAA                     0.929745       True
           URBN                    0.280112       True
           VFC                     0.749341       True
           ZBH                     0.594948       True
2016-12-30 AGN                     1.517339       True
           CPB                     0.033054       True
           HAR                     0.063018       True
           MAC                     0.116063       True
           MKC                     0.118689       True
           NEM                     0.521306       True
           RL                      0.088989       True
           STZ                     0.787038       True
           ZBH                     0.213926       True

[223175 rows x 10 columns]

In [95]:
agga={
    'daily_change':['mean']}                    
priceagg=prices_filtered.groupby(['symbol']).agg(agga)

In [96]:
priceagg

       daily_change
               mean
symbol
A         -0.039562
AAL       -0.068345
AAP        0.057397
AAPL      -0.017767
ABBV       0.114000
ABC        0.036765
ABT        0.042795
ACN        0.177423
ADBE       0.066473
ADI       -0.027078
ADM        0.041631
ADP        0.026340
ADS        0.111696
ADSK       0.287092
AEE        0.045301
AEP       -0.001294
AES       -0.035605
AET       -0.082506
AFL       -0.046540
AGN       -0.015647
AIG       -0.057050
AIV        0.130413
AIZ        0.000519
AJG        0.120669
AKAM       0.113525
ALB        0.042998
ALK        0.087338
ALL        0.011915
ALLE       0.045158
ALXN      -0.053558
...             ...
VZ         0.036671
WAT       -0.013720
WBA        0.019399
WDC        0.020172
WEC        0.039630
WFC       -0.046836
WFM        0.051907
WHR        0.101663
WLTW       0.015107
WM         0.097641
WMB        0.145315
WMT        0.007147
WRK       -0.288761
WU         0.035359
WY         0.122704
WYN        0.078462
WYNN      -0.075278
XEC        0.086601
XEL        0.032455
XL         0.047224
XLNX       0.059372
XOM       -0.010957
XRAY       0.089292
XRX       -0.083666
XYL        0.077115
YHOO       0.002410
YUM       -0.031375
ZBH        0.036184
ZION       0.137545
ZTS       -0.089223

[501 rows x 1 columns]